.summary-previous-step
  .summary-previous-step-content
    .summary-previous-step-image
      img(src='assets/images/John_Doe.jpg' alt='user-avatar')
    .summary-previous-step-name
      h2 Imie Nazwisko
      .summary-languages
        p Języki: pl, sk, cz, fr
    .summary-previous-step-edit
      .close-button
        .btn-handler
          a(data-ui-sref="#").pro-btn.btn-light.btn-icon
            i.icon.icon-edit-16
  .summary-previous-step-content
    .summary-previous-step-description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et orci at dolor blandit pellentesque. Nullam ante ipsum, pretium quis ornare a, sodales eget dolor. Nunc non ipsum blandit, faucibus nunc in, auctor dui.
      .summary-previous-step-quote
        i.icon.icon-quote-24

pro-service-provider-name(
data-queue="vm.queue"
data-order="1"
data-pro-model="vm.costModel"
data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_PLACEHOLDER"
data-error-message="DASHBOARD.SERVICE_PROVIDER.NAME.BAD_COMPANY_NAME"
tr-title="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME"
tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_DESCRIPTION"
required
)

pro-service-provider-languages(
data-queue="vm.queue"
data-order="2"
data-pro-model="vm.costModel"
data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_PLACEHOLDER"
tr-title="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_RANGE_TITLE"
tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_DESCRIPTION"
)

pro-service-provider-cost(
data-queue="vm.queue"
data-order="3"
data-pro-model="vm.costModel"
data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_COST_PLACEHOLDER"
data-error-message="DASHBOARD.SERVICE_PROVIDER.NAME.BAD_COMPANY_NAME"
tr-title="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_RANGE_COST_PER_MINUTE"
tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_COST_DESCRIPTION"
)

pro-bottom-summary-row(
data-width="vm.progressBarWidth"
data-queue="vm.queue"
data-button-action="vm.saveAccountObject"
)
