.manage-profile
  preloader-container(data-is-loading="vm.isLoading"
  data-is-error="vm.isError" data-error-message="DASHBOARD_CLIENT.ERROR_MESSAGE")
    .profile-section
      header.entry-title
        span(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.TITLE")

      .manage-profile-list
        .list-row.manage-row.organization-row(data-ng-show="vm.organizationName")
          .profile-preview
            user-avatar.thumb.x48(data-image-token="vm.organizationLogo")

            .profile-name
              span {{ vm.organizationName }}

          .manage-action.btn-handler
            a.btn.btn-link(
            data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.BUTTON.EDIT"
            data-ng-click="vm.openEditProfileModal()"
            )

        .list-row.manage-row.expert-row
          .profile-preview
            user-avatar.thumb.x48(data-image-token="vm.expertAvatar")

            .profile-name
              span {{ vm.expertName }}

          .manage-action.btn-handler
            a.btn.btn-link(
              data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.BUTTON.EDIT"
              data-ng-click="vm.openEditProfileModal()"
            )

    .consultation-section
      header.entry-title
        span(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.CONSULTATIONS.TITLE")
        a.btn.btn-small.btn-primary(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.BUTTON.ADD_NEW")

      single-service(data-ng-repeat="service in vm.services" data-service="service")
