plat-modal-component(
  [modalTrTitleHeader]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD.TITLE'",
  [modalContainerClass]="modalWidth",
)
  .change-password
    header.modal-component__content__header
      span([innerHTML]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD.DESCRIPTION' | translate")

    .modal-form
      form(
      [id]="passwordFormId",
      [formGroup]="passwordForm",
      novalidate,
      (ngSubmit)="onFormSubmit(passwordForm)",
      contentHeightAnimation
      )

        input(
        type="text",
        [value]="login"
        hidden
        )

        .modal-form__input-container
          am-core-input-password(
          label="DASHBOARD.SETTINGS.CHANGE_PASSWORD.CURRENT_PASSWORD.LABEL",
          placeholder="DASHBOARD.SETTINGS.CHANGE_PASSWORD.CURRENT_PASSWORD.PLACEHOLDER",
          [form]="passwordForm",
          [controlName]="currentPasswordControlName",
          [isDisabled]="isRequestPending",
          [initialFocus]="true"
          )

        am-core-input-set-password(
        label="DASHBOARD.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD.LABEL",
        placeholder="DASHBOARD.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD.PLACEHOLDER",
        [form]="passwordForm",
        [controlName]="newPasswordControlName",
        [isDisabled]="isRequestPending"
        )

        am-core-submit-button(
        titleText="DASHBOARD.SETTINGS.CHANGE_PASSWORD.SUBMIT_BUTTON",
        [formName]="passwordFormId",
        [isLoading]="isRequestPending"
        )
