.client-filters
  .client-filters-collapse.is-collapsed(data-ng-class="{'is-collapsed': $ctrl.showMobileFilters}")
    .client-filter
      .pro-dropdown
        dropdown-primary(
          data-label="{{ ::'DASHBOARD.CLIENT.FILTER.ACTIVITIES' | translate }}"
          data-main-list="$ctrl.activityTypesList"
          data-on-select-main="$ctrl.updateActivityTypeParam"
          data-placeholder="{{ ::'SEARCH.ALL' | translate }}"
          data-selected-item="$ctrl.selectedType"
          data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      .pro-dropdown
        dropdown-input(data-label="{{ ::'DASHBOARD.CLIENT.FILTER.EXPERTS' | translate }}"
        data-main-list="$ctrl.expertsDropdownList"
        data-on-select-main="$ctrl.updateProfileParam"
        data-placeholder="{{ 'SEARCH.ALL' | translate }}"
        data-selected-item="$ctrl.selectedExpert")

      .pro-dropdown
        dropdown-input(data-label="{{ ::'DASHBOARD.CLIENT.FILTER.CONSULTATIONS' | translate }}"
        data-main-list="$ctrl.servicesDropdownList"
        data-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        secondary-list="$ctrl.secondaryServicesDropdownList"
        data-on-select-main="$ctrl.mainUpdateServiceParam"
        data-on-select-second="$ctrl.secondUpdateServiceParam"
        data-selected-item="$ctrl.selectedService")

      div.filter-download
        .calendar
          pro-calendar(data-ng-model="$ctrl.filterModel.dateFrom"  data-placeholder="Placeholder" data-defaultValue="true"
          data-label="{{ ::'DASHBOARD.CLIENT.FILTER.FROM' | translate }}")
          pro-calendar(data-ng-model="$ctrl.filterModel.dateTo" data-placeholder="Placeholder" data-defaultValue="true"
          data-label="{{ ::'DASHBOARD.CLIENT.FILTER.TO' | translate }}")

        a.btn.btn-primary
          span.icon.icon-download-report-24

  .collapse-btn-filter(data-ng-click="$ctrl.showFilters()")
    .btn.btn-noborder
      span.icon.icon-filter-24.icon-24
      span(data-ng-show="$ctrl.showMobileFilters") {{:: 'SEARCH.MOBILE_FILTER_BUTTON.OPEN' | translate }}
      span(data-ng-show="!$ctrl.showMobileFilters") {{:: 'SEARCH.MOBILE_FILTER_BUTTON.CLOSE' | translate }}
