.pro-checkbox(data-ng-click="onClickCallback()")
  input(type='checkbox'
  id='{{id}}'
  data-ng-required="required"
  value="true"
  data-ng-model="ngModel"
  name="{{name}}")
  label.text(for='{{id}}' data-ng-bind-html="label")
  label(for='{{id}}')
