.pro-checkbox(data-ng-click="onClickCallback()")
  input(type='checkbox'
  id='{{id}}'
  data-ng-required="required"
  value="true"
  data-ng-model="ngModel"
  name="{{name}}"
  data-ng-checked="{{checked}}")
  label.checker(for='{{id}}')
  label.text(data-ng-show="label" for='{{id}}' data-ng-bind-html="label")
