.change-password
  header.modal-component__content__header
    span([innerHTML]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD.DESCRIPTION' | translate")

  .modal-form
    form(
      [id]="passwordFormId",
      [formGroup]="passwordForm",
      novalidate,
      (ngSubmit)="onFormSubmit(passwordForm)",
      contentHeightAnimation
    )

      input(
        type="text",
        [value]="msisdn"
        hidden
      )

      .modal-form__input-container
        am-core-input-password(
          label="DASHBOARD.SETTINGS.CHANGE_PASSWORD.CURRENT_PASSWORD.LABEL",
          placeholder="DASHBOARD.SETTINGS.CHANGE_PASSWORD.CURRENT_PASSWORD.PLACEHOLDER",
          [form]="passwordForm",
          [controlName]="currentPasswordControlName",
          [isDisabled]="isRequestPending",
          [initialFocus]="true"
        )

      plat-input-set-password(
        label="DASHBOARD.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD.LABEL",
        placeholder="DASHBOARD.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD.PLACEHOLDER",
        [form]="passwordForm",
        [controlName]="newPasswordControlName",
        [isDisabled]="isRequestPending"
      )

      am-core-submit-button(
        titleText="DASHBOARD.SETTINGS.CHANGE_PASSWORD.SUBMIT_BUTTON",
        [formName]="passwordFormId",
        [isLoading]="isRequestPending"
      )

  .forgot-password
    p([translate]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD.FORGOT_PASSWORD'")
    a.forgot-password__link(
      (click)="onResetPassword()",
      [translate]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD.RESET_PASSWORD'"
    )
