.grid-advice-tile
  .advice-tile-label(data-translate="HOME.ADVICE_TILE_LABEL")
  .news-inner
    .advice-tile-title="{{ngModel.title}}"
    p.advice-tile-desc="{{ngModel.teaser}}"
    .additional-info.flex-row
      .comments-counter
        span.icon.icon-comments-16
        p="{{ngModel.numberOfComments}}"
      .fav-couner
        span.icon.icon-heart-16
        p="{{ngModel.numberOfLikes}}"
      .when-published
        span.icon.icon-time-16
        p="{{ngModel.publishDate}}"
  
    
      
