.calendar-container
  .input-group(data-ng-click='open1()')
    input(type='text' uib-datepicker-popup='{{format}}'
    data-ng-model='ngModel')
    label {{label}}

  input(type='text' uib-datepicker-popup='{{format}}'
  data-ng-model='ngModel' is-open='popup1.opened' datepicker-options='dateOptions'
  datepicker-popup-template-url="{{ popupTemplate }}"
  datepicker-template-url="{{ template }}"
  data-ng-required='true' close-text='Close' alt-input-formats='altInputFormats'
  popup-placement="" class="calendar-input")


