.security-options.security
  h2(data-translate="SETTINGS.SECURITY.TITLE")

  .settings-row
    .settings-icon
      span.icon.icon-lock-24

    .settings-data
      span.name(data-translate="SETTINGS.SECURITY.PASSWORD.LABEL")

    a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openSecurityChangePasswordSettingsModal()")

  .settings-row(data-ng-if="vm.hasMobilePin")
    .settings-icon
      span.icon.icon-pin-number-24

    .settings-data
        span.name(data-translate="SETTINGS.SECURITY.PIN_NUMBER.LABEL")

    a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openSecurityPinSecuritySettingsModal()")

.security-options.manage-devices
  h2(data-translate="SETTINGS.SECURITY.MANAGE_DEVICES.TITLE")
  manage-devices(
    data-on-device-remove="vm.removeSession"
    data-ng-repeat="session in vm.sessions"
    data-device="{{ session.device }}"
    data-api-key="session.apiKey"
    data-device-in-use-status="session.status"
    data-device-localization="{{ session.city }}"
    data-device-system="{{ session.system }}")
