.security-options.security
  h2(data-translate="SETTINGS.SECURITY.TITLE")

  .settings-row
    .settings-icon
      span.icon.icon-lock-24

    .settings-data
      span.name(data-translate="SETTINGS.SECURITY.PASSWORD.LABEL")

    a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openSecurityChangePasswordSettingsModal()")

  .settings-row(data-ng-if="vm.hasMobilePin")
    .settings-icon
      span.icon.icon-pin-number-24

    .settings-data
      span.name(data-translate="SETTINGS.SECURITY.PIN_NUMBER.LABEL")

    a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openSecurityPinSecuritySettingsModal()")

.security-options.manage-devices
  h2(data-translate="SETTINGS.SECURITY.MANAGE_DEVICES.TITLE")
  manage-devices(
    data-device="mobile"
    data-device-in-use-status="true"
    data-device-localization="Kraków"
    data-device-system="IOS"
  )
