.new-password
  .phone-handler
    p {{'REGISTER.USER_PHONE' | translate}} {{vm.msisdn.prefix}} {{vm.msisdn.number}}
      span.icon.icon-tiny.icon-success-12
  form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.completeRegistration()" novalidate)
    input-password(
    data-id="password"
    data-ng-model="vm.password"
    data-input-text="REGISTER.SERVICE_PASSWORD"
    data-placeholder="REGISTER.SERVICE_PASSWORD_PLACEHOLDER"
    data-is-valid="vm.checkIsPasswordCorrect() || !vm.isServerError"
    data-validation-text="REGISTER.VALID_PASSWORD"
    data-is-submitted="passwordForm.$submitted"
    data-on-change="vm.onPasswordChange"
    auto-focus
    )

    password-strength-bar(data-current-class = "vm.passwordStrength")

    checkbox(
      id="acceptRules"
      data-input-text="LOGIN.ACCEPT_RULES"
      data-ng-model="vm.rulesAccepted"
      data-name="acceptRules"
      data-ng-required="vm.isRequired"
      data-validation="!vm.rulesAccepted"
      data-alert-text="REGISTER.VALID_CHECKBOX"
    )

    button.btn.btn-default(
      data-ng-disabled="!vm.checkIsPasswordCorrect()"
      data-translate="LOGIN.NEXT" type="submit")
