.input-group.pro-input-password(class="{{focus ? 'on-focus' : ''}} {{onClick ? 'on-click' : ''}} {{label ? 'is-label' : ''}}"
data-ng-mouseover="onMouseover()"
data-ng-mouseleave="onMouseout()")
  input(placeholder="{{placeholder}}"
  data-ng-model="ngModel"
  data-ng-class="{label: label.length > 0}"
  type='{{inputType}}'
  data-ng-focus="onFocus()"
  data-ng-blur="onFocusOut()"
  data-ng-change="onChange(ngModel)"
  data-ng-required="required"
  data-ng-pattern="ngPattern"
  name="{{id}}"
  id="{{id}}")
  label(for="{{id}}") {{label}}

  span.input-group-addon.active-addon(data-ng-click="passwordHandler()")
    span.icon(data-ng-class="{'icon-password-hide-24': inputType == 'text', 'icon-password-show': inputType == 'password'}")
    span.cross-addon.icon-close-16(data-ng-show="proModel" data-ng-click="proModel=''")
