.input-group(data-ng-click="focusInput()" class="{{focus ? 'onFocus' : ''}} {{onOut ? 'onFocusOut' : ''}}")

  input(placeholder="{{placeholder}}"
  data-ng-model="proModel"
  type='{{inputType}}'
  data-ng-focus="onFocus()"
  data-ng-blur="onFocusOut()"
  data-ng-change="onChange(proModel)"
  data-ng-required="required"
  name="{{name}}")

  label {{label}}

  span.input-group-addon.active-addon(data-ng-click="passwordHandler()")
    i.icon(data-ng-class="{'icon-password-hide-24': inputType == 'text', 'icon-password-show': inputType == 'password'}")
  span.cross-addon.icon.icon-tiny-close.icon-tiny(data-ng-show="proModel" data-ng-click="proModel=''")
