.input-consultation-employee
  .input-handler
    input(
      autocomplete="off"
      data-ng-model="$ctrl.inputValue"
      data-ng-enter="$ctrl.onEnter($ctrl.inputValue)"
      data-ng-blur="$ctrl.onBlur()"
      data-ng-focus="$ctrl.onFocus()"
    )
    a.btn.add-link(data-ng-click="$ctrl.onEnter($ctrl.inputValue)")
      span.icon.icon-plus-24
    a.btn.btn-default.btn-small(
      data-ng-click="$ctrl.onEnter($ctrl.inputValue)"
      data-translate="INTERFACE.INPUT_CONSULTATION_EMPLOYEE.ADD_BUTTON"
    )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.UPLOAD_FILE_IS_INVALID"
  data-is-visible="$ctrl.isUploadFileIsInvalid"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.SOME_FILES_ARE_INVALID"
  data-is-visible="$ctrl.areUploadedFilesInvalid"
  data-additional-text="{{ $ctrl.wrongValuesCounter }}"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.EMPLOYEE_INPUT_VALUE_INVALID"
  data-is-visible="$ctrl.isInputValueInvalid"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.INVITATIONS_INPUT_VALIDATION.EMPLOYEE_EXIST"
  data-is-visible="$ctrl.isValidEmployee"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.INVITATIONS_INPUT_VALIDATION.TOO_MUCH_EMPLOYEES"
  data-is-visible="$ctrl.isMaxConsultationCountError"
  )

  .invited-list
    ul.tag-list
      li(data-ng-repeat="tag in $ctrl.addedItemsList")
        a(data-ng-click="$ctrl.deleteSelectedItem($index)") {{tag}}
          span.icon.icon-failure-24

  .options-container
    checkbox(
      data-ng-show="$ctrl.isCheckboxVisible"
      data-input-text="WIZARD.CONSULTATION.EMPLOYEE.MYSELF.TITLE"
      data-ng-model="$ctrl.isOwnerEmployee"
    )

    button.btn.btn-small.btn-primary(data-translate="WIZARD.CONSULTATION.EMPLOYEE.BUTTON.UPLOAD"
    ngf-select="$ctrl.uploadCSVFile($files)"
    ngf-accept="'.csv'"
    type="button")


  validation-alert(
    data-alert-text="{{$ctrl.validationText}}"
    data-is-visible="!$ctrl.isValid && $ctrl.isDirty && !$ctrl.isFocus ||" +
    "!$ctrl.isValid && $ctrl.isSubmitted && !$ctrl.isFocus"
  )
