.set-new-password-from-msisdn
  login-background
    login-content(
      titleText="FORGOT_PASSWORD.SET_PASSWORD.TITLE",
      subTitle="ACCOUNT.SET_PASSWORD.SUBTITLE"
    )
      form(
        [id]="setPasswordFormId",
        [formGroup]="setPasswordForm",
        novalidate,
        (ngSubmit)="onFormSubmit(setPasswordForm)")

        .input-icon-container
          span.icon.icon-lock-closed
          input-set-password(
            label="LOGIN.PASSWORD.ENTER_PASSWORD.LABEL",
            placeholder="LOGIN.PASSWORD.ENTER_PASSWORD.PLACEHOLDER",
            [form]="setPasswordForm",
            [controlName]="passwordControlName",
            [isDisabled]="isRequestPending",
            [initialFocus]="isInputInitialFocused"
          )

        submit-button(
          titleText="FORGOT_PASSWORD.SET_PASSWORD.SUBMIT_BUTTON",
          [formName]="setPasswordFormId",
          [isLoading]="isRequestPending"
        )
