scrollable.country-settings(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-settings
    .container-small
      header.entry-title
        span(data-translate="SETTINGS.GENERAL.CONUTRY_SETTINGS.TITLE")

      form.input-form(name="countryForm" ng-submit="vm.setNewCountry()" novalidate)
        dropdown-primary.country(
          data-label="{{:: 'SETTINGS.GENERAL.CONUTRY_SETTINGS.LABEL' | translate }}"
          data-main-list="vm.countryList"
          data-selected-item="vm.selectedCountry"
          data-on-select-main="vm.updateCountry"
          data-input-placeholder="Poland")

        validation-alert(
        data-alert-text="SETTINGS.GENERAL.PHONE_SETTINGS.NUMBER_EXIST_VALIDATION"
        data-is-visible="phoneNumberForm.$submitted && !vm.isNumberExist"
        )

        button.btn.btn-default(data-translate="SETTINGS.GENERAL.CONUTRY_SETTINGS.BUTTON" type="submit")
