.payu-payment-form
  form(name="paymentForm" data-ng-submit="$ctrl.sendPayment()" novalidate)
    choose-bank.modal-container(data-title="DASHBOARD.CHARGE_ACCOUNT.CHOOSE_YOUR_BANK", data-payments-links="$ctrl.paymentsLinks",
    data-bank-model = "$ctrl.bankModel", id="bankValid" data-on-bank-select="$ctrl.scrollOnBankSelect")
      validation-alert(data-alert-text="DASHBOARD.CHARGE_ACCOUNT.EMPTY_BANK_ERROR"
      data-is-visible="paymentForm.$submitted && !$ctrl.bankModel")


    .payment-personal-data.modal-container#personal-data
      header.entry-title
        span(data-translate="DASHBOARD.CHARGE_ACCOUNT.WRITE_YOUR_PERSONAL_DATA")

      .your-personal-data
        .personal-data-item.name
          input-primary(
          data-type="text"
          data-id="firstName"
          data-placeholder="DASHBOARD.CHARGE_ACCOUNT.NAME_PLACEHOLDER"
          data-ng-model="$ctrl.firstNameModel"
          data-input-text="DASHBOARD.CHARGE_ACCOUNT.NAME_PLACEHOLDER"
          data-is-valid="paymentForm.$submitted && $ctrl.firstNameModel || $ctrl.firstNameModel"
          data-is-submitted="paymentForm.$submitted"
          data-validation-text="DASHBOARD.CHARGE_ACCOUNT.NAME_INPUT_ERROR"
          data-ng-required="true"
          data-ng-enter="$ctrl.onEnter(1)"
          data-index="1"
          )

        .personal-data-item.surname
          input-primary(
          data-type="text"
          data-id="lastName"
          data-placeholder="DASHBOARD.CHARGE_ACCOUNT.LASTNAME_PLACEHOLDER"
          data-ng-model="$ctrl.lastNameModel"
          data-input-text="DASHBOARD.CHARGE_ACCOUNT.LASTNAME_PLACEHOLDER"
          data-is-valid="paymentForm.$submitted && $ctrl.lastNameModel || $ctrl.lastNameModel"
          data-is-submitted="paymentForm.$submitted"
          data-validation-text="DASHBOARD.CHARGE_ACCOUNT.LAST_NAME_INPUT_ERROR"
          data-ng-required="true"
          data-ng-enter="$ctrl.onEnter(2)"
          data-index="2"
          )

        .personal-data-item.address-email
          input-primary(
          data-type="text"
          data-id="email"
          data-placeholder="DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER"
          data-ng-model="$ctrl.emailModel"
          data-input-text="DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER"
          data-is-valid="paymentForm.$submitted && $ctrl.emailModel && $ctrl.checkIsEmailValid() || $ctrl.emailModel && $ctrl.checkIsEmailValid()"
          data-is-submitted="paymentForm.$submitted"
          data-validation-text="DASHBOARD.CHARGE_ACCOUNT.EMAIL_ERROR"
          data-ng-required="true"
          data-ng-enter="$ctrl.onEnter(3)"
          data-index="3"
          )

      .your-personal-data-footer
        checkbox(
        id="acceptRules"
        data-input-text='DASHBOARD.CHARGE_ACCOUNT.ACCEPT_RULES'
        data-ng-model='$ctrl.rulesAccepted'
        data-name='acceptRules'
        data-validation='!$ctrl.rulesAccepted && paymentForm.$submitted'
        data-ng-required="$ctrl.isRequired"
        data-alert-text="DASHBOARD.CHARGE_ACCOUNT.RULES_ERROR"
        )

        checkbox(
        id="needInvoice"
        data-input-text='DASHBOARD.CHARGE_ACCOUNT.CHECKBOX.COMPANY_INVOICE'
        data-ng-model='$ctrl.showInvoiceForm'
        data-name='showInvoiceForm'
        )

        .invoice-form(data-ng-show="$ctrl.showInvoiceForm")
          .invoice-form-company-info
            header.entry-title
              span(data-translate="DASHBOARD.CHARGE_ACCOUNT.INVOICE.TITLE")

            dropdown-primary(
            data-label="{{ ::'DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COUNTRY.LABEL' | translate }}"
            data-main-list="$ctrl.countryList"
            data-on-select-main="$ctrl.onSelectCountry"
            data-selected-item="$ctrl.selectedCountry"
            data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
            )

            .vat-input-handler
              div
                input-primary(
                data-type="text"
                data-id="vatNumber"
                data-is-submitted="paymentForm.$submitted"
                data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.TAX_NUMBER.PLACEHOLDER"
                data-ng-model="$ctrl.vatNumber"
                data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.TAX_NUMBER.LABEL"
                data-is-valid="paymentForm.$submitted && $ctrl.vatNumber || $ctrl.vatNumber"
                data-validation-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.VAT.VALIDATION"
                data-ng-required="$ctrl.showInvoiceForm"
                )

                a.btn.btn-primary(data-translate="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COUNTRY.BUTTON")

              // TODO on GUS API IMPLEMENT
              //p(data-translate="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.NO_VAT.DESCRIPTION")
              input-primary(
              data-type="text"
              data-id="companyName"
              data-is-submitted="paymentForm.$submitted"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.PLACEHOLDER"
              data-ng-model="$ctrl.companyName"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.LABEL"
              data-is-valid="paymentForm.$submitted && $ctrl.companyName || $ctrl.companyName"
              data-validation-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.COMPANY_NAME.VALIDATION"
              data-ng-required="$ctrl.showInvoiceForm"
              )

          .invoice-form-address
            header.entry-title
              span(data-translate="DASHBOARD.CHARGE_ACCOUNT.INVOICE.ADDRESS.TITLE")

            input-primary(
            data-type="text"
            data-id="street"
            data-is-submitted="paymentForm.$submitted"
            data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.STREET.PLACEHOLDER"
            data-ng-model="$ctrl.street"
            data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.STREET.LABEL"
            data-is-valid="paymentForm.$submitted && $ctrl.street || $ctrl.street"
            data-validation-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.STREET.VALIDATION"
            data-ng-required="$ctrl.showInvoiceForm"
            )

            .invoice-address-nr
              input-primary(
              data-type="text"
              data-id="apartmentNumber"
              data-is-submitted="paymentForm.$submitted"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.NUMBER.PLACEHOLDER"
              data-ng-model="$ctrl.apartmentNumber"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.NUMBER.LABEL"
              data-is-valid="paymentForm.$submitted && $ctrl.apartmentNumber || $ctrl.apartmentNumber"
              data-validation-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.APARTMENT_NUMBER.VALIDATION"
              data-ng-required="$ctrl.showInvoiceForm"
              )

              input-primary(
              data-type="text"
              data-id="postalCode"
              data-is-submitted="paymentForm.$submitted"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.ZIP_CODE.PLACEHOLDER"
              data-ng-model="$ctrl.postalCode"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.ZIP_CODE.LABEL"
              data-is-valid="paymentForm.$submitted && $ctrl.postalCode || $ctrl.postalCode"
              data-validation-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.POSTAL_CODE.VALIDATION"
              data-ng-required="$ctrl.showInvoiceForm"
              )

            input-primary(
            data-type="text"
            data-id="city"
            data-is-submitted="paymentForm.$submitted"
            data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.CITY.PLACEHOLDER"
            data-ng-model="$ctrl.city"
            data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.CITY.LABEL"
            data-is-valid="paymentForm.$submitted && $ctrl.city || $ctrl.city"
            data-validation-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.CITY.VALIDATION"
            data-ng-required="$ctrl.showInvoiceForm"
            )

          // TODO on GUS API IMPLEMENT
          //.invoice-tax
          //  p VAT23

    summary-charge-account(data-amount="$ctrl.amountMethodModal.amountModel.amount || " +
      "$ctrl.amountMethodModal.amountModel.cashAmount" data-btn-title="DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT")
