.summary
  profile-header-edit(
    data-profile-details="vm.wizardProfileData"
    data-profile-type="vm.isExpertWizardPath"
    data-on-delete="vm.onMainProfileDelete"
    data-on-edit="vm.onMainProfileEdit"
  )
  .container(data-ng-if="vm.isConsultation")
    single-consultation-edit(
    data-ng-repeat="service in vm.services"
    data-service="service"
    data-on-remove="vm.removeConsultation"
    data-on-edit="vm.editConsultation"
    data-is-company="!vm.isExpertWizardPath")

  .container(data-ng-if="vm.isConsultationInvitationAccepted")
    single-consultation-edit(
    data-ng-repeat="service in vm.acceptedServices"
    data-service="service"
    data-is-company="false")

  .container
    .add-new-consultation(data-ng-show="!vm.isConsultation")
      p(data-translate="WIZARD.SUMMARY.ADD.TITLE")
      a.btn.btn-default(data-translate="WIZARD.SUMMARY.ADD.BUTTON" data-ui-sref="app.wizard.consultation")

  .company-with-expert
    .container(data-ng-if="vm.isCompanyWithExpert")
      .add-new-consultation
        a.btn.btn-primary(data-translate="WIZARD.SUMMARY.ADD.ANOTHER.BUTTON"
        data-ng-if="vm.isCompanyWithExpert && vm.isConsultation" data-ui-sref="app.wizard.consultation")

    profile-header-edit(
      data-ng-if="vm.isCompanyWithExpert"
      data-profile-details="vm.wizardExpertProfileData"
      data-profile-type="true"
      data-on-delete="vm.onSecondProfileDelete"
      data-on-edit="vm.onSecondProfileEdit"
    )

    .container
      .add-another-consultation(data-ng-show="vm.isConsultation || vm.isConsultationInvitationAccepted")
        .btn-handler
          a.btn.btn-primary(data-translate="WIZARD.SUMMARY.ADD.ANOTHER.BUTTON"  data-ng-if="!vm.isCompanyWithExpert"
          data-ui-sref="app.wizard.consultation")
          a.btn.btn-default(data-translate="WIZARD.SUMMARY.ADD.ANOTHER.BUTTON.SAVE" data-ng-click="vm.saveWizard()"
          data-ng-if="!vm.isUserShouldCreateExpert")
          a.btn.btn-default(data-translate="WIZARD.SUMMARY.CREATE_EXPERT.BUTTON"
          data-ui-sref="app.wizard.create-profile.expert" data-ng-if="vm.isUserShouldCreateExpert")

      validation-alert(
      data-alert-text="WIZARD.SUMMARY.VALIDATE_FORM"
      data-is-visible="vm.isWizardInvalid"
      )
