.grid-news-tile
  .news-tile-label(data-translate="HOME.NEWS_TILE_LABEL")
  .news-inner
    .news-tile-title="{{ngModel.title}}"
    p.news-tile-desc="{{ngModel.teaser}}"
    .additional-info.flex-row
      .comments-counter
        span.icon.icon-comments-16
        p="{{ngModel.numberOfComments}}"
      .fav-couner
        span.icon.icon-heart-16
        p="{{ngModel.numberOfLikes}}"
      .when-published
        span.icon.icon-time-16
        p="{{ngModel.publishDate}}"
    
    
      
