.input-price.input(data-ng-click="$ctrl.onClick()" data-ng-class="{'is-invalid': !$ctrl.isValid " +
"&& $ctrl.isDirty,'is-focused': $ctrl.isFocus, 'is-disabled': $ctrl.isDisabled}")
  label.label-text(data-ng-if="$ctrl.inputText") {{:: $ctrl.inputText | translate }}

  .price-mock
    p.price-placeholder {{ vm.priceAmountInputValue }}
      span.currency {{ vm.currency }}

  input(
    type="text"
    id="{{$ctrl.id}}"
    name="{{$ctrl.id}}"
    placeholder="{{ $ctrl.placeholder | translate }}"
    data-ng-model="$ctrl.ngModel"
    data-ng-change="$ctrl.onChange()"
    data-ng-focus="$ctrl.onFocus()"
    data-ng-blur="$ctrl.onBlur()"
    data-ng-disabled="$ctrl.isDisabled"
  )

validation-alert(
data-alert-text="INPUT.PRICE.REGEXP_ERROR"
data-is-visible="!$ctrl.isRegExpPriceValid()"
)
