.client-favourites-page
  .client-favourite-content
    .container(data-ng-if="(!vm.lastConsultations || vm.lastConsultations.length < 1) && (!vm.favouriteProfiles || vm.favouriteProfiles.length < 1)")
      no-results-information(
        data-icon-src="/assets/images/profitelo_icons/icon_favourite.png"
        data-information-title="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.NO_FAVOURITE_EXPERTS.TITLE"
        data-information-description="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.NO_FAVOURITE_EXPERTS.DESCRIPTION"
        data-button-title="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.SEARCH_EXPERT"
        data-button-class="btn-primary"
        data-button-on-click="vm.searchForExpert"
      )

    div(data-ng-if="vm.lastConsultations && vm.lastConsultations.length > 0 || vm.favouriteProfiles && vm.favouriteProfiles.length > 0")
      .container(data-ng-if="vm.lastConsultations && vm.lastConsultations.length > 0")
        header.entry-title
          span(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.RECENTLY_CONSULTED.TITLE")
        last-consultation-slider(consultations="vm.lastConsultations")

      .container(data-ng-if="vm.favouriteProfiles && vm.favouriteProfiles.length > 0")
        client-favourite-experts(data-favourite-experts="vm.favouriteProfiles")

      .container(data-ng-if="vm.similarExperts && vm.similarExperts.length > 0")
        header.entry-title
          span(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.RECOMENDED_CONSULTATION.TITLE")
        similar-experts-slider(consultations="vm.similarExperts")
