.wizard-uploader
  .uploader
    .file-drag-and-drop
      .upload-field(class="drop-box"
      ngf-drop="$ctrl.uploadFiles($files)"
      ngf-multiple="true"
      ngf-select="$ctrl.uploadFiles($files)"
      ngf-allow-dir="false"
      ngf-accept="'image/*, application/pdf'")
        .upload-title
          span.icon.icon-upload-48
          div
            p {{ 'WIZARD.UPLOADER.DRAG_DROP' | translate }}
            p {{ 'WIZARD.UPLOADER.UPLODER_ADDITIONAL_TEXT' | translate }}

    validation-alert(
      data-alert-text="{{ $ctrl.fileValidationErrorMessage }}"
      data-is-visible="$ctrl.isFileTypeError"
    )

  .files-uploaded-list
    .file-item(data-ng-repeat="file in $ctrl.documentFiles")

      .file-preview
        loader.file-loader(data-file-upload-info="file.fileUploadInfo"
        data-file-upload-error="file.isUploadFailed"
        data-ng-hide="file.fileInfo")
        span(data-ng-show="file.isUploadFailed") Error
        img.thumb.x64(data-ng-src="{{ ::file.fileInfo.previews[0] }}" data-ng-show="file.fileInfo")

      .file-info
        span.file-name {{ file.fileInfo.name || file.file.name  }}
        span.file-size {{ 'WIZARD.UPLOADER.FILE_SIZE_TEXT' | translate }}
        span.file-size.in-progress {{ file.fileInfo.size || 'WIZARD.UPLOADER.UPLOADING_TEXT' | translate }}

      .file-action
        a(data-ng-if="!file.fileInfo" data-ng-click="$ctrl.reuploadFile(file)")
          span.icon.icon-upload-progress-24

        a(data-ng-click="$ctrl.removeFile(file)")
          span.icon.icon-trash-24
