.consultation-employee-input
  .input-handler
    input(
      data-ng-model="$ctrl.inputValue"
      data-ng-enter="$ctrl.onEnter()"
      data-ng-blur="$ctrl.onBlur()"

    )
    button.btn.btn-small.btn-primary(data-translate="WIZARD.CONSULTATION.EMPLOYEE.BUTTON.UPLOAD"
    ngf-select="$ctrl.uploadCSVFile($files)"
    ngf-accept="'.csv'")

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.UPLOAD_FILE_IS_INVALID"
  data-is-visible="$ctrl.isUploadFileIsInvalid"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.SOME_FILES_ARE_INVALID"
  data-is-visible="$ctrl.areUploadedFilesInvalid"
  data-additional-text="{{ $ctrl.wrongValuesCounter }}"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.EMPLOYEE_INPUT_VALUE_INVALID"
  data-is-visible="$ctrl.isInputValueInvalid"
  )

  .invited-list
    ul.tag-list
      li(data-ng-repeat="tag in $ctrl.addedItemsList")
        a(data-ng-click="$ctrl.deleteSelectedItem($index)") {{tag}}
          span.icon.icon-failure-24

  checkbox(
    data-input-text="WIZARD.CONSULTATION.EMPLOYEE.MYSELF.TITLE"
    data-ng-model="$ctrl.isOwnerEmployee"
  )

  validation-alert(
    data-alert-text="{{$ctrl.validationText}}"
    data-is-visible="!$ctrl.isValid && $ctrl.isDirty"
  )
