.charge-account
  .top-charge-account
    .default-container
      .pro-top-title-row.title-row
        .current-balance
          h3(data-translate="DASHBOARD.CHARGE_ACCOUNT.YOUR_CURRENT_BALANCE")
          h4.current-balance-wallet {{ vm.clientBalance.amount / 100 }}zł
        .close-button
          a.pro-button.round.icon.primary(data-ui-sref="app.dashboard.start")
            span.icon.icon-close-16

      choose-amount-charge(data-title="DASHBOARD.CHARGE_ACCOUNT.CHOOSE_AMMOUNT_CHARGE" data-amounts="vm.amounts"
                           data-amount-model="vm.amountModel"
                           id="1"
                           data-scroll-handler="vm.scrollHandler")

      payment-method(data-title="DASHBOARD.CHARGE_ACCOUNT.PAYMENT_METHOD_TITLE"
                     data-payment-systems = "vm.paymentSystems"
                     data-payment-system-model = "vm.amountMethodModal.paymentSystemModel"
                     data-ng-show="vm.amountModel.amount.amount > 0 ||   vm.amountModel.cashAmount.amount > 0 || vm.amountModel.cashAmount.amount !== undefined" id="2"
                     data-scroll-handler="vm.scrollHandler")
    .bottom-charge-account(data-ng-if="!!vm.amountMethodModal.paymentSystemModel && !!vm.amountMethodModal.paymentSystemModel.id" id="3")
      payu-payment-form(data-payments-links = "vm.paymentsLinks" data-amount-method-modal = "vm.amountMethodModal"
                        data-ng-show = "vm.amountMethodModal.paymentSystemModel.id == 1" data-scroll-handler="vm.scrollHandler" data-valid-action="vm.validAction")
