.charge-account
  .top-charge-account
    form.default-container()
      .pro-top-title-row.title-row
        .current-balance
          h3(data-translate="DASHBOARD.CHARGE_ACCOUNT.YOUR_CURRENT_BALANCE")
          h4.current-balance-wallet 173,50zł
        .close-button
          a.pro-button.round.icon.primary(data-ui-sref="app.dashboard.start")
            span.icon.icon-close-16

      choose-amount-charge(data-title="DASHBOARD.CHARGE_ACCOUNT.CHOOSE_AMMOUNT_CHARGE" data-amounts="vm.amounts")

      payment-method(data-title="DASHBOARD.CHARGE_ACCOUNT.PAYMENT_METHOD_TITLE" data-ng-show="vm.queue=2" data-payment-systems = "vm.paymentSystems")

    .bottom-charge-account
      .default-container
        choose-bank(data-title="DASHBOARD.CHARGE_ACCOUNT.CHOOSE_YOUR_BANK", data-payments-links="vm.paymentsLinks")

        .title-footer
          h3(data-translate="DASHBOARD.CHARGE_ACCOUNT.WRITE_YOUR_PERSONAL_DATA")
        .your-personal-data
          .personal-data-item.name
            pro-input(placeholder="{{ 'DASHBOARD.CHARGE_ACCOUNT.NAME_PLACEHOLDER' | translate }}"
              data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.NAME_PLACEHOLDER' | translate }}"
              data-ng-model="nameModel"
              data-ng-click="onClick()"
              data-ng-enter="onEnter()"
              data-ng-class="{'invalid': error.badName}"
              addon-action="onEnter"
              data-id="name"
              no-delete)
          .personal-data-item.surname
            pro-input(placeholder="{{ 'DASHBOARD.CHARGE_ACCOUNT.LASTNAME_PLACEHOLDER' | translate }}"
              data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.LASTNAME_PLACEHOLDER' | translate }}"
              data-ng-model="lastnameModel"
              data-ng-click="onClick()"
              data-ng-enter="onEnter()"
              data-ng-class="{'invalid': error.badLastname}"
              addon-action="onEnter"
              data-id="lastName"
              no-delete)
          .personal-data-item.address-email
            pro-input(placeholder="{{ 'DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER' | translate }}"
              data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER' | translate }}"
              data-ng-model="mailModel"
              data-ng-click="vm.onClick()"
              data-ng-enter="vm.onEnter()"
              data-ng-class="{'invalid': error.badEmail}"
              addon-action="onEnter"
              data-id="email"
              no-delete
              data-ng-pattern="vm.patternEmail")

        .footer
          pro-checkbox(id="acceptRules"
            data-ng-model="vm.rulesAccepted"
            data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.ACCEPT_RULES' | translate }}"
            data-name="acceptRules"
            data-ng-class="{'invalid': !vm.rulesAccepted && passwordForm.$submitted}"
            required)
          p(data-translate="DASHBOARD.CHARGE_ACCOUNT.PAYU_NOTIFICATION")
          p(data-translate="DASHBOARD.CHARGE_ACCOUNT.REQUIRE_VALUE")

    .charge-button
      .default-container
        a.pro-button.rectangle.default {{ 'DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT' | translate }}
          span.icon.icon-arrow-right-24.icon-right
