scrollable.phone-settings(data-is-fullscreen="isFullscreen" data-is-navbar="isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="onModalClose")
  .modal-settings
    .default-container-small.no-padding
      h2(data-translate="{{:: 'SETTINGS.GENERAL.PHONE_SETTINGS.TITLE' | translate}}")

      form.pro-input-form(name="phoneNumber" novalidate)

        .input-handler
          pro-dropdown.prefix-phone(
          data-pro-model='vm.account.phoneNumber.prefix'
          data-label='prefix'
          data-placeholder='+48'
          data-pro-items="vm.prefixes"
          data-no-search)

          pro-input.phone.label(data-label="{{:: 'SETTINGS.GENERAL.PHONE_NUMBER.INPUT.LABEL' | translate}}"
          data-type="tel"
          data-id="phoneNumber"
          data-placeholder="{{'LOGIN.ENTER_NUMBER_PLACEHOLDER' | translate}}"
          data-ng-model="vm.account.phoneNumber.number"
          data-ng-class="{'invalid': !vm.isValidPhoneNumber(vm.account.phoneNumber.prefix," +
          " vm.account.phoneNumber.number) && (phoneNumberForm.phoneNumber.$dirty || phoneNumberForm.$submitted)}"
          auto-focus only-digits)

        button.btn.btn-default(data-translate="{{:: 'SETTINGS.GENERAL.PHONE_NUMBER.BUTTON' | translate}}" type="submit"
        data-ng-click="verifyCode()" data-ng-show="isHidden")

      pin-verification(data-ng-hide="isHidden")
