top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
.modal-settings.phone-settings
  .container-small
    header.entry-title
      span(data-translate="SETTINGS.GENERAL.PHONE_SETTINGS.TITLE")

    form.input-form(name="phoneNumberForm" novalidate ng-submit="vm.setNewNumber()")
      .input-content
        .input-handler
          dropdown-primary.prefix-phone(
          data-label="{{ ::'SETTINGS.GENERAL.PHONE_SETTINGS.PREFIX' | translate }}"
          data-main-list="vm.prefixList"
          data-on-select-main="vm.updatePrefix"
          data-placeholder=" {{ vm.prefix }}"
          data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}")

          div
            input-primary(
            data-type="tel"
            data-id="phoneNumber"
            data-placeholder="LOGIN.ENTER_NUMBER_PLACEHOLDER"
            data-ng-model="vm.number"
            data-input-text="SETTINGS.GENERAL.PHONE_NUMBER.INPUT.LABEL"
            data-ng-pattern="vm.numberPattern"
            data-is-valid="vm.number && vm.checkIsDisabled() || phoneNumberForm.$submitted && !vm.checkIsNumberExist()"
            data-validation-text="SETTINGS.GENERAL.PHONE_SETTINGS.INVALID_NUMBER"
            )

            validation-alert(
            data-alert-text="SETTINGS.GENERAL.PHONE_SETTINGS.NUMBER_EXIST_VALIDATION"
            data-is-visible="phoneNumberForm.$submitted && vm.isNumberExist && !vm.checkIsNumberExist()"
            )

      button.btn.btn-default(
      data-translate="SETTINGS.GENERAL.PHONE_NUMBER.BUTTON" type="submit"
      data-ng-hide="vm.isNewPhoneNumberCreate"
      data-ng-disabled="!vm.checkIsDisabled()"
      data-ng-click="vm.onSubmit()"
      )

  pin-verification(data-ng-show="vm.isNewPhoneNumberCreate" data-on-send-pin-again='vm.setNewNumber'
  data-on-complete-pin-inputs="!vm.sendVerificationPin")
