.modal-summary.expert-call-summary
  .modal-main.container-medium
    top-modal-navbar(data-on-close="vm.onModalClose")
    preloader(data-is-loading="vm.isLoading")
      .modal-header
        .profile-preview.vertical-preview
          user-avatar.thumb.x96(data-image-token="vm.clientAvatar")

          .profile-name
            a
              span {{ vm.clientName }}

      .modal-container
        .details-tab
          .details-tab-row
            .details-tab-label
              span(data-translate="COMMUNICATOR.MODALS.CONVERSATION_TIME")
            .details-tab-content
              span {{ vm.callDuration | secondsToDateTime | date:'HH:mm:ss' }}

          .details-tab-row
            .details-tab-label
              span(data-translate="COMMUNICATOR.MODALS.INCOME")
            .details-tab-content
              span(data-ng-bind-html="vm.profit | money")

      collapse-btn.technical-problems(
      data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.BUTTON"
      )
        form(novalidate)
          radio-btn-text(
          data-ng-repeat="reason in vm.complaintReasons"
          data-ng-model="vm.model.value"
          value="{{ reason.id }} "
          data-id="{{ reason.id }}"
          data-label="{{ reason.name }}"
          data-is-descriptive="reason.isDescriptive"
          data-ng-class="{'is-active': vm.isSelected(reason)}"
          )

          .btn-group
            button.btn.btn-primary(
            data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.CANCEL")

            button.btn.btn-default(
            data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.SEND")

      collapse-btn.report-client(
      data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.REPORT_CLIENT.BUTTON"
      data-ng-hide="vm.isClientReportSent"
      )
        preloader-container(
        data-is-loading="vm.isSendingClientReport"
        )
          textarea-primary(
          data-ng-model="vm.clientReportMessage"
          data-id="client_report"
          data-input-text="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_EXPERT.REPORT_CLIENT.TEXTAREA_LABEL"
          data-max-length="600"
          data-is-submitted="vm.isSubmitted"
          )

          .btn-group
            button.btn.btn-primary(
            data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.CANCEL")

            button.btn.btn-default(
            data-ng-disabled="!vm.isClientReportValid()"
            data-ng-click="vm.onSendClientReportClick()"
            data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.SEND")
