.modal-summary
  .modal-main.container-medium
    top-modal-navbar(data-on-close="vm.onModalClose")
    preloader(data-is-loading="vm.isLoading")
      .modal-header
        .profile-preview.vertical-preview
          .thumb.x96
            user-avatar(data-image-token="vm.expertAvatar")

          .profile-name
            a
              span {{ vm.callSummary.companyExpertProfile.expertDetails.name }}

          .consultation-title.profile-consultation-title
            h3
              span {{ vm.callSummary.service.name }}

      .modal-container
        .details-tab
          .details-tab-row
            .details-tab-label
              span(data-translate="COMMUNICATOR.MODALS.CONVERSATION_TIME")
            .details-tab-content
              span {{ vm.callSummary.callDuration | secondsToDateTime | date:'HH:mm:ss' }}

          .details-tab-row
            .details-tab-label
              span(data-translate="COMMUNICATOR.MODALS.INCOME")
            .details-tab-content
              span(data-ng-bind-html="vm.callSummary.profit.amount | money")

      collapse-btn.technical-problems(
      data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.BUTTON"
      )
        form(novalidate)
          radio-btn-text(
          data-ng-repeat="reason in vm.complaintReasons"
          data-ng-model="vm.model.value"
          value="{{ reason.id }} "
          data-id="{{ reason.id }}"
          data-label="{{ reason.name }}"
          data-is-descriptive="reason.isDescriptive"
          data-ng-class="{'is-active': vm.isSelected(reason)}"
          )

          .btn-group
            button.btn.btn-primary(
            data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.CANCEL")

            button.btn.btn-default(
            data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.SEND")

      collapse-btn.report-client(
      data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.REPORT_CLIENT.BUTTON"
      )
        textarea-primary(
        data-ng-model="vm.clientReportModel"
        data-id="client_report"
        data-input-text="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.REPORT_CLIENT.TEXTAREA.LABEL"
        data-max-length="600"
        )

        .btn-group
          button.btn.btn-primary(
          data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.CANCEL")

          button.btn.btn-default(
          data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TECHNICAL_PROBLEMS.SEND")

