section.consultation
  .container-big
    wizard-handler()
      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.NAME.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.NAME.TOOLTIP"
        data-on-go-back="vm.onGoBack"
        data-check-is-step-valid="vm.checkIsNameInputValid"
      )
        input-primary(
          data-ng-model="vm.nameModel"
          data-ng-pattern="vm.patternName"
          data-max-length="150"
          data-validation-text="WIZARD.CONSULTATION.NAME_INPUT_VALIDATION"
          data-is-submitted="vm.isSubmitted"
          data-is-valid="vm.checkIsNameInputValid()"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.TAGS.TITLE"
        data-additional-text="WIZARD.SUMMARY.CONSULTATION.TAGS.ADDITIONAL_TEXT.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.TAGS.TOOLTIP"
        data-check-is-step-valid="vm.checkIsTagsInputValid"
      )
        consultation-tag-input(
          data-dictionary="vm.consultationsMock"
          data-selected-tags="vm.tagsModel"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.RATE.TITLE"
        data-on-go-to-next="vm.saveStepsOnExpertPath"
        data-check-is-step-valid="vm.checkIsPriceInputValid"
      )
        .hint
          p(data-translate="WIZARD.CONSULTATION.PRICE.SUGGESTED") 5,00 PLN.
          tooltip(data-tooltip-text="WIZARD.CONSULTATION.PRICE.TOOLTIP")

        .input-price
          .price-mock
            p.price-placeholder {{ vm.priceAmountModel }}
              span.currency {{ vm.currency }}

          input-primary(
            data-ng-model="vm.priceAmountModel"
            data-id="priceModel"
            data-validation-text="WIZARD.CONSULTATION.PRICE_INPUT_VALIDATION"
            data-is-submitted="vm.isSubmitted"
            data-is-valid="vm.checkIsPriceInputValid()"
          )

      wizard-step.step(
        data-ng-if="vm.isCompany"
        data-title="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.TITLE"
        data-additional-text="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.ADDITIONAL_TEXT.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.TOOLTIP"
        data-on-go-to-next="vm.saveConsultation"
      )
        consultation-employee-input()


