section.consultation
  .container-big
    wizard-handler(data-progress-bar-text="WIZARD.STEP.CONSULTATION.PROGRESSBAR.TITLE")
      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.NAME.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.NAME.TOOLTIP"
        data-on-go-back="vm.onGoBack"
        data-check-is-step-valid="vm.checkIsNameInputValid"
      )
        input-primary(
          data-ng-model="vm.nameInputValue"
          data-ng-pattern="vm.patternName"
          data-max-length="150"
          data-validation-text="WIZARD.CONSULTATION.NAME_INPUT_VALIDATION"
          data-is-submitted="vm.isSubmitted"
          data-is-valid="vm.checkIsNameInputValid()"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.TAGS.TITLE"
        data-additional-text="WIZARD.SUMMARY.CONSULTATION.TAGS.ADDITIONAL_TEXT.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.TAGS.TOOLTIP"
        data-check-is-step-valid="vm.checkIsTagsInputValid"
      )
        consultation-tag-input(
          data-dictionary="vm.consultationsMock"
          data-selected-tags="vm.tagsInputValue"
          data-validation-text="WIZARD.CONSULTATION.TAG.RECOMMENDED.ALERT"
          data-is-submitted="vm.isSubmitted"
          data-is-valid="vm.checkIsTagsInputValid()"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.RATE.TITLE"
        data-on-go-to-next="vm.saveStepsOnExpertPath"
        data-check-is-step-valid="vm.checkIsPriceButtonDisabled"
        data-button-title="WIZARD.STEP.EXPERT.CONSULTATION.SUMMARY.BUTTON"
        data-is-company="vm.isCompany"
      )
        .hint
          p(data-translate="WIZARD.CONSULTATION.PRICE.SUGGESTED")
          tooltip(data-tooltip-text="WIZARD.CONSULTATION.PRICE.TOOLTIP")

        input-price(
          data-ng-model="vm.priceAmountInputValue"
          data-id="priceModel"
          data-validation-text="WIZARD.CONSULTATION.PRICE_INPUT_VALIDATION"
          data-is-submitted="vm.isSubmitted"
          data-is-valid="vm.checkIsPriceInputValid()"
          data-placeholder="DASHBOARD.CONSULTATION.PRICE.PLACEHOLDER"
        )

      wizard-step.step(
        data-ng-if="vm.isCompany"
        data-title="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.TITLE"
        data-additional-text="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.ADDITIONAL_TEXT.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.TOOLTIP"
        data-on-go-to-next="vm.saveConsultation"
        data-button-title="WIZARD.STEP.EXPERT.CONSULTATION.SUMMARY.BUTTON"
      )
        consultation-employee-input(
        data-added-items-list = "vm.invitationsInputValue"
        data-is-owner-employee = "vm.isOwnerEmployee"
        data-validation-text="WIZARD.CONSULTATION.INVITATIONS_INPUT_VALIDATION"
        data-is-submitted="vm.isSubmitted"
        data-is-valid="vm.checkIsEmployeesInputValid()"
        )

      validation-alert(
      data-alert-text="WIZARD.CONSULTATION.VALIDATE_FORM"
      data-is-visible="!vm.checkIsFormValid() && vm.isSubmitted"
      )
