section.consultation
  .container-big
    wizard-handler(data-progress-bar-text="WIZARD.STEP.CONSULTATION.PROGRESSBAR.TITLE")
      wizard-step.step(
      data-title="WIZARD.CONSULTATION.LANGUAGE.TITLE"
      data-tooltip-text="WIZARD.CONSULTATION.LANGUAGE.TOOLTIP"
      data-on-go-back="vm.onGoBack"
      data-check-is-step-valid="vm.checkIsLanguageInputValid"
      data-required="vm.isStepRequired"
      )
        dropdown-primary(
        data-main-list="vm.languagesList"
        data-on-select-main="vm.onSelectLanguage"
        data-placeholder="{{ 'WIZARD.CONSULTATION.LANGUAGE.PLACEHOLDER' | translate }}"
        data-selected-item="vm.languageInputValue"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.NAME.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.NAME.TOOLTIP"
        data-check-is-step-valid="vm.checkIsNameInputValid"
        data-required="vm.isStepRequired"
      )
        input-primary(
          data-ng-model="vm.nameInputValue"
          data-ng-pattern="vm.patternName"
          data-max-length="150"
          data-validation-text="WIZARD.CONSULTATION.NAME_INPUT_VALIDATION"
          data-is-submitted="vm.isSubmitted"
          data-is-valid="vm.checkIsNameInputValid()"
        )

      wizard-step.step(
      data-title="WIZARD.CONSULTATION.DESCRIPTION.TITLE"
      data-tooltip-text="WIZARD.CONSULTATION.DESCRIPTION.TOOLTIP"
      data-check-is-step-valid="vm.checkIsDescriptionInputValid"
      data-required="vm.isStepRequired"
      )
        textarea-primary(
        data-ng-model="vm.descriptionInputValue"
        data-id="consultationDescription"
        data-is-valid="vm.checkIsDescriptionInputValid()"
        data-validation-text="WIZARD.CONSULTATION.DESCRIPTION.VALIDATION_TEXT"
        data-max-length="600"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.TAGS.TITLE"
        data-additional-text="WIZARD.SUMMARY.CONSULTATION.TAGS.ADDITIONAL_TEXT.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.TAGS.TOOLTIP"
        data-check-is-step-valid="vm.checkIsTagsInputValid"
        data-required="vm.isStepRequired"
      )
        input-consultation-tag(
          data-service-name="vm.nameInputValue"
          data-service-description="vm.descriptionInputValue"
          data-selected-tags="vm.tagsInputValue"
          data-validation-text="WIZARD.CONSULTATION.TAG.RECOMMENDED.ALERT"
          data-is-submitted="vm.isSubmitted"
          data-is-valid="vm.checkIsTagsInputValid()"
        )

      wizard-step.step(
        data-title="WIZARD.SUMMARY.CONSULTATION.RATE.TITLE"
        data-on-go-to-next="vm.saveStepsOnExpertPath"
        data-check-is-step-valid="vm.checkIsPriceButtonDisabled"
        data-button-title="WIZARD.STEP.EXPERT.CONSULTATION.SUMMARY.BUTTON"
        data-is-company="vm.isCompany"
        data-required="vm.isStepRequired"
      )
        .hint
          p(data-translate="WIZARD.CONSULTATION.PRICE.SUGGESTED")
          tooltip(data-tooltip-text="WIZARD.CONSULTATION.PRICE.TOOLTIP")

        input-price(
          data-ng-model="vm.priceAmountInputValue"
          data-id="priceModel"
          data-is-submitted="vm.isSubmitted"
          data-callback="vm.onPriceChange"
          data-placeholder="DASHBOARD.CONSULTATION.PRICE.PLACEHOLDER"
        )

        validation-alert(
        data-alert-text="COMMUNICATOR.MODALS.PRECALL.LIMIT.ERROR"
        data-is-visible="!vm.isRegExpPriceInputValid"
        )

      wizard-step.step(
        data-ng-if="vm.isCompany"
        data-title="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.TITLE"
        data-additional-text="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.ADDITIONAL_TEXT.TITLE"
        data-tooltip-text="WIZARD.SUMMARY.CONSULTATION.EMPLOYEES.TOOLTIP"
        data-on-go-to-next="vm.saveConsultation"
        data-button-title="WIZARD.STEP.EXPERT.CONSULTATION.SUMMARY.BUTTON"
      )
        input-consultation-employee(
        data-added-items-list = "vm.invitationsInputValue"
        data-is-owner-employee = "vm.isOwnerEmployee"
        data-validation-text="WIZARD.CONSULTATION.INVITATIONS_INPUT_VALIDATION"
        data-is-submitted="vm.isSubmitted"
        data-is-valid="vm.checkIsEmployeesInputValid()"
        )

      validation-alert(
      data-alert-text="WIZARD.CONSULTATION.VALIDATE_FORM"
      data-is-visible="!vm.checkIsFormValid() && vm.isSubmitted"
      )
