.radio-text.radio
  div
    input(
      type="radio"
      id="{{ $ctrl.id }}"
      name="$ctrl.name"
      value="{{ $ctrl.value }}"
      ng-model="value"
      ng-change='$ctrl.newValue(value)'
    )
    label.label

  label.text(for="{{ $ctrl.id }}") {{ $ctrl.label | translate }}

.radio-description(data-ng-show="$ctrl.isRadioSelected")
  p.label-description {{ $ctrl.labelDescription | translate }}
  textarea.message