.radio-text.radio
  div
    input(
      type="radio"
      id="{{ $ctrl.id }}"
      name="$ctrl.name"
      value="{{ $ctrl.value }}"
      ng-model="$ctrl.ngModel"
    )
    label.label

  label.text(for="{{ $ctrl.id }}") {{ $ctrl.label | translate }}

.radio-description(data-ng-hide="$ctrl.isCollapsed")
  p.label-description {{ $ctrl.labelDescription | translate }}
  textarea.message