.pin-code-view
  plat-login-background
    plat-login-content(
      contentHeightAnimation,
      titleText="LOGIN.PIN_CODE.TITLE",
      [msisdn]="msisdn"
    )
      form(
        [id]="pinCodeFormId",
        [formGroup]="pinCodeForm",
        novalidate,
        (ngSubmit)="onFormSubmit(pinCodeForm)"
      )

        .input-icon-container
          span.icon.icon-cellphone
          am-core-input-pin-code(
            label="LOGIN.PIN_CODE.ENTER_CODE.LABEL",
            placeholder="LOGIN.PIN_CODE.ENTER_CODE.PLACEHOLDER",
            [form]="pinCodeForm",
            [controlName]="pinCodeControlName",
            [isDisabled]="isRequestPending",
            [initialFocus]="isInputInitialFocused"
          )

        div(*ngIf="!isUserRegisteredWithoutPassword")
          am-core-input-checkbox(
            label="LOGIN.PIN_CODE.ACCEPT_TERMS",
            errorTextKey="LOGIN.PIN_CODE.ACCEPT_TERMS.VALIDATION_MESSAGE",
            [isRequired]="isInputRequired",
            [form]="pinCodeForm",
            [controlName]="termsOfServiceControlName",
            [isDisabled]="isRequestPending"
          )

        div(*ngIf="!isUserRegisteredWithoutPassword")
          am-core-input-checkbox(
            label="LOGIN.PIN_CODE.ACCEPT_MARKETING",
            errorTextKey="LOGIN.PIN_CODE.ACCEPT_MARKETING.VALIDATION_MESSAGE",
            [form]="pinCodeForm",
            [controlName]="termsOfMarketingControlName",
            [isDisabled]="isRequestPending"
          )

        am-core-submit-button(
          titleText="LOGIN.PIN_CODE.SUBMIT_BUTTON",
          [formName]="pinCodeFormId",
          [isLoading]="isRequestPending"
        )

      .send-again
        p([translate]="'LOGIN.PIN_CODE.SMS_CODE'")
        p(
          *ngIf="isCountingDown()",
          [translate]="'LOGIN.PIN_CODE.SEND_AGAIN.COUNTER'",
          [translateParams]="{seconds: timeLeft}"
        )
        a.send-again__link(
          *ngIf="!isCountingDown()",
          (click)="resendPinCode()",
          [translate]="'LOGIN.PIN_CODE.SEND_AGAIN'"
        )

      p.rodo-policy([innerHTML]="'LOGIN.PIN_CODE.RODO_POLICY' | translate")
