.modal-primary.email-settings
  .container-small
    top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
    .modal-settings
      header.entry-title
        span(data-translate="{{:: 'SETTINGS.GENERAL.EMAIL_SETTINGS.TITLE' | translate}}")

      form.input-form(name="emailForm" data-ng-submit="emailForm.$valid && vm.setNewEmail() " novalidate)
        .input-content
          input-primary(
            data-type="email"
            data-id="email"
            data-placeholder="DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER"
            data-ng-model="vm.newEmail"
            data-input-text="SETTINGS.GENERAL.EMAIL_SETTINGS.LABEL"
            data-is-valid="vm.newEmail && vm.checkIsButtonDisabled()"
            data-validation-text="SETTINGS.GENERAL.EMAIL_SETTINGS.EMAIL_VALIDATION"
          )

          validation-alert(
            data-alert-text="SETTINGS.GENERAL.EMAIL_SETTINGS.EMAIL_EXIST"
            data-is-visible="emailForm.$submitted && vm.isEmailExist && !vm.checkIfNewEnteredEmailExist()"
          )

        button.btn.btn-default(
          data-translate="SETTINGS.GENERAL.EMAIL_SETTINGS.BUTTON" type="submit"
          data-ng-disabled="!vm.checkIsButtonDisabled()"
        )
