.pro-input.input-group(class="{{focus ? 'on-focus' : ''}} {{onClick ? 'on-click' : ''}} {{label ? 'is-label' : ''}}"
  data-ng-mouseover="onMouseover()"
  data-ng-mouseleave="onMouseout()")
  input(placeholder="{{placeholder}}"
  type="{{type}}"
  data-ng-class="{label: label.length > 0}"
  autocomplete="off"
  data-ng-model="ngModel"
  data-ng-focus="onFocus()"
  data-ng-blur="onFocusOut()"
  data-ng-maxlength = "maxlength"
  maxlength="{{maxlength}}"
  data-ng-required="required"
  data-ng-pattern="ngPattern"
  data-ng-change="ngChange"
  name="{{id}}"
  id="{{id}}"
  autocapitalize="off"
  autocorrect="off")
  label(for="{{id}}") {{label}}
  span.input-group-addon(data-ng-class="{'input-group-addon': addon}" data-ng-click="addonCall()")
    span.icon(data-ng-class="icon-class") {{addonText}}
    span.cross-addon.icon.icon-close-12.icon-12(data-ng-show="ngModel !== null && ngModel !== '' && !hideCross()" ng-hide="addonText" data-ng-click="ngModel = ''")
