.pro-input.input-group(class="{{focus ? 'onFocus' : ''}} {{onClick ? 'onClick' : ''}}"
  data-ng-mouseover="onMouseover()"
  data-ng-mouseleave="onMouseout()")
  input(placeholder="{{placeholder}}"
  type="{{type}}"
  data-ng-class="{label: label.length > 0}"
  autocomplete="off"
  data-ng-model="ngModel"
  data-ng-focus="onFocus()"
  data-ng-blur="onFocusOut()"
  data-ng-maxlength = "maxlength"
  maxlength="{{maxlength}}"
  data-ng-required="required"
  data-ng-pattern="ngPattern"
  data-ng-change="ngChange()"
  name="{{name}}"
  autocapitalize="off"
  autocorrect="off")
  label {{label}}
  span(data-ng-class="{'input-group-addon': addon}" data-ng-click="addonCall()")
    span.icon(data-ng-class="iconClass") {{addonText}}
  span.cross-addon.icon.icon-close-12.icon-12(data-ng-show="ngModel !== null && ngModel !== '' && !hideCross()" data-ng-click="ngModel = ''")
