.calendar-container.input
  .input-group(data-ng-click='open1()')
    label.label-text {{label}}
    input(
    type='text'
    data-uib-datepicker-popup='{{format}}'
    data-ng-model='ngModel'
    )

  input.calendar-input(
    type='text'
    data-ng-model='ngModel'
    data-uib-datepicker-options='dateOptions'
    data-is-open='popup1.opened'
    data-close-text='Close'
    data-uib-datepicker-popup='{{format}}'
    data-ng-required='true'
    data-on-open-focus='false'
    data-alt-input-formats='altInputFormats'
    data-datepicker-popup-template-url="/assets/html/calendar/popup.html"
    data-datepicker-template-url="/assets/html/calendar/datepicker.html"
  )
