.input.input-password(data-ng-click="$ctrl.onClick()" data-ng-class="{'is-invalid': $ctrl.isSubmitted && !$ctrl.isValid && $ctrl.validationText, " +
"'is-focused': $ctrl.isFocus}")
  label.label-text(data-ng-if="$ctrl.inputText") {{:: $ctrl.inputText | translate }}
  span.is-required(data-ng-if="$ctrl.ngRequired") *

  input(
    type="password"
    id="{{$ctrl.id}}"
    name="{{$ctrl.id}}"
    placeholder="{{ $ctrl.placeholder | translate }}"
    data-ng-model="$ctrl.ngModel"
    data-ng-required="$ctrl.ngRequired"
    data-ng-focus="$ctrl.onFocus()"
    data-ng-blur="$ctrl.onBlur()"
    data-ng-change="$ctrl.onChange($ctrl.ngModel)"
  )

validation-alert(
  data-alert-text="{{$ctrl.validationText}}"
  data-is-visible="$ctrl.isSubmitted && !$ctrl.isValid && $ctrl.validationText && $ctrl.validationText.length > 0 && $ctrl.isDirty"
)
