.expert-filters
  .employees-options-container.dashboard-filters-collapse.is-collapsed(data-ng-class="{'is-collapsed': $ctrl.showMobileFilters}")
    .employees-checkbox-container(data-ng-show="$ctrl.areEmployees")
      pro-checkbox(
        data-id="checkAllEmployees"
        data-ng-model="$ctrl.checkAllEmployees"
        data-name="checkAllEmployees"
        )
    .employees-filters-container
      .pro-dropdown
        dropdown-primary(
          data-label="{{ 'DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.FILTER.EXPERT' | translate }}"
          data-main-list="$ctrl.activityList"
          data-placeholder="{{ ::'DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.FILTER.PLACEHOLDER.ALL_EXPERTS' | translate }}")
      .pro-dropdown
        dropdown-primary(
          data-label="{{ 'DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.FILTER.CONSULTATION' | translate }}"
          data-main-list="$ctrl.activityList"
          data-placeholder="{{ ::'DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.FILTER.PLACEHOLDER.ALL_CONSULTATIONS' | translate }}")
    .employees-icons-container
      a.btn.btn-circle
        span.icon.icon-trash-24
      a.btn.btn-circle
        span.icon.icon-add-expert-24

  .collapse-btn-filter(data-ng-click="$ctrl.showFilters()")
    .btn.btn-noborder
      span.icon.icon-filter-24
      span(data-ng-show="$ctrl.showMobileFilters") {{:: 'SEARCH.MOBILE_FILTER_BUTTON.OPEN' | translate }}
      span(data-ng-show="!$ctrl.showMobileFilters") {{:: 'SEARCH.MOBILE_FILTER_BUTTON.CLOSE' | translate }}
