extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .pro-service-external-links
    .step-content-column
      .links-submit
        pro-input(placeholder="http://"
        data-ng-model="linkModel"
        data-ng-click="onClick()"
        data-ng-enter="onEnter()"
        data-ng-class="{'invalid': error.badUrl}"
        icon-class="icon-add-24"
        addon-action="onEnter"
        data-id="serviceProviderLinks")
        .input-error-messages
          .error(data-translate="DASHBOARD.CREATE_PROFILE.ERROR_EXTERNAL_LINKS" data-ng-show="error.badUrl")
      .document-submit(data-ng-show="model.links.length > 0")
        .document-container
          p.summary-list(data-translate="DASHBOARD.CREATE_PROFILE.CREATE_PROFILE_YOUR_LINKS" data-ng-click="onClick()")
          .links-submit.links-last-step.flex-row.wrap
            span.label-files.label-icon(data-ng-repeat="link in model.links track by $index")
              span.left-icon(pro-social-icon-getter data-url="link")
              span {{ link }}
              a.icon.icon-close-12(data-ng-click="removeLink(link)")
      .input-error-messages
        .error(data-translate="DASHBOARD.CREATE_PROFILE.NO_LINKS_ERROR" data-ng-show="error.noUrl")
