.pro-service-external-links
  .step-content-column
    .links-submit
      pro-input(placeholder="e.g. http://facebook.com"
      data-ng-model="linkModel"
      data-ng-click="onClick()"
      data-ng-enter="onEnter()"
      data-label="{{ label | translate }}"
      data-placeholder="{{placeholder }}"
      data-ng-class="{'invalid': error.badUrl}"
      icon-class="icon-add-24"
      addon-action="onEnter"
      data-id="serviceProviderLinks")

      .input-error-messages(data-ng-show="error.badUrl || error.urlExist")
        .error(data-translate="DASHBOARD.CREATE_PROFILE.ERROR_EXTERNAL_LINKS" data-ng-show="error.badUrl")
        .error(data-translate="DASHBOARD.CREATE_PROFILE.LINK_ALREADY_EXIST_ERROR" data-ng-show="error.urlExist")

      p.hint {{ hintLabel | translate }}

    .tags-list(data-ng-show="model.links.length > 0")
      ul.tag-list.dropdown-tag-list
        li(data-ng-repeat="link in model.links track by $index")
          a
            span.left-icon.url-logo(pro-social-icon-getter data-url="link")
            span.link {{ link }}
            span.icon.icon-failure-24(data-ng-click="removeLink(link)")


    .input-error-messages
      .error(data-translate="DASHBOARD.CREATE_PROFILE.NO_LINKS_ERROR" data-ng-show="error.noUrl && model.links.length < 1")
