.change-password-settings
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-settings
    .container-small
      header.entry-title
        span(data-translate="{{:: 'SETTINGS.SECURITY.CHANGE_PASSWORD.TITLE' | translate}}")

      form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.setNewPassword()" novalidate)
        input-password(
        data-id="currentPassword"
        data-ng-model="vm.currentPassword"
        data-input-text="SETTINGS.SECURITY.CHANGE_PASSWORD.CURRENT_PASSWORD.LABEL"
        data-placeholder="SETTINGS.SECURITY.CHANGE_PASSWORD.CURRENT_PASSWORD.PLACEHOLDER"
        data-is-valid="vm.checkIsEnteredPasswordIncorrect() || !vm.isError && vm.isCurrentPasswordCorrect"
        data-validation-text="SETTINGS.SECURITY.CHANGE_PASSWORD.PASSWORD_VALID"
        data-is-submitted="passwordForm.$submitted"
        auto-focus
        )

        input-password(
        data-id="password"
        data-ng-model="vm.newPassword"
        data-input-text="SETTINGS.SECURITY.CHANGE_PASSWORD.NEW_PASSWORD.LABEL"
        data-placeholder="REGISTER.SERVICE_PASSWORD_PLACEHOLDER"
        data-is-valid="vm.checkIsNewEnteredPasswordCorrect() || !vm.isError && vm.arePasswordsDifferent"
        data-validation-text="SETTINGS.SECURITY.CHANGE_PASSWORD.PASSWORDS_ARE_SAME"
        data-is-submitted="passwordForm.$submitted"
        data-on-change="vm.onPasswordChange"
        )

        password-strength-bar(data-current-class="vm.passwordStrength")

        validation-alert(
          data-alert-text="SETTINGS.SECURITY.CHANGE_PASSWORD.SAME_PASSWORDS_ERROR"
          data-is-visible="vm.isSamePasswordsError()"
        )

        button.btn.btn-default(
          data-translate="SETTINGS.SECURITY.CHANGE_PASSWORD.TITLE"
          data-ng-disabled="!vm.checkIsButtonDisabled()"
          type="submit")
