scrollable.change-password-settings(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-settings
    .container-small
      header.entry-title
        span(data-translate="{{:: 'SETTINGS.SECURITY.CHANGE_PASSWORD.TITLE' | translate}}")

      form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.setNewPassword()" novalidate)
        pro-input-password(data-label="{{ ::'SETTINGS.SECURITY.CHANGE_PASSWORD.CURRENT_PASSWORD.LABEL' | translate }}"
        data-placeholder="{{ ::'SETTINGS.SECURITY.CHANGE_PASSWORD.CURRENT_PASSWORD.PLACEHOLDER' | translate }}"
        data-ng-model="vm.currentPassword"
        data-id="currentPassword"
        data-ng-pattern="vm.patternPassword"
        data-ng-class="{'invalid':passwordForm.currentPassword.$invalid && (passwordForm.currentPassword.$dirty || passwordForm.$submitted)}"
        required auto-focus)

        pro-input-password(data-label="{{ 'SETTINGS.SECURITY.CHANGE_PASSWORD.NEW_PASSWORD.LABEL' | translate }}"
        data-placeholder="{{ 'REGISTER.SERVICE_PASSWORD_PLACEHOLDER' | translate }}"
        data-ng-model="vm.newPassword"
        data-id="password"
        data-on-change="vm.onPasswordChange"
        data-ng-pattern="vm.patternPassword"
        data-ng-class="{'invalid':passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted)}"
        required)

        .input-error-messages(data-ng-show="(passwordForm.password.$invalid || !vm.isCurrentPasswordCorrect) && passwordForm.$submitted")
          .error.left(data-translate="SETTINGS.SECURITY.CHANGE_PASSWORD.PASSWORD_VALID")
        .input-error-messages(data-ng-show="!vm.arePasswordsDifferent && passwordForm.$submitted")
          .error.left(data-translate="SETTINGS.SECURITY.CHANGE_PASSWORD.PASSWORDS_ARE_SAME")

        password-strength-bar(data-current-class = "vm.passwordStrength")

        button.btn.btn-default(data-translate="SETTINGS.SECURITY.CHANGE_PASSWORD.TITLE" type="submit")
