.modal-component.modal-component--edit-profile
  .modal-component__scroll(pinElement="modal-component__header")
    .modal-component__container.modal-component__container--medium
      .modal-component__header
        .modal-component__header__nav.modal-component__header__nav--back
          a.button.button--back(*ngIf="isExpertForm && !isOpenAsExpert", (click)="onBackToClientStep()")
            span.icon.icon-backward

        .modal-component__header__title
          p {{ 'EDIT_PROFILE.TITLE' | translate }}

        .modal-component__header__nav.modal-component__header__nav--close
          a.button.button--close((click)="onModalClose()")
            span.icon.icon-clear

      .modal-component__content
        header.modal-component__content__header
          span {{ 'EDIT_PROFILE.CONTENT.TITLE' | translate }}

          am-core-tooltip(
            [tooltipText]="'EDIT_PROFILE.TOOLTIP.DESCRIPTION'",
            placement="top-right"
          )

        .modal-form
          form.form.form--client(
            *ngIf="!isExpertForm; else expertForm",
            contentHeightAnimation,
            [id]="'clientNameForm'",
            [formGroup]="clientNameForm",
            novalidate,
            id="clientNameForm",
            (ngSubmit)="onClientFormSubmit(clientNameForm)"
            )

              plat-basic-profile-data(
                [formGroup]="clientNameForm",
                [controlName]="clientFormControlName"
              )

          ng-template(#expertForm)
            form.form.form--expert(
            contentHeightAnimation,
            [id]="'expertNameForm'",
            [formGroup]="expertNameForm",
            novalidate,
            id="expertNameForm",
            (ngSubmit)="onExpertFormSubmit(expertNameForm)"
            )
              .modal-form__row
                plat-basic-profile-data(
                [formGroup]="expertNameForm",
                [controlName]="expertFormControlName")

              .modal-form__row
                header.modal-component__content__header
                  span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION' | translate }}

                  am-core-tooltip(
                  [tooltipText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.TOOLTIP'",
                  placement="top-right"
                  )

                am-core-textarea-primary(
                [maxLength]="consultationMaxlength",
                [minLength]="consultationMinlength",
                [placeholder]="'FEATURE.CALL_SUMMARY.COMMENT.INPUT.PLACEHOLDER'",
                [controlName]="expertFormControlDescription",
                [form]="expertNameForm",
                [errorTextKey]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.ERROR'",
                [label]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.LABEL'")

              .modal-form__row
                header.modal-component__content__header
                  span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.FILES' | translate }}
                  am-core-tooltip(
                    [tooltipText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.FILES.TOOLTIP'",
                    placement="top-right"
                  )

                .input
                  input(type="text")

              .modal-form__row
                header.modal-component__content__header
                  span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.LINKS' | translate }}

                .input
                  input(type="text")

          .modal-component__action(*ngIf="!isExpertForm")
              a.button.button--link((click)="onCreateExpertAccount()")
                | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON' | translate }}

              button.button.button--default(type="submit" form="clientNameForm")
                | {{ 'EDIT_PROFILE.CONTENT.CREATE_CLIENT_PROFILE.BUTTON.SAVE_PROFILE' | translate }}

          .modal-component__action.modal-component__action--expert(*ngIf="isExpertForm")
            button.button.button--default(type="submit" form="expertNameForm")
              | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE' | translate }}
