plat-modal-component(
    [modalTrTitleHeader]="'EDIT_PROFILE.TITLE'",
    [isBackWardVisible]="isExpertForm && !isOpenAsExpert",
    [onBackWardClick]="onBackToClientStep"
  )

  header.modal-component__content__header
    span([innerHtml]="'EDIT_PROFILE.CONTENT.TITLE' | translate")

    am-core-tooltip(
    [tooltipText]="'EDIT_PROFILE.TOOLTIP.DESCRIPTION'"
    )

  .modal-form
    form.form.form--client(
    *ngIf="!isExpertForm; else expertForm",
    contentHeightAnimation,
    [id]="'clientNameForm'",
    [formGroup]="clientNameForm",
    novalidate,
    id="clientNameForm"
    )

      plat-basic-profile-data(
      [formGroup]="clientNameForm",
      [controlName]="clientFormControlName"
      )

    ng-template(#expertForm)
      form.form.form--expert(
      contentHeightAnimation,
      [id]="'expertNameForm'",
      [formGroup]="expertNameForm",
      id="expertNameForm",
      novalidate
      )
        .modal-form__row
          plat-basic-profile-data(
          [formGroup]="expertNameForm",
          [controlName]="expertFormControlName",
          [isRequired]="isExpertForm")

        .modal-form__row
          header.modal-component__content__header
            span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.TITLE' | translate }}

          am-core-textarea-primary(
          [maxLength]="consultationMaxlength",
          [minLength]="consultationMinlength",
          [placeholder]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.PLACEHOLDER'",
          [form]="expertNameForm",
          [controlName]="expertFormControlDescription",
          [errorTextKey]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.ERROR'",
          [label]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.LABEL'",
          [isRequired]="isExpertForm",
          )

        .modal-form__row
          plat-profile-links(
          [formGroup]="expertNameForm",
          [controlName]="expertFormControlLink"
          )

    .modal-component__action(*ngIf="!isOpenAsExpert")
      a.button.button--link.button--small((click)="onCreateExpertAccount()", *ngIf="!isExpertForm")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON' | translate }}

      a.button.button--link.button--small((click)="onCreateExpertAccount()", *ngIf="isExpertForm")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.CANCEL' | translate }}

      button.button.button--default(type="submit" form="clientNameForm", *ngIf="!isExpertForm")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_CLIENT_PROFILE.BUTTON.SAVE_PROFILE' | translate }}

      a.button.button--default(type="submit", *ngIf="isExpertForm", (click)="onExpertFormSubmit(expertNameForm)")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE' | translate }}

    .modal-component__action.modal-component__action--expert(*ngIf="isExpertForm && isOpenAsExpert")
      a.button.button--default(type="submit", (click)="onExpertFormSubmit(expertNameForm)")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE' | translate }}