form.input-form.set-email(name="emailForm" data-ng-submit="emailForm.$valid && vm.setNewEmail()" novalidate)
  input-primary(
  data-type="text"
  data-id="email"
  data-placeholder="REGISTER.SERVICE_EMAIL_PLACEHOLDER"
  data-ng-model="vm.email"
  data-input-text="REGISTER.SERVICE_EMAIL"
  data-ng-required="true"
  data-is-valid="vm.email && vm.checkIsButtonDisabled()"
  data-validation-text="REGISTER.EMAIL_REQUIRED"
  )

  validation-alert(
  data-alert-text="REGISTER.EMAIL_EXIST"
  data-is-visible="vm.emailExist && emailForm.$submitted && !vm.checkIfNewEnteredEmailExist()"
  )

  button.btn.btn-default(
    data-ng-disabled="!vm.checkIsButtonDisabled()"
    data-translate="REGISTER.DONE"
    type="submit")

