ul.expert-state.navbar-list(data-ng-class="$ctrl.isAnyMenuShow ? 'mobile-menu-slide-left' : 'mobile-menu-slide-right' ")
  li
    ul.menu-list.navbar-list
      li(data-ng-hide="$ctrl.isExpertOrOrganization")
        a.btn.btn-primary.btn-small.navbar-btn(data-ui-sref="app.wizard.create-profile")
          span.mobile-only.icon.icon-start-earning-24
          span(data-translate="NAVIGATION.MENU_ITEMS.START_EARNING")

      li(data-ng-if="$ctrl.isExpertOrOrganization" data-ui-sref-active="{'is-active' : 'app.dashboard.expert'}")
        a(data-ui-sref="app.dashboard.expert.activities")
          span.mobile-only.icon.icon-suitcase-24
          span(data-translate="NAVIGATION.MENU_ITEMS.EXPERT")
      li(
      data-ng-if="!$ctrl.isPlatformForExpert"
      data-ui-sref-active="{'is-active' : 'app.dashboard.client'}")
        a(data-ui-sref="app.dashboard.client.favourites")
          span.mobile-only.icon.icon-client-24
          span(data-translate="NAVIGATION.MENU_ITEMS.CLIENT")
      li(data-ui-sref-active="{'is-active' : 'app.dashboard.settings'}")
        a(data-ui-sref="app.dashboard.settings.general")
          span.mobile-only.icon.icon-settings-24
          span(data-translate="NAVIGATION.MENU_ITEMS.SETTINGS")
      li
        a(data-ng-click="$ctrl.logout()")
          span.mobile-only.icon.icon-logout-24
          span(data-translate="NAVIGATION.MENU_ITEMS.LOGOUT")

  li.navbar-notifications
    ul.menu-list.navbar-list
      li.navbar-parent.help-tab-link(data-ng-class="{'show-arrow' : $ctrl.isHelpMenuShow}")
        a(data-ng-click="$ctrl.toggleHelpMenuShow()")
          span.navbar-item-handler
            span.icon.icon-questionmark-24(data-ng-class="{'active-icon' : $ctrl.isHelpMenuShow}")
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.HELP")
          span.mobile-only.icon.icon-next-24

        .navbar-menu-container.navbar-menu-animation.animation(data-ng-if="$ctrl.isHelpMenuShow")
          navbar-help(data-on-click="$ctrl.toggleHelpMenuShow")

      li.navbar-availbility(data-ng-if="$ctrl.isPlatformForExpert" data-ng-click="$ctrl.toggleAvailbilityNav()")
        navbar-expert-visibility()

      li.navbar-parent(data-ng-if="$ctrl.isExpert")
        a
          span.navbar-item-handler
            span.icon.icon-user-available-24
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.AVAILABILITY")
          span.mobile-only.icon.icon-next-24

      li.navbar-parent.notifications-tab-link(
      data-ng-if="!$ctrl.isPlatformForExpert"
      data-ng-class="{'show-arrow' : $ctrl.isNotificationsMenuShow}")
        a(data-ng-click="$ctrl.toggleNotificationsTabShow()")
          span.navbar-item-handler
            span.icon.icon-bell-24(data-ng-class="{'active-icon' : $ctrl.isNotificationsMenuShow}")
            span.notifications-count(data-ng-hide="$ctrl.areNotificationsDisplayed") {{ $ctrl.notificationCounter }}
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.NOTIFICATION")
          span.mobile-only.icon.icon-next-24

        .navbar-menu-container.navbar-menu-animation.animation(data-ng-if="$ctrl.isNotificationsMenuShow")
          navbar-notifications(data-is-notifications-tab="$ctrl.isNotificationsTab"
            data-is-invitations-tab="$ctrl.isInvitationsTab"
            data-on-click="$ctrl.toggleNotificationsMenuShow")

      li.navbar-parent.invitations-tab-link(data-ng-if="!$ctrl.isPlatformForExpert")
        a(data-ng-click="$ctrl.toggleInvitationsTabShow()")
          span.navbar-item-handler
            span.icon.icon-bell-24
            span.notifications-count(data-ng-hide="$ctrl.areInvitationsDisplayed") 2
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.INVITATIONS")
          span.mobile-only.icon.icon-next-24

      // isPlatformForExpert - after restore project to full functionality delete following 'li'
      li.navbar-parent.notifications-tab-link(
      data-ng-if="$ctrl.isPlatformForExpert"
      data-ng-class="{'show-arrow' : $ctrl.isNotificationsMenuShow}")
        a(data-ng-click="$ctrl.toggleNotificationsTabShow()")
          span.navbar-item-handler
            span.icon.icon-bell-24(data-ng-class="{'active-icon' : $ctrl.isNotificationsMenuShow}")
            span.notifications-count(data-ng-hide="$ctrl.areNotificationsDisplayed") {{ $ctrl.notificationCounter }}
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.NOTIFICATION")
          span.mobile-only.icon.icon-next-24

        .navbar-menu-container.navbar-menu-animation.animation(data-ng-if="$ctrl.isNotificationsMenuShow")
          navbar-notifications(data-is-notifications-tab="$ctrl.isNotificationsTab"
          data-is-invitations-tab="$ctrl.isInvitationsTab"
          data-invitations="$ctrl.invitations"
          data-on-click="$ctrl.toggleNotificationsMenuShow")
