.settings
  .settings__header
    span {{ 'DASHBOARD.SETTINGS.TITLE' | translate }}

  .settings__container(*ngIf="session$ | async as session")
    plat-setting-option(
      [title]="'DASHBOARD.SETTINGS.ANONYMITY.TITLE'",
      [description]="'DASHBOARD.SETTINGS.ANONYMITY.DESCRIPTION'",
      [tooltipTrText]="'DASHBOARD.SETTINGS.CHANGE_NUMBER_TITLE.TOOLTIP'")
      plat-change-anonymity

    plat-setting-option(
      [title]="'DASHBOARD.SETTINGS.CHANGE_NUMBER_TITLE'",
      [description]="session.account.msisdn")
      button.button-tablet(plat-stroked-button, (click)="openChangeNumberModal()") {{ 'DASHBOARD.SETTINGS.BUTTON.CHANGE' | translate }}
      button.button-mobile(plat-icon-button)
        span(plat-icon iconClass='stroke-edit', (click)="openChangeNumberModal()")

    plat-setting-option(
      [title]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD_TITLE'",
      [description]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD_DESCRIPTION'")
      button.button-tablet(plat-stroked-button, (click)="openChangePasswordModal()") {{ 'DASHBOARD.SETTINGS.BUTTON.CHANGE' | translate }}
      button.button-mobile(plat-icon-button)
        span(plat-icon iconClass='stroke-edit', (click)="openChangePasswordModal()")

    plat-setting-option(
      [title]="'DASHBOARD.SETTINGS.CHANGE_EMAIL_TITLE'",
      [titleOptionalText]="session.account.unverifiedEmail ? 'DASHBOARD.SETTINGS.CHANGE_EMAIL_TITLE.UNVERIFIED' : ''",
      [description]="session.account.email || session.account.unverifiedEmail")
      button.button-tablet(plat-stroked-button, (click)="openChangeEmailModal()") {{ 'DASHBOARD.SETTINGS.BUTTON.CHANGE' | translate }}
      button.button-mobile(plat-icon-button)
        span(plat-icon iconClass='stroke-edit', (click)="openChangeEmailModal()")

    plat-setting-option(
      [title]="'DASHBOARD.SETTINGS.CHANGE_SESSION_TITLE'",
      [description]="'DASHBOARD.SETTINGS.CHANGE_SESSION_DESCRIPTION'")
      button.button-tablet(plat-stroked-button, (click)="openManageSessionsModal()") {{ 'DASHBOARD.SETTINGS.BUTTON.CHECK' | translate }}
      button.button-mobile(plat-icon-button)
        span(plat-icon iconClass='stroke-edit', (click)="openManageSessionsModal()")
