.modal-primary.edit-expert-profile
  .container-big
    top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
    preloader(data-is-loading="vm.isLoading")
      form(name="editProfileForm" novalidate)
        .profile-avatar
          avatar-uploader(
          data-avatar-token="vm.profileAvatarToken"
          data-is-valid="vm.isAvatarValid()"
          data-validation-text="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_AVATAR.VALIDATION_TEXT"
          data-is-submitted="vm.isSubmitted")

        div
          input-primary(
          data-type="text"
          data-id="inputText"
          data-placeholder="{{ ::vm.profileNamePlaceholder }}"
          data-ng-model="vm.profileName"
          data-input-text="{{ ::vm.profileNameLabel }}"
          data-ng-required="true"
          data-max-length="{{::vm.inputNameMaxLength}}"
          data-is-submitted="vm.isSubmitted"
          data-validation-text="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_NAME.VALIDATION_TEXT"
          data-is-valid="vm.isNameValid()"
          )

        div
          textarea-primary(
          data-input-text="{{ ::vm.profileDescriptionLabel }}"
          data-placeholder="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_DESCRIPTION.PLACEHOLDER"
          data-ng-model="vm.profileDescription"
          data-id="edit_expert_area"
          data-max-length="{{::vm.inputDescriptionMaxLength}}"
          data-is-submitted="vm.isSubmitted"
          data-validation-text="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_DESCRIPTION.VALIDATION_TEXT"
          data-is-valid="vm.isDescriptionValid()"
          )

        div
          input-links(
            data-label="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LINKS.LABEL"
            data-selected-links="vm.profileLinks"
          )

        div
          p.files-title(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.FILES.LABEL")
          file-uploader(
          data-token-list="vm.profileFilesTokens"
          data-is-valid-callback="vm.onFileUploadEnd")

    .modal-action
      button.btn.btn-default(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_NAME.BUTTON.SAVE"
      data-ng-click="vm.saveChanges()")

