.set-email-view
  plat-login-background
    plat-login-content(
      contentHeightAnimation,
      titleText="DASHBOARD.SET_EMAIL.TITLE",
      subTitle="DASHBOARD.SET_EMAIL.SUBTITLE"
    )
      form(
        [id]="setEmailFormId",
        [formGroup]="setEmailForm",
        novalidate,
        (ngSubmit)="onFormSubmit(setEmailForm)"
      )
        .input-icon-container
          span.icon.icon-mail
          am-core-input-email(
            label="DASHBOARD.SET_EMAIL.EMAIL.ENTER_EMAIL.LABEL",
            placeholder="DASHBOARD.SET_EMAIL.ENTER_EMAIL.PLACEHOLDER",
            [form]="setEmailForm",
            [controlName]="emailControlName",
            [isDisabled]="isRequestPending",
            [initialFocus]="isInputInitialFocused",
            [isRequired]="isInputRequired"
          )

        am-core-submit-button(
          titleText="LOGIN.NEXT",
          [formName]="setEmailFormId",
          [isLoading]="isRequestPending"
        )
