.checkbox(data-ng-click="$ctrl.onClick()" data-ng-class="{'is-invalid': $ctrl.validation}")
  .input-handler
    input(
      type='checkbox'
      name="{{ $ctrl.name | translate }}"
      data-ng-model="$ctrl.ngModel"
      data-ng-disabled="{{ $ctrl.isDisabled }}"
      data-ng-change="$ctrl.callBackFunction()"
      data-ng-required="{{$ctrl.ngRequired}}"
    )

    label.label-text {{:: $ctrl.inputText | translate }}
    span.is-required(data-ng-if="$ctrl.ngRequired") *

    .alert-cloud(data-ng-if="$ctrl.validation && !$ctrl.ngModel")
      span.alert-text {{:: $ctrl.alertText | translate }}

  .additional-text
    p.label-additional-text(data-ng-if="$ctrl.additionalText") {{:: $ctrl.additionalText | translate }}
