.checkbox(data-ng-click="$ctrl.onClick()" data-ng-class="{'is-invalid': $ctrl.validation}")
  .input-handler
    input(
    type='checkbox'
    name="{{ $ctrl.name | translate }}"
    data-ng-model="$ctrl.ngModel"
    data-ng-disabled="{{ $ctrl.isDisabled }}"
    data-ng-change="$ctrl.callBackFunction()"
    data-ng-required="{{$ctrl.ngRequired}}"
    )

    label.label-text
      label(data-translate="{{ ::$ctrl.inputText | translate: $ctrl.inputTextTranslationParam }}")
      span.is-required(data-ng-if="$ctrl.ngRequired") *

  validation-alert(
    data-alert-text="{{$ctrl.alertText}}"
    data-is-visible="$ctrl.validation && !$ctrl.ngModel"
  )

  .additional-text(data-ng-if="$ctrl.additionalText")
    p.label-additional-text {{:: $ctrl.additionalText | translate }}
