.input-consultation-tag

  input(
    data-ng-model="$ctrl.tagModel"
    data-ng-enter="$ctrl.onEnter()"
    data-ng-blur="$ctrl.onBlur()"
    data-ng-focus="$ctrl.onFocus()"
  )

  validation-alert(
  data-alert-text="WIZARD.CONSULTATION.INVALID_TAG"
  data-is-visible="$ctrl.isInputValueInvalid"
  )

  .checked-list
    ul.tag-list
      li(data-ng-repeat="tag in $ctrl.selectedTags")
        a(data-ng-click="$ctrl.deleteSelectedItem($index)") {{tag}}
          span.icon.icon-failure-24

  preloader-container(data-is-loading="$ctrl.isSuggestedTagsLoading")
    .recommended-lst(data-ng-if="$ctrl.suggestedTags && $ctrl.suggestedTags.length > 0")
      p.label(data-translate="WIZARD.CONSULTATION.TAG.RECOMMENDED.TITLE")

      ul.tag-list.recomended-tags
        li(data-ng-repeat="item in $ctrl.suggestedTags track by $index")
          a(data-ng-click="$ctrl.addSelectedItem(item, $index)")
            span {{ item }}

  validation-alert(
    data-alert-text="{{ $ctrl.validationText }}"
    data-is-visible="!$ctrl.isValid && $ctrl.isDirty && !$ctrl.isFocus || $ctrl.isSubmitted && !$ctrl.isValid"
  )
