.wizard-expert
  wizard-handler(data-on-step-change="vm.saveSteps")
    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.NAME.TITLE"
    data-tooltip-text="Tooltip tekst krotki"
    data-check-is-step-valid="vm.checkNameInput"
    )
      input-primary(
      data-ng-model="vm.nameModel"
      data-ng-pattern="vm.patternName"
      data-id="firstName"
      data-validation=""
      data-max-length="150"
      )

    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.PHOTO.TITLE"
    data-tooltip-text="Tooltip komponent bardzo dlugi tekst na dwie linie albo trzy"
    data-on-click-next="vm.goNextOnName"
    data-on-click-back="vm.goBackOnName"
    )
      wizard-avatar(data-avatar-token="vm.avatarModel")

    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.LANGUAGE.TITLE"
    data-additional-text="To add new language press ENTER when you are in the active field."
    data-tooltip-text="Kopytko"
    data-on-click-next="vm.goNextOnName"
    data-on-click-back="vm.goBackOnName"
    )
      input-dropdown-tag(
        data-dictionary="vm.dictionary"
      )
    wizard-step.step(
      data-title="WIZARD.STEP.EXPERT.DESCRIPTION.TITLE"
      data-tooltip-text="DESCRIPTION"
      data-on-click-next="vm.goNextOnName"
      data-on-click-back="vm.goBackOnName"
    )
      input-primary(
        data-input-text="Placeholder"
        data-ng-model="$ctrl.firstNameModel"
        data-ng-pattern="$ctrl.patternName"
        data-id="firstName"
        data-validation=""
        data-max-length="150"
      )

    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.FILES.TITLE"
    data-tooltip-text="FILES"
    data-on-click-next="vm.goNextOnName"
    data-on-click-back="vm.goBackOnName"
    )
      input-primary(
        data-input-text="Placeholder"
        data-ng-model="$ctrl.firstNameModel"
        data-ng-pattern="$ctrl.patternName"
        data-id="firstName"
        data-validation=""
        data-max-length="150"
      )

    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.LINKS.TITLE"
    data-tooltip-text="LINKS"
    data-on-click-next="vm.goNextOnName"
    data-on-click-back="vm.goBackOnName"
    )
