.wizard-expert
  wizard-handler(data-on-step-change="vm.saveSteps" data-progress-bar-text=" {{ vm.progressBarTittle }}")
    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.NAME.TITLE"
    data-tooltip-text="WIZARD.STEP.EXPERT.NAME.TOOLTIP"
    data-check-is-step-valid="vm.checkIsNameInputValid"
    data-on-go-back="vm.onGoBack"
    data-required="vm.isStepRequired"
    )
      input-primary(
        data-ng-model="vm.nameModel"
        data-ng-pattern="vm.patternName"
        data-id="firstName"
        data-is-valid="vm.checkIsNameInputValid()"
        data-validation-text="WIZARD.EXPERT.NAME_INPUT_VALIDATION"
        data-max-length="150"
        data-is-submitted="vm.isSubmitted"
      )

    wizard-step.step(
    data-title="WIZARD.STEP.EXPERT.PHOTO.TITLE"
    data-tooltip-text="WIZARD.STEP.EXPERT.PHOTO.TOOLTIP"
    data-check-is-step-valid="vm.checkIsAvatarValid"
    data-required="vm.isStepRequired"
    )
      avatar-uploader(
      data-avatar-token="vm.avatarModel"
      data-is-valid="vm.checkIsAvatarValid()"
      data-validation-text="WIZARD.EXPERT.AVATAR_INPUT_VALIDATION"
      data-is-submitted="vm.isSubmitted")

    wizard-step.step(
      data-title="WIZARD.STEP.EXPERT.DESCRIPTION.TITLE"
      data-tooltip-text="WIZARD.STEP.EXPERT.DESCRIPTION.TOOLTIP"
      data-check-is-step-valid="vm.checkIsProfileDescriptionValid"
      data-required="vm.isStepRequired"
    )
      textarea-primary(
        data-ng-model="vm.descriptionModel"
        data-id="desctName"
        data-is-valid="vm.checkIsProfileDescriptionValid()"
        data-validation-text="WIZARD.EXPERT.TEXTAREA_INPUT_VALIDATION"
        data-max-length="600"
        data-is-submitted="vm.isSubmitted"
      )

    wizard-step.step(
      data-title="WIZARD.STEP.EXPERT.FILES.TITLE"
      data-tooltip-text="WIZARD.STEP.EXPERT.FILES.TOOLTIP"
      data-check-is-step-valid="vm.checkIsFileUploadValid"
    )
      file-uploader(
        data-token-list="vm.filesModel"
        data-is-valid-callback="vm.onUploadingFile"
      )

    wizard-step.step.last-step(
      data-additional-text="WIZARD.STEP.EXPERT.LINKS.HINT"
      data-title="WIZARD.STEP.EXPERT.LINKS.TITLE"
      data-tooltip-text="WIZARD.STEP.EXPERT.LINKS.TOOLTIP"
      data-on-go-to-next="vm.goToSummary"
      data-button-title="WIZARD.STEP.EXPERT.GOTO.SUMMARY.BUTTON"
    )

      input-links(data-selected-links="vm.linksModel")

  validation-alert(
    data-alert-text="WIZARD.EXPERT.VALIDATE_FORM"
    data-is-visible="!vm.isFormValid() && vm.isSubmitted"
  )
