form(novalidate="" role="form" name="expertProfileForm")
  .row
    .col-sm-12
      .page-header
        h2 {{'EXPERT_PROFILE.EXPERT_PROFILE' | translate}}
        pro-profile-status(status="vm.profile.profileStatus")
        .progress-container.pull-right
          span {{ vm.profile.profileProgressPercentage }}%
          .progress
            .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='{{vm.profile.profileProgressPercentage}}' aria-valuemin='0' aria-valuemax='100' style='width: {{vm.profile.profileProgressPercentage}}%')

  .row
    .col-sm-12
      .exeptions
        .alert.alert-danger(role="alert" data-ng-show="(expertProfileForm.fullname.$dirty && expertProfileForm.fullname.$invalid || vm.submitted) && expertProfileForm.fullname.$error.required")
          | {{ 'EXPERT_PROFILE.MESSAGES.FULLNAME_REQUIRED' | translate }}

  .row
    .col-sm-12
      .page-body
        .profile-overall-upload-progress-bar(data-ng-show="vm.allFilesProgress" )
          .progress
            .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='{{vm.allFilesProgress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{vm.allFilesProgress}}%')
        .profile-cover(data-ng-hide="vm.isFilesExist(vm.profile.formdata.coverFiles)" ngf-drop ng-model="vm.profile.formdata.coverFile"
        ngf-drag-over-class="'dragover'"
        ngf-multiple="false"
        ngf-allow-dir="false"
        accept="image/*"
        ngf-pattern="'image/*'")
          pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_BACKGROUND_TOOLTIP' | translate }}")
          .add-icon
            a(href="" ngf-select ng-model="vm.profile.formdata.coverFile" ngf-multiple="false")
              i.fa.fa-plus-square
        .profile-cover.active(data-ng-show="vm.isFilesExist(vm.profile.formdata.coverFiles)" )
          pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_BACKGROUND_TOOLTIP' | translate }}")
          img(ngf-src="vm.profile.formdata.coverFiles[0]")

        .page-content
          .row
            .col-sm-3.left-side
              .profile-avatar(data-ng-hide="vm.isFilesExist(vm.profile.formdata.avatarFiles)" ngf-drop ng-model="vm.profile.formdata.avatarFile"
              ngf-drag-over-class="'dragover'"
              ngf-multiple="false"
              ngf-allow-dir="false"
              accept="image/*"
              ngf-pattern="'image/*'")
                pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_AVATAR_TOOLTIP' | translate }}")
                .user-icon
                  a(href="" ngf-select ng-model="vm.profile.formdata.avatarFile" ngf-multiple="false")
                    i.fa.fa-user
              .profile-avatar.active(data-ng-show="vm.isFilesExist(vm.profile.formdata.avatarFiles)")
                pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_BACKGROUND_TOOLTIP' | translate }}")
                img(ngf-src="vm.profile.formdata.avatarFiles[0]")

              .profile-behance
                pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_ON_BEHANCE_TOOLTIP' | translate }}")
                .behance-icon
                  i.fa.fa-behance

            .col-sm-9.right-side
              .profile-fullname
                .input-group-lg
                  input.form-control(type="text" name="fullname" data-ng-required="true" data-ng-model="vm.profile.formdata.fullname" placeholder="{{ 'EXPERT_PROFILE.FIRSTNAME_LASTNAME_OR_COMPANY_PLACEHOLDER' | translate }}")

              .profile-general-info
                .input-group-lg
                  textarea.form-control(data-ng-model="vm.profile.formdata.generalInfo" placeholder="{{ 'EXPERT_PROFILE.GENERAL_INFO_PLACEHOLDER' | translate }}")

        .page-content
          .row
            .col-sm-3.left-side
              .profile-video
                pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_VIDEOS_TOOLTIP' | translate }}")
                .video-icon
                  i.fa.fa-play-circle-o

              .profile-social-media
                pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_SOCIAL_MEDIA_TOOLTIP' | translate }}")
                .share-icon
                  i.fa.fa-share-alt-square

            .col-sm-9.right-side
              .profile-certificates(data-ng-hide="vm.isFilesExist(vm.profile.formdata.documentFiles)" ngf-drop ng-model="vm.profile.formdata.documentFiles"
              ngf-drag-over-class="'dragover'"
              ngf-multiple="true"
              ngf-allow-dir="true"
              accept="image/*"
              ngf-pattern="'image/*'")
                pro-question-mark(title="{{ 'EXPERT_PROFILE.PROFILE_CERTIFICATES_TOOLTIP' | translate }}")
                .files-icon
                  a(href="" ngf-select data-ng-model="vm.profile.formdata.documentFiles" ngf-multiple="true")
                    i.fa.fa-files-o

              .profile-certificates(data-ng-show="vm.isFilesExist(vm.profile.formdata.documentFiles)" data-ng-repeat="item in vm.currentlyUploadedDocuments")
                a
                  | {{ item.name }}
                .progress
                  .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='{{item.progressPercentage}}', aria-valuemin='0', aria-valuemax='100', style='width: {{vm.progressPercentage}}%')




  .row(style="padding-bottom: 200px")
    .col-sm-12
      .page-credentials
        button.btn.btn-lg.btn-primary.pull-right(type="button" data-ng-click="vm.sendAndGoNext()")
          | {{ 'GENERAL.SAVE_AND_NEXT' | translate }}

    //- h2 Debug variables
    //- pre
    //-   | vm: {{ vm | json }}


