.choose-amount-charge.select-choice
  .title
    h3(data-translate="{{ $ctrl.title }}")

  .choose-options
    .choose-options-item(data-ng-repeat = "amount in $ctrl.amounts.paymentOptions")
      .option(data-ng-class="{'selected': $ctrl.activeOption == $index}" data-ng-click="$ctrl.selectAmountOption($index)")
        span.icon.icon-success-12.top-right.circle(data-ng-show="$ctrl.activeOption == $index")
        h2 {{ amount.amount / 100 }}

    .choose-options-item(id="cash-valid")
      .option.option-own-amount(data-ng-class="{'selected': $ctrl.activeOption == 3}" data-ng-click="$ctrl.selectAmountOption(3)")
        span.icon.icon-success-12.top-right.circle(data-ng-show="$ctrl.activeOption == 3")
        pro-input(placeholder="250zł"
          data-label="{{'DASHBOARD.CHARGE_ACCOUNT.OWN_AMOUNT' | translate}}"
          data-ng-model="$ctrl.cashAmountModel"
          data-ng-click="onClick()"
          data-ng-enter="onEnter()"
          data-ng-class="{'invalid': $ctrl.minimalAmountValidation()}"
          addon-action="onEnter"
          data-id="ownAmount"
          data-addon-text="{{ $ctrl.amounts.minimalAmounts.currency }}"
          data-type='text'
          data-focus='$ctrl.focusInput'
          only-digits)

    .input-error-messages(data-ng-show = "$ctrl.minimalAmountValidation()")
      span {{ 'DASHBOARD.CHARGE_ACCOUNT.INVALID_MINIMAL_PAYMENT' | translate }}
    .input-error-messages(data-ng-show = "")
      span {{ 'DASHBOARD.CHARGE_ACCOUNT.INVALID_PAYMENT_TYPE' | translate }}