.choose-amount-charge.select-choice
  header.entry-title
    span(data-translate="{{ $ctrl.title }}")

  .choose-options.tiles-row
    .tiles-item(data-ng-repeat = "amount in $ctrl.amounts.paymentOptions")
      .choose-options-item
        .option(data-ng-class="{'selected': $ctrl.activeOption == $index}" data-ng-click="$ctrl.selectAmountOption($index)")
          span.charge-price(data-ng-bind-html="amount | money")
          span.icon.icon-dot(data-ng-class="{'is-active': $ctrl.activeOption == $index}")

    .tiles-item
      .choose-options-item(id="cash-valid")
        .option.option-own-amount(data-ng-class="{'selected': $ctrl.activeOption == 3}" data-ng-click="$ctrl.selectAmountOption(3)")
          input-primary(
          data-type="number"
          data-id="ownAmount"
          data-placeholder="DASHBOARD.CHARGE_ACCOUNT.YOUR_AMOUNT.TITLE"
          data-ng-model="vm.cashAmountModel"
          data-is-valid="!$ctrl.minimalAmountValidation()"
          data-validation-text="REGISTER.CODE_REQUIRED"

          data-ng-enter="$ctrl.onEnter()"
          data-ng-click="$ctrl.selectAmountOption(3)"
          data-focus='$ctrl.focusInput'
          )
          span.icon.icon-dot(data-ng-class="{'is-active': $ctrl.activeOption == 3}")

  .input-error-messages(data-ng-show = "$ctrl.minimalAmountValidation()")
      span {{ 'DASHBOARD.CHARGE_ACCOUNT.INVALID_MINIMAL_PAYMENT' | translate }}
