.payouts.payouts-options
  no-results-information(
    data-ng-hide="vm.isAnyPayoutMethod"
    data-icon-src="/assets/images/profitelo_icons/icon_payments.png"
    data-information-title="SETTINGS.PAYMENTS.NO_RESULTS.TITLE"
    data-button-title="SETTINGS.PAYMENTS.NO_RESULTS.BUTTON"
    data-button-class="btn-default icon-right"
    data-button-icon-right-class="icon-arrow-right-16"
    data-button-on-click="vm.addPayoutsMethod"
  )

  .payments-method(data-ng-show="vm.isAnyPayoutMethod")
    header.entry-title
      span(data-translate="SETTINGS.PAYOUTS.PAYOUTS_METHOD.TITLE")
      a.btn.btn-primary.btn-small(data-translate="SETTINGS.PAYMENTS.BUTTON.ADD" data-ng-click="vm.addPayoutsMethod()")

    .radio-list.payments-method-list
      form
        .radio-list-item
          .radio-text.radio
            .radio-input
              input(id="master-card" type="radio" name="payments-method" data-ng-model="vm.isDefault")
              label.label

            label.text(for="master-card")
              .payment-thumb
                img(data-ng-src="/assets/images/payments/paypal.png")

              span {{ vm.payPalAccount.email }}

          .radio-action
            a.btn.btn-primary.btn-small.recharge-account(
            data-translate="SETTINGS.PAYOUTS.BUTTON.DELETE" data-ng-click="vm.deletePaymentMethod()")

