.activities
  preloader-container(data-is-loading="vm.isSearchLoading" data-ng-show="vm.isSearchLoading || vm.isError"
  data-is-error="vm.isError" data-error-message="DASHBOARD_CLIENT.ERROR_MESSAGE"
  data-error-fn="vm.sendRequestAgain")
  expert-no-activities(data-ng-if="!vm.areActivities && !vm.isSearchLoading")
  div(data-ng-if="vm.areActivities && !vm.isSearchLoading")
    dashboard-filters(data-filters="vm.filters" data-on-set-search-params="vm.onSetFiltersParams"
    data-account-type="vm.accountType")
    expert-activity(data-ng-repeat="activity in vm.activities" data-activity="activity")

    .load-more-results-container
      span(data-translate="{{ 'DASHBOARD.EXPERT.ACTIVITIES.RESULTS_COUNTER' | translate: vm.translationCounter }}")

      .load-more-btn-handler
        span.btn.btn-preloader.animation(data-ng-if="vm.isActivitiesLoading")
        a.btn.btn-link(
        data-ng-class="{'is-disabled-link': vm.isActivitiesLoading}"
        data-ng-if="vm.isMoreResults"
        data-translate="DASHBOARD.EXPERT.ACTIVITIES.SHOW_MORE_RESULTS"
        data-ng-click="vm.loadMoreActivities()"
        )
