.new-password
  .phone-number-container
    span(data-translate="REGISTER.USER_PHONE")
    span.number {{ vm.phoneNumber }}
  form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.completeRegistration()" novalidate)
    input.hidden-input(data-ng-model="vm.msisdn.number" type="text" name="phone-number" tabindex="-1")
    input-password(
    data-id="password"
    data-ng-model="vm.password"
    data-input-text="REGISTER.SERVICE_PASSWORD"
    data-placeholder="REGISTER.SERVICE_PASSWORD_PLACEHOLDER"
    data-is-valid="vm.checkIsPasswordCorrect() || !vm.isServerError"
    data-validation-text="REGISTER.VALID_PASSWORD"
    data-is-submitted="passwordForm.$submitted"
    data-on-change="vm.onPasswordChange"
    auto-focus
    )

    password-strength-bar(data-current-class = "vm.passwordStrength")

    button.btn.btn-default(
      data-ng-disabled="!vm.checkIsPasswordCorrect()"
      data-translate="LOGIN.NEXT" type="submit")
