.btn-handler
    a.pro-btn.btn-light.btn-icon(data-ng-click="vm.back()")
        i.icon.icon-arrow-left-24.icon-standard
form.pro-input-form(name="emailForm" data-ng-submit="emailForm.$valid && vm.getEmailStatus()" novalidate)
    pro-input(data-label="{{ 'REGISTER.SERVICE_EMAIL' | translate }}"
    placeholder="{{ 'REGISTER.SERVICE_EMAIL_PLACEHOLDER' | translate }}"
    data-pro-model="email"
    data-name="email"
    data-type="email"
    data-ng-class="{'invalid':emailForm.email.$invalid && (emailForm.email.$dirty || emailForm.$submitted)}"
    required)
    .input-error-messages
        .error.left(data-ng-show="emailForm.$submitted && emailForm.$invalid" data-translate="REGISTER.EMAIL_REQUIRED")
    button.pro-btn.btn-main.btn-medium(data-translate="LOGIN.NEXT" type="submit")