form.pro-input-form(name="emailForm" data-ng-submit="emailForm.$valid && vm.setNewEmail()" novalidate)
    pro-input(data-label="{{ 'REGISTER.SERVICE_EMAIL' | translate }}"
    placeholder="{{ 'REGISTER.SERVICE_EMAIL_PLACEHOLDER' | translate }}"
    data-pro-model="vm.registrationSteps.email"
    data-name="email"
    data-type="email"
    data-ng-class="{'invalid':emailForm.email.$invalid && (emailForm.email.$dirty || emailForm.$submitted)}"
    required)
    .input-error-messages
        .error.left(data-ng-show="emailForm.$submitted && emailForm.$invalid" data-translate="REGISTER.EMAIL_REQUIRED")
    button.pro-btn.btn-main.btn-medium(data-translate="LOGIN.NEXT" type="submit")