.phone-handler
    h5.light.bold {{'REGISTER.USER_PHONE' | translate}} {{vm.registrationSteps.account.phoneNumber.prefix}} {{vm.registrationSteps.account.phoneNumber.number}}
form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.completeRegistration()" novalidate)
    pro-input-password(data-label="{{ 'REGISTER.SERVICE_PASSWORD' | translate }}"
    data-placeholder="{{ 'REGISTER.SERVICE_PASSWORD_PLACEHOLDER' | translate }}"
    data-pro-model="vm.registrationSteps.password"
    data-name="password"
    data-on-change="vm.onPasswordChange"
    data-ng-class="{'invalid':passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted)}"
    required)

    password-strength-bar(data-current-class = "vm.passwordStrength")

    pro-checkbox(id="acceptRules"
    data-pro-model="vm.rulesAccepted"
    data-label="{{'LOGIN.ACCEPT_RULES' | translate}}"
    data-name="acceptRules",
    data-ng-class="{'invalid': !vm.rulesAccepted && passwordForm.$submitted}"
    required)

    .input-error-messages
        .error.left(data-translate="REGISTER.VALID_PASSWORD" data-ng-show="passwordForm.password.$invalid && passwordForm.$submitted")
        .error.left(data-translate="REGISTER.VALID_CHECKBOX" data-ng-show="!vm.rulesAccepted && passwordForm.$submitted")

    button.pro-btn.btn-main.btn-medium( data-translate="REGISTER.DONE" type="submit")
