.btn-handler
    a.pro-btn.btn-light.btn-icon(data-ng-click="vm.back()")
        i.icon.icon-arrow-left-24.icon-standard
    h5.light.bold {{'REGISTER.USER_PHONE' | translate}} {{vm.account.phoneNumber.prefix}} {{vm.account.phoneNumber.number}}
form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.completeRegistration()" novalidate)
    pro-input-password(data-label="{{ 'REGISTER.SERVICE_PASSWORD' | translate }}"
    data-placeholder="{{ 'REGISTER.SERVICE_PASSWORD_PLACEHOLDER' | translate }}"
    data-pro-model="password"
    data-name="password"
    data-on-change="vm.onPasswordChange"
    data-ng-class="{'invalid':passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted)}"
    required)

    password-strength-bar(data-current-class = "vm.passwordStrength")

    pro-checkbox(id="acceptRules"
    data-pro-model="vm.rulesAccepted"
    data-label="{{'LOGIN.ACCEPT_RULES' | translate}}"
    data-name="acceptRules"
    required)


    button.pro-btn.btn-main.btn-medium( data-translate="REGISTER.DONE" type="submit")
