.btn-handler
    a.pro-btn.btn-light.btn-icon(data-ui-sref="app.login.account")
        i.icon.icon-arrow-left-24.icon-standard
form.pro-input-form(name="smsCodeForm" data-ng-submit="smsCodeForm.$valid && vm.getSmsCodeStatus()" novalidate)
    pro-input(data-label="{{ 'REGISTER.SERVICE_CODE' | translate }}"
    placeholder="{{ 'REGISTER.SERVICE_CODE_PLACEHOLDER' | translate }}"
    data-pro-model="vm.registrationSteps.smsCode"
    data-maxlength="5"
    data-type="text"
    data-name="smsCode"
    data-ng-class="{'invalid':smsCodeForm.smsCode.$invalid && (smsCodeForm.smsCode.$dirty || smsCodeForm.$submitted)}"
    required)
    .input-error-messages
        .error.left(data-ng-show="smsCodeForm.$submitted && smsCodeForm.$invalid" data-translate="REGISTER.CODE_REQUIRED")
    button.pro-btn.btn-main.btn-medium(data-translate="LOGIN.NEXT" type="submit")
