.pro-service-external-links
  .step-content-column
    .links-submit
      pre {{$ctrl.isFocus}}

      input-primary(
        placeholder="WIZARD.STEP.EXPERT.LINKS.PLACEHOLDER"
        data-ng-model="$ctrl.linkModel"
        data-ng-enter="$ctrl.onEnter()"
        data-ng-class="{'invalid': $ctrl.badUrl}"
      )

      validation-alert(
        data-alert-text="DASHBOARD.CREATE_PROFILE.ERROR_EXTERNAL_LINKS"
        data-is-visible="$ctrl.badUrl && !$ctrl.isFocus"
      )

      validation-alert(
        data-alert-text="DASHBOARD.CREATE_PROFILE.LINK_ALREADY_EXIST_ERROR"
        data-is-visible="$ctrl.urlExist && !$ctrl.isFocus"
      )


      p.hint {{ $ctrl.hintLabel | translate }}

    .tags-list(data-ng-show="$ctrl.selectedLinks.length > 0")
      ul.tag-list.dropdown-tag-list
        li(data-ng-repeat="link in $ctrl.selectedLinks track by $index")
          a(data-ng-click="$ctrl.removeLink(link)")
            span.left-icon.url-logo(pro-social-icon-getter data-url="link")
            span.link {{ link }}
            span.icon.icon-failure-24

    validation-alert(
      data-alert-text="DASHBOARD.CREATE_PROFILE.NO_LINKS_ERROR"
      data-is-visible="error.noUrl && $ctrl.selectedLinks.length < 1"
    )

