.activities
  preloader-container(data-is-loading="vm.isSearchLoading" data-ng-show="vm.isSearchLoading || vm.isError"
  data-is-error="vm.isError" data-error-message="DASHBOARD_CLIENT.ERROR_MESSAGE"
  data-error-fn="vm.sendRequestAgain")
  expert-no-activities(data-ng-if="!vm.areActivities && !vm.isSearchLoading"
  data-is-payout-data-alert-visible="vm.isPayoutDataAlertVisible")
  div(data-ng-if="vm.areActivities && !vm.isSearchLoading")
    .no-payout-message-container(data-ng-show="vm.isPayoutDataAlertVisible")
      p(data-translate="{{ vm.activeAccountTranslation | translate: vm.translationPayoutsHref }}")
    dashboard-filters(data-filters="vm.filters" data-on-set-search-params="vm.onSetFiltersParams"
    data-account-type="vm.accountType")
    expert-activity(data-ng-repeat="activity in vm.dashboard" data-activity="activity")

    no-results-information(data-icon-src="assets/images/profitelo_icons/icon_expert_no_activities.png"
    data-information-title="DASHBOARD.EXPERT.ACTIVITIES.NO_FILTERED_RESULTS"
    data-ng-hide="vm.areFilteredResults")

    .load-more-results-container(data-ng-show="vm.areFilteredResults")
      span(data-translate="{{ 'DASHBOARD.EXPERT.ACTIVITIES.RESULTS_COUNTER' | translate: vm.translationCounter }}")

      .load-more-btn-handler
        span.btn.btn-preloader.animation(data-ng-if="vm.isActivitiesLoading")
        a.btn.btn-link(
        data-ng-class="{'is-disabled-link': vm.isActivitiesLoading}"
        data-ng-if="vm.areMoreResults"
        data-translate="DASHBOARD.EXPERT.ACTIVITIES.SHOW_MORE_RESULTS"
        data-ng-click="vm.loadMoreActivities()"
        )
