.general-options
  header.entry-title
    span(data-translate="SETTINGS.GENERAL.TITLE")

  .list-row(data-ng-if="!vm.isPlatformForExpert")
    .list-icon
      .thumb.x24
        user-avatar(data-image-token="vm.avatarImageSource")

    .list-data
      span.label(data-translate="SETTINGS.GENERAL.FULL-NAME.LABEL")
      span.name {{ vm.nickname }}

    a.btn.btn-link(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openBasicAccountSettingsModal()")

  .list-row(data-ng-if="!vm.isPlatformForExpert")
    .list-icon
      span.icon.icon-smartphone-24

    .list-data
      span.label(data-translate="SETTINGS.GENERAL.PHONE_NUMBER.LABEL")
      span.name {{ vm.phoneNumber }}

    a.btn.btn-link(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openGeneralPhoneSettingsModal()")

  .list-row-double
    .list-row.is-active(data-ng-if="vm.email")
      .list-icon
        span.icon.icon-success-24

      .list-data
        span.label(data-translate="SETTINGS.GENERAL.EMAIL.LABEL")
        span.name {{ vm.email }}

      a.btn.btn-link(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
      data-ng-click=":: vm.openGeneralEmailSettingsModal()")

    .list-row(data-ng-show="vm.showUnverifiedEmail" data-ng-class="{'is-inactive-no-email': !vm.email, 'is-inactive': vm.email}")
      .list-icon
        span.icon.icon-failure-24

      .list-data
        span.label(data-translate="SETTINGS.GENERAL.EMAIL.WAITING_FOR_VERIFICATION.LABEL")
        span.new-mail {{ vm.unverifiedEmail }}

      a.btn.btn-link(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT" data-ng-if="!vm.email"
      data-ng-click=":: vm.openGeneralEmailSettingsModal()")

  .list-row
    .list-icon
      span.icon.icon-planet-24

    .list-data
      span.label(data-translate="SETTINGS.GENERAL.COUNTRY.LABEL")
      span.name(data-translate="{{ :: ('COUNTRIES.' + vm.country) }}")

    button.btn.btn-link(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openGeneralCountrySettingsModal()" data-ng-disabled="true")
