.payu-payment-form.select-choice
  form(name="paymentForm" data-ng-submit="paymentForm.$valid && $ctrl.sendPayment()" novalidate)
    .default-container
      choose-bank(data-title="DASHBOARD.CHARGE_ACCOUNT.CHOOSE_YOUR_BANK", data-payments-links="$ctrl.paymentsLinks",
      data-bank-model = "$ctrl.bankModel", data-scroll-section-id="$ctrl.personalDataSectionId" id="bankValid")
        .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.bankModel.value")
          span {{ "DASHBOARD.CHARGE_ACCOUNT.EMPTY_BANK_ERROR" | translate }}
      .title-footer(id="personal-section")
        h3(data-translate="DASHBOARD.CHARGE_ACCOUNT.WRITE_YOUR_PERSONAL_DATA")
      .your-personal-data
        .personal-data-item.name
          pro-input(placeholder="{{ 'DASHBOARD.CHARGE_ACCOUNT.NAME_PLACEHOLDER' | translate }}"
          data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.NAME_PLACEHOLDER' | translate }}"
          data-ng-model="$ctrl.firstNameModel"
          data-ng-click="onClick()"
          data-index="1"
          data-ng-enter="$ctrl.onEnter(1)"
          data-ng-class="{'invalid': paymentForm.$submitted && !$ctrl.firstNameModel || paymentForm.name.$dirty && !$ctrl.firstNameModel}"
          addon-action="onEnter"
          required
          data-id="name"
          no-delete)
          .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.firstNameModel || paymentForm.name.$dirty && !$ctrl.firstNameModel")
            span {{ "DASHBOARD.CHARGE_ACCOUNT.NAME_INPUT_ERROR" | translate }}
        .personal-data-item.surname
          pro-input(placeholder="{{ 'DASHBOARD.CHARGE_ACCOUNT.LASTNAME_PLACEHOLDER' | translate }}"
          data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.LASTNAME_PLACEHOLDER' | translate }}"
          data-ng-model="$ctrl.lastNameModel"
          data-ng-class="{'invalid': paymentForm.$submitted && !$ctrl.lastNameModel || paymentForm.lastName.$dirty && !$ctrl.lastNameModel}"
          data-ng-enter="$ctrl.onEnter(2)"
          data-index="2"
          data-id="lastName"
          required
          no-delete)
          .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.lastNameModel || paymentForm.lastName.$dirty && !$ctrl.lastNameModel")
            span {{ "DASHBOARD.CHARGE_ACCOUNT.LAST_NAME_INPUT_ERROR" | translate }}
        .personal-data-item.address-email
          pro-input(placeholder="{{ 'DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER' | translate }}"
          data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.EMAIL_PLACEHOLDER' | translate }}"
          data-ng-model="$ctrl.emailModel"
          data-ng-class="{'invalid': paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty &&  $ctrl.mailValidation()}"
          addon-action="onEnter"
          data-id="email"
          data-index="3"
          data-ng-enter="$ctrl.onEnter(3)"
          no-delete
          data-ng-pattern="$ctrl.patternEmail"
          required)
          .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty && $ctrl.mailValidation()")
            span {{ "DASHBOARD.CHARGE_ACCOUNT.EMAIL_ERROR" | translate }}

      .your-personal-data-footer
        pro-checkbox(id="acceptRules"
        data-ng-model="$ctrl.rulesAccepted"
        data-label="{{ 'DASHBOARD.CHARGE_ACCOUNT.ACCEPT_RULES' | translate }}"
        data-name="acceptRules"
        data-ng-class="{'invalid': !$ctrl.rulesAccepted && paymentForm.$submitted}"
        required)
        .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.rulesAccepted")
          span {{ "DASHBOARD.CHARGE_ACCOUNT.RULES_ERROR" | translate }}
        p(data-translate="DASHBOARD.CHARGE_ACCOUNT.PAYU_NOTIFICATION")
        p(data-translate="DASHBOARD.CHARGE_ACCOUNT.REQUIRE_VALUE")

    .charge-button
      .default-container
        button.pro-button.rectangle.default( type="submit") {{ 'DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT' | translate }}
          span.icon.icon-arrow-right-24.icon-right

