.payouts.payouts-options
  preloader-container(
    data-is-loading="vm.isLoading"
    data-is-error="vm.isLoadMoreError"
    data-error-fn="vm.getPayoutMethods"
    data-error-message="SETTINGS.PAYMENTS.LOADING_DATA_ERROR"
  )
    no-results-information(
      data-ng-hide="vm.isAnyPayoutMethod"
      data-icon-src="/assets/images/profitelo_icons/icon_payments.png"
      data-information-title="DASHBOARD.SETTINGS.PAYOUTS_METHOD.TITLE"
      data-button-title="SETTINGS.PAYMENTS.NO_RESULTS.BUTTON"
      data-button-class="btn-default icon-right"
      data-button-icon-right-class="icon-arrow-right-16"
      data-button-on-click="vm.addPayoutMethod"
    )

    .payments-method(data-ng-show="vm.isAnyPayoutMethod")
      header.entry-title
        span(data-translate="SETTINGS.PAYOUTS.PAYOUTS_METHOD.TITLE")
        a.btn.btn-primary.btn-small(
          data-ng-if="!vm.isPlatformForExpert"
          data-translate="SETTINGS.PAYMENTS.BUTTON.ADD"
          data-ng-click="vm.addPayoutMethod()"
        )

      .list-row(data-ng-if="vm.payPalAccountEmail")
        .payout-info
          span.payout-method(data-translate="SETTINGS.PAYMENTS.PAYMENT_METHOD.PAYPAL")
          span.payout-data {{ vm.payPalAccountEmail }}
        a.btn.btn-primary.btn-small.recharge-account(
          data-translate="SETTINGS.PAYOUTS.BUTTON.DELETE"
          data-ng-click="vm.deletePaymentMethod()"
        )

      .list-row(data-ng-if="vm.bankAccountNumber")
        .payout-info
          span.payout-method(data-translate="SETTINGS.PAYMENTS.PAYMENT_METHOD.BANK_ACCOUNT")
          span.payout-data {{ vm.bankAccountNumber }}
        a.btn.btn-primary.btn-small.recharge-account(
          data-translate="SETTINGS.PAYOUTS.BUTTON.DELETE"
          data-ng-click="vm.deletePaymentMethod()"
        )
