.navbar-user-menu(*ngIf="isMenuVisible", [@slideInOut])
  ul.smm-only
    li.menu-list__section.menu-list__section--mobile-close
      span.title([translate]="'NAVBAR_USER_MENU.ACCOUNT'")
      span.icon.icon-clear

  ul.menu-list
    li.menu-list__header
      .menu-list__user-information
        plat-user-avatar(
        [avatarSize]="avatarSize48",
        [avatarToken]="avatarToken"
        )
        .user-name-container
          span.user-name-container__title([translate]="'NAVBAR_USER_MENU.WELCOME'")
          span.user-name-container__user-name(*ngIf="!clientName", [translate]="'NAVBAR_USER_MENU.ANONYMOUS'")
          span.user-name-container__user-name(*ngIf="clientName") {{ clientName }}

      a.button.button--link(*ngIf="!isExpert", (click)="openEditProfileModal()", [translate]="'NAVBAR_USER_MENU.EDIT'")
      a.button.button--link(*ngIf="isExpert", (click)="openEditProfileAsExpertModal()", [translate]="'NAVBAR_USER_MENU.SHOW'")

    li.menu-list__section.lgm-only
      ul
        li.menu-list__row
          span.icon.icon-discovery
          span.option-title([translate]="'NAVBAR_USER_MENU.DISCOVER'")

        li.menu-list__row
          span.icon.icon-list
          span.option-title([translate]="'NAVBAR_USER_MENU.ACTIVITIES'")

        li.menu-list__row
          span.icon.icon-avatar
          span.option-title([translate]="'NAVBAR_USER_MENU.FAVOURITES'")

    li.menu-list__section
      ul
        li.menu-list__row
          span.icon.icon-settings
          span.option-title([translate]="'NAVBAR_USER_MENU.SETTINGS'")

        li.menu-list__row
          span.icon.icon-payment-card
          span.option-title([translate]="'NAVBAR_USER_MENU.PAYMENT_METHODS'")

    li.menu-list__section(*ngIf="!isExpert")
      ul
        li.menu-list__row((click)="openEditProfileAsExpertModal()")
          span.icon.icon-expert
          span.option-title([translate]="'NAVBAR_USER_MENU.BECOME_CONSULTATNT'")

        li.menu-list__row(*ngIf="!isCompany")
          span.icon.icon-organization
          span.option-title((click)="openCreateOrganizationModal()", [translate]="'NAVBAR_USER_MENU.CREATE_COMPANY'")

    li.menu-list__section
      ul
        li.menu-list__row
          span.icon.icon-invite
          span.option-title([translate]="'NAVBAR_USER_MENU.INVITE_FRIENDS'")

        li.menu-list__row((click)="logout()")
          span.icon.icon-logout
          span.option-title([translate]="'NAVBAR_USER_MENU.LOGOUT'")

    li.menu-list__section.menu-list__section--switch-account(*ngIf="isCompany")
      ul
        li.menu-list__row((click)="onOrganizationProfileSwitch($event)", [routerLink]="['/dashboard/company/activities']")
          plat-user-avatar(
          [avatarSize]="avatarSize32",
          [avatarToken]="companyAvatarToken"
          )
          span.option-title([translate]="'NAVBAR_USER_MENU.SWITCH_TO_ORGANIZATION'")
