.pro-textarea
  .input-group(class="{{focus ? 'on-focus' : ''}} {{onClick ? 'on-click' : ''}}"
    data-ng-mouseover="onMouseover()"
    data-ng-mouseleave="onMouseout()")
    textarea(placeholder="{{placeholder}}"
    data-ng-model="ngModel"
    data-ng-focus="onFocus()"
    data-ng-blur="onFocusOut()"
    data-ng-maxlength = "maxlength"
    maxlength="{{maxlength}}"
    data-ng-required="required"
    data-ng-pattern="ngPattern"
    name="{{name}}")
