form.input-form.set-new-password(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.submitPasswordChange()" novalidate)
  input-password(
  data-id="password"
  data-ng-model="vm.newPassword"
  data-input-text="REGISTER.SERVICE_PASSWORD"
  data-placeholder="REGISTER.SERVICE_PASSWORD_PLACEHOLDER"
  data-is-valid="vm.checkIsPasswordCorrected()"
  data-validation-text="REGISTER.VALID_PASSWORD"
  data-is-submitted="passwordForm.$submitted"
  data-on-change="vm.onPasswordChange"
  auto-focus
  )

  password-strength-bar(data-current-class="vm.passwordStrength")

  .btn-handler.flex-row.login-handler
    button.btn.btn-default(data-translate="REGISTER.CHANGE_PASSWORD" type="submit" data-ng-disabled="!vm.checkIsPasswordCorrected()")
    button.btn.btn-primary(data-ui-sref="app.login.account" data-translate="LOGIN.BACK")
