form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.getPasswordStatus()" novalidate)
    pro-input-password(data-label="{{ 'REGISTER.SERVICE_PASSWORD' | translate }}"
    data-placeholder="{{ 'REGISTER.SERVICE_PASSWORD_PLACEHOLDER' | translate }}"
    data-pro-model="password"
    data-name="password"
    data-on-change="vm.onPasswordChange"
    data-ng-class="{'invalid':passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted)}"
    required)

    password-strength-bar(data-current-class = "vm.passwordStrength")

    .btn-handler
        button.pro-btn.btn-light.btn-medium(data-ng-click="vm.back()" data-translate="LOGIN.BACK")
        button.pro-btn.btn-main.btn-medium(data-translate="REGISTER.CHANGE_PASSWORD" type="submit")