form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.submitPasswordChange()" novalidate)
    pro-input-password(data-label="{{ 'REGISTER.SERVICE_PASSWORD' | translate }}"
    data-placeholder="{{ 'REGISTER.SERVICE_PASSWORD_PLACEHOLDER' | translate }}"
    data-ng-model="vm.newPassword"
    data-name="password"
    data-on-change="vm.onPasswordChange"
    data-ng-pattern="vm.patternPassword"
    data-ng-class="{'invalid':passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted)}"
    required auto-focus)

    .input-error-messages
        .error.left(data-translate="REGISTER.VALID_PASSWORD" data-ng-show="passwordForm.password.$invalid && passwordForm.$submitted")

    password-strength-bar(data-current-class = "vm.passwordStrength")


    .btn-handler
        button.pro-btn.btn-main.btn-medium(data-translate="REGISTER.CHANGE_PASSWORD" type="submit")
        button.pro-btn.btn-light.btn-medium(data-ui-sref="app.login.account" data-translate="LOGIN.BACK")