.modal-primary.payout-method
  .container-big
    top-modal-navbar(data-on-close="vm.onModalClose")
    preloader(data-is-loading="vm.isLoading")
      .modal-settings
        header.entry-title
          span(data-translate="DASHBOARD.SETTINGS.PAYOUTS_METHOD.TITLE")

        .btn-handler
          a.btn.btn-select(data-ng-click="vm.choosePayoutBankMethod()"
          data-ng-class="{'is-active': vm.isPayoutBankMethod}")
            | {{:: 'DASHBOARD.SETTINGS.PAYOUTS_METHOD.BANK' | translate }}
            span.icon.icon-success-12

          a.btn.btn-select(data-ng-click="vm.choosePayoutPaypalMethod()"
          data-ng-class="{'is-active': vm.isPayoutPaypalMethod}")
            | {{:: 'DASHBOARD.SETTINGS.PAYOUTS_METHOD.PAYPAL' | translate }}
            span.icon.icon-success-12

        .add-payout-method
          .modal-form(data-ng-show="vm.payoutMethod === 'paypalAccount'")
            .modal-container
              .paypal-method
                form.form(data-ng-submit="payPalForm.$valid && vm.addPayPalAccount()" name="payPalForm")
                  input-primary(
                    data-id="payPalEmails"
                    data-placeholder="DASHBOARD.SETTINGS.PAYOUTS_METHOD.PAYPAL.PLACEHOLDER"
                    data-ng-model="vm.payPalEmail"
                    data-input-text="DASHBOARD.SETTINGS.PAYOUTS_METHOD.PAYPAL.LABEL"
                    data-ng-pattern="vm.emailPattern"
                    data-is-valid="vm.isPayPalEmailValid()"
                    data-validation-text="DASHBOARD.CHARGE_ACCOUNT.EMAIL_ERROR"
                  )

                  button.btn.btn-default(
                    data-translate="DASHBOARD.SETTINGS.PAYOUTS_METHOD.ADD.BUTTON"
                    type="submit"
                    data-ng-disabled="!vm.isPayPalEmailValid()"
                  )

          .modal-form(data-ng-show="vm.payoutMethod === 'bankAccount'")
            .modal-container
              .paypal-method
                form.form(data-ng-submit="bankForm.$valid && vm.addBankAccount()" name="bankForm")
                  input-primary(
                  data-id="bankAccountNumber"
                  data-placeholder="DASHBOARD.SETTINGS.PAYOUTS_METHOD.BANK_ACCOUNT.PLACEHOLDER"
                  data-ng-model="vm.bankAccountNumber"
                  data-input-text="DASHBOARD.SETTINGS.PAYOUTS_METHOD.BANK_ACCOUNT.LABEL"
                  data-is-valid="vm.isBankAccountNumberValid() && !vm.isBackendValidationError"
                  data-validation-text="DASHBOARD.CHARGE_ACCOUNT.BANK_ACCOUNT_ERROR"
                  data-on-change-callback="vm.onInputChange"
                  )

                  button.btn.btn-default(
                  data-translate="DASHBOARD.SETTINGS.PAYOUTS_METHOD.ADD.BUTTON"
                  type="submit"
                  data-ng-disabled="!vm.isBankAccountNumberValid() || vm.isBackendValidationError"
                  )
