.radio
  div
    label
      input(
        type="radio"
        id="{{ $ctrl.inputId }}"
        name="{{$ctrl.inputName}}"
        value="{{$ctrl.value}}"
        ng-model="$ctrl.ngModel"
        ng-click="$ctrl.onClick($ctrl.ngModel)"
      )
      label.label

      span.text(for="{{ $ctrl.inputId }}") {{$ctrl.label | translate }}
