.widget-generator(*ngIf="isUserHasAnyServices && !isLoading")
  .information
    h3 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.INFORMATION_HEADER' | translate }}
    p([innerHTML]="'DASHBOARD.EXPERT_ACCOUNT.WIDGET.INFORMATION_PARAGRAPH' | translate ")

  .expert-path(*ngIf="!isCompany")
    section
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.EXPERT_PATH.SELECT_SERVICE' | translate }}
      dropdown-primary.single-dropdown(
      label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_SERVICES_DROPDOWN_LABEL' | translate }}",
      [mainList]="serviceList",
      [(selectedItem)]="selectedService",
      [onSelectMain]="selectConsultation",
      [placeholder]="'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_SERVICES_DROPDOWN_ALL_OPTION' | translate")

    section
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.EXPERT_PATH.BUTTONS_SECTION_HEADER' | translate }}
      p {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_PARAGRAPH' | translate }}
      form(name="radio-form")
        radio-btn([ngModel]="radioModel", [ngModelOptions]="{standalone: true}", [onClick]="selectRadio",
        value="static", inputName="buttons", inputId="staticBtn"
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_STATIC_RADIO_LABEL' | translate }}" ngDefaultControl)
        radio-btn([ngModel]="radioModel", [ngModelOptions]="{standalone: true}", [onClick]="selectRadio",
        value="flatten", inputName="buttons", inputId="flattenBtn"
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_FLATTEN_RADIO_LABEL' | translate }}" ngDefaultControl)

    section
      .generate-btn
        button.btn.btn-large.btn-primary((click)="generateWidgetCode(expertId, serviceId)",
        *ngIf="(expertId || serviceId)", [disabled]="isWidgetGenerating")
          | {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.GENERATE_BUTTON' | translate }}
        p.validation-alert(*ngIf="isError") {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.VALIDATION_ERROR' | translate }}
        p.warning-alert(*ngIf="bodyScript && !isWidgetGenerating") {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.VALIDATION_WARNING' | translate }}

    section(*ngIf="bodyScript")
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.EXPERT_PATH.HEAD_SCRIPT_SECTION_HEADER' | translate }}
      p {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.HEAD_SCRIPT_SECTION_PARAGRAPH' | translate }}
      .html-code
        code {{ headScript }}
        a.btn.btn-large.btn-primary((click)="copyToClipboard(headScript)")
          | {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COPY_BUTTON' | translate }}

    section(*ngIf="bodyScript")
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BODY_SCRIPT_SECTION_HEADER' | translate }}
      p {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BODY_SCRIPT_SECTION_PARAGRAPH' | translate }}
      .html-code
        code {{ bodyScript }}
        a.btn.btn-large.btn-primary((click)="copyToClipboard(bodyScript)")
          | {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COPY_BUTTON' | translate }}

  .company-path(*ngIf="isCompany")
    section
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COMPANY_PATH_HEAD.CHOOSE_TYPE_HEADER' | translate }}
      form(name="type-form")
        radio-btn([ngModel]="widgetTypeModel", [ngModelOptions]="{standalone: true}", [onClick]="selectType",
        value="service", inputName="buttons", inputId="serviceBtn"
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COMPANY_PATH.BUTTON_SERVICE_LABEL' | translate }}" ngDefaultControl)
        radio-btn([ngModel]="widgetTypeModel", [ngModelOptions]="{standalone: true}", [onClick]="selectType",
        value="expert", inputName="buttons", inputId="expertBtn"
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COMPANY_PATH.BUTTON_EXPERT_LABEL' | translate }}" ngDefaultControl)

    section(*ngIf="widgetTypeModel==='service'")
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_CONSULTATION_HEADER' | translate }}
      .dropdowns
        dropdown-primary.single-dropdown(
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_SERVICES_DROPDOWN_LABEL' | translate }}",
        [mainList]="serviceList",
        [(selectedItem)]="selectedService",
        [onSelectMain]="selectConsultation",
        [placeholder]="'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_SERVICES_DROPDOWN_PLACEHOLDER' | translate")

    section(*ngIf="widgetTypeModel==='expert'")
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_HEADER' | translate }}
      .dropdowns
        dropdown-primary(
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_EXPERTS_DROPDOWN_LABEL' | translate }}",
        [mainList]="expertList",
        [onSelectMain]="selectExpert",
        [placeholder]="'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_EXPERTS_DROPDOWN_PLACEHOLDER' | translate")

        dropdown-primary(
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_SERVICES_DROPDOWN_LABEL' | translate }}",
        [mainList]="serviceCompanyList",
        [isDisabled]="!expertId",
        [(selectedItem)]="selectedCompanyService",
        [onSelectMain]="selectConsultation",
        [placeholder]="'DASHBOARD.EXPERT_ACCOUNT.WIDGET.SELECT_SECTION_SERVICES_DROPDOWN_PLACEHOLDER' | translate")

    section
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_HEADER' | translate }}
      p {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_PARAGRAPH' | translate }}
      form(name="radio-form")
        radio-btn([ngModel]="radioModel", [ngModelOptions]="{standalone: true}", [onClick]="selectRadio",
        value="static", inputName="buttons", inputId="staticBtn"
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_STATIC_RADIO_LABEL' | translate }}" ngDefaultControl)
        radio-btn([ngModel]="radioModel", [ngModelOptions]="{standalone: true}", [onClick]="selectRadio",
        value="flatten", inputName="buttons", inputId="flattenBtn"
        label="{{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BUTTONS_SECTION_FLATTEN_RADIO_LABEL' | translate }}" ngDefaultControl)

    section
      .generate-btn
        button.btn.btn-large.btn-primary((click)="generateWidgetCode(expertId, serviceId)",
        *ngIf="(expertId || serviceId)", [disabled]="isWidgetGenerating")
          | {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.GENERATE_BUTTON' | translate }}
        p.validation-alert(*ngIf="isError") {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.VALIDATION_ERROR' | translate }}
        p.warning-alert(*ngIf="bodyScript && !isWidgetGenerating") {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.VALIDATION_WARNING' | translate }}

    section(*ngIf="bodyScript && (expertId || serviceId)")
        h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.HEAD_SCRIPT_SECTION_HEADER' | translate }}
        p {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.HEAD_SCRIPT_SECTION_PARAGRAPH' | translate }}
        .html-code
          code {{ headScript }}
          a.btn.btn-large.btn-primary((click)="copyToClipboard(headScript)")
            | {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COPY_BUTTON' | translate }}

    section(*ngIf="bodyScript && (expertId || serviceId)")
      h4 {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COMPANY_PATH_HEAD.BODY_SCRIPT_SECTION_HEADER' | translate }}
      p {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.BODY_SCRIPT_SECTION_PARAGRAPH' | translate }}
      .html-code
        code {{ bodyScript }}
        a.btn.btn-large.btn-primary((click)="copyToClipboard(bodyScript)")
          | {{ 'DASHBOARD.EXPERT_ACCOUNT.WIDGET.COPY_BUTTON' | translate }}
.no-services(*ngIf="!isUserHasAnyServices && !isLoading")
  .no-results-information
    img.information-icon(src="assets/images/profitelo_icons/no_services.png" alt="icon")
    h2.information-title {{ 'DASHBOARD.GENERATE_WIDGET.NON_SERVICES_ALERT' | translate }}
