plat-consultation-footer
  //left part of the screen
  .consultation-footer__left-price
    plat-consultation-footer-price([grossPrice]='grossPrice')
  //middle part of the screen
  .consultation-footer__left-text([ngSwitch]='middlePanel')
    span.consultation-footer__text(*ngSwitchCase='middlePanelStatusTypes.freeMinute')
      span(plat-icon iconClass='information')
      p {{"CONSULTATION_DETAILS.FOOTER.FIRSTMINUTE" | translate}}
    span.consultation-footer__text(*ngSwitchCase='middlePanelStatusTypes.notAvailable')
      span(plat-icon iconClass='information')
      span
        p {{"CONSULTATION_DETAILS.FOOTER.NA_1" | translate}}
        p {{"CONSULTATION_DETAILS.FOOTER.NA_2" | translate}}
    span.consultation-footer__card(*ngSwitchCase='middlePanelStatusTypes.paymentCard')
      div
        span(plat-icon iconClass='payment-card')
        p {{"CONSULTATION_DETAILS.FOOTER.CARD" | translate: {card: card } }}
      div
        span(plat-icon iconClass='information')
        p {{ invoiceTrKey | translate}}
  //right part of the screen
  .consultation-footer__right
    a(plat-large-icon-button, color='success', *ngIf="isExpertAvailable else offlineDesktop", (click)='onCall()')
      span(plat-icon iconClass='headphone')
      span {{ "CONSULTATION_DETAILS.FOOTER.CALL" | translate }}
    ng-template(#offlineDesktop)
      a(plat-large-icon-button color='primary', (click)='onNotifyUser()')
        span(plat-icon iconClass='bell')
        span {{ "CONSULTATION_DETAILS.FOOTER.NOTIFY" | translate }}
  //right panel on the screen on mobile
  .consultation-footer__right--mobile
    div.button-large
      a(plat-large-icon-button color='success', *ngIf="isExpertAvailable else offlineMobileLarge", (click)='onCall()')
        span(plat-icon iconClass='headphone')
        span {{ "CONSULTATION_DETAILS.FOOTER.CALL" | translate }}
    div.button-small
      a(plat-flat-fab color='success', *ngIf="isExpertAvailable else offlineMobile", (click)='onCall()')
        span(plat-icon iconClass='headphone')
    ng-template(#offlineMobileLarge)
      div.button-large
        a(plat-large-icon-button color='primary', (click)='onNotifyUser()')
          span(plat-icon iconClass='bell')
          span {{ "CONSULTATION_DETAILS.FOOTER.NOTIFY" | translate }}
    ng-template(#offlineMobile)
      div.button-small
        a(plat-flat-fab color='primary', (click)='onNotifyUser()')
          span(plat-icon iconClass='bell')
