.search-bar-container
  input.search-bar.main-input(
  type="text"
  placeholder="{{::'HOME.SEARCH_PLACEHOLDER' | translate}}"
  data-ng-model="$ctrl.searchValue" data-ng-enter="$ctrl.onEnter()" data-ng-change="$ctrl.onChange()" data-ng-trim="false"
  data-ng-focus="$ctrl.onFocus()"
  data-ng-disabled="$ctrl.isPlatformForExpert")
  .dropdown-container(data-ng-show="$ctrl.isSuggestionsDropdown()")
    ul.suggestion-list
      li(data-ng-repeat="suggestion in $ctrl.suggestions" data-ng-click="$ctrl.onItemSelect(suggestion)")
        a {{ suggestion }}
