.search-filter
  div.search-filter-slider(data-ng-if="$ctrl.searchFilters.tags.length > 3")
    h4 {{::'SEARCH.SEARCH_RECENT' | translate}}
    .container
      pro-tags-slider(data-tags="$ctrl.searchFilters.tags")

  .container(data-ng-class="{'hide-filters' : $ctrl.handleMobileFiltersDisplay()}")
    .advanced-search-bar-wrap
      .pro-dropdown
        dropdown-primary(
        data-label="{{ ::'SEARCH.SORT_BY' | translate }}"
        data-main-list="$ctrl.sortList"
        data-on-select-main="$ctrl.updateSortTypeParam"
        data-placeholder="{{ ::'SEARCH.SATISFIED_PERCENT' | translate }}"
        data-selected-item="$ctrl.searchFilters.sortBy"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )
      .pro-dropdown
        dropdown-primary(
        data-label="{{ ::'DASHBOARD.CREATE_PROFILE.PROFILE_LANGUAGE_HEADER' | translate }}"
        data-main-list="$ctrl.languagesList"
        data-on-select-main="$ctrl.updateLanguageTypeParam"
        data-placeholder="{{ ::'SEARCH.ALL_LANGUAGES' | translate }}"
        data-selected-item="$ctrl.searchFilters.language"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"

        )
      .pro-dropdown
        dropdown-primary(
        data-label="{{ ::'SEARCH.CONSULTANT_TYPE' | translate }}"
        data-main-list="$ctrl.profileTypeList"
        data-on-select-main="$ctrl.updateTypeListTypeParam"
        data-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        data-selected-item="$ctrl.searchFilters.profileType"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      .pro-dropdown
        dropdown-primary(
        data-label="{{ ::'SEARCH.DOMAINS' | translate }}"
        data-main-list="$ctrl.categoryList"
        data-on-select-main="$ctrl.updateCategoryTypeParam"
        data-placeholder="{{ ::'SEARCH.SATISFIED_PERCENT' | translate }}"
        data-selected-item="$ctrl.searchFilters.category"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      pro-range-slider(data-min-value='$ctrl.searchFilters.minPrice' data-callback="$ctrl.onPriceRangeBarUpdate"
      data-max-value='$ctrl.searchFilters.maxPrice'
      data-label="{{::'SEARCH.PRICE_RANGE' | translate}}")

      pro-switcher(id="switcher" data-ng-model="$ctrl.searchFilters.onlyAvailable"
      data-callback="$ctrl.onActivityStatusChange" data-label="SEARCH.EXPERTS_CURRENTLY_AVAILABLE")

  .mobile-filter-button(data-ng-if="$ctrl.showMobileFilterButton()" data-ng-click="$ctrl.showFilters()")
    span.icon.icon-filter-24.icon-24
    span(data-ng-hide="$ctrl.showMobileFilters") {{ 'SEARCH.MOBILE_FILTER_BUTTON.OPEN' | translate }}
    span(data-ng-show="$ctrl.showMobileFilters") {{ 'SEARCH.MOBILE_FILTER_BUTTON.CLOSE' | translate }}
