.recommended-tab.grey-tab
  .recommended-tab-header(data-ng-hide="$ctrl.isRecommended")
    span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.HOW_YOU_RATE_CONSULTATION")
    a.btn.btn-default(data-ng-click="$ctrl.recommendConsultation()"
    data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.I_RECOMMENDED_THIS_CONSULTATION.BUTTON")

  .recommended-tab-content(data-ng-show="$ctrl.isRecommended")
    .conversation-rate
      .entry-title
        h4(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.TITLE")
        span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.DESCRIPTION"
        data-ng-if="$ctrl.isRecommended && !$ctrl.areTagsRecommended")

      multiselect(data-items="$ctrl.tags" data-on-select-change="$ctrl.onSelectChange" data-field="name"
      data-selected-items="$ctrl.selectedTags" data-is-disabled="$ctrl.areTagsRecommended" )

      .modal-action(data-ng-if="$ctrl.isRecommended && !$ctrl.areTagsRecommended && $ctrl.selectedTags.length > 0")
        a.btn.btn-default(
        data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.SAVE_TAGS.BUTTON"
        data-ng-click="$ctrl.saveRecommendedTags()")
