scrollable.basic-account-settings(data-is-fullscreen="isFullscreen" data-is-navbar="isNavbar")
  top-modal-navbar(data-title="SETTINGS.GENERAL.BASIC_ACCOUNT.HEADER" data-on-close="onModalClose")
  preloader(data-is-loading= "isUploadInProgress")
    .modal-settings
      .container-small(data-ng-class="{'is-bigger': isUserUploadImage}")
        header.entry-title
          span(data-translate="SETTINGS.GENERAL.BASIC_ACCOUNT.HEADER" data-ng-hide="isUserUploadImage")

        form.input-form(name="basicAccountForm" data-ng-submit="submitBasicSettings()" novalidate)
          .form-step(data-ng-hide="isUserUploadImage")
            user-avatar.thumb.x192(data-image-token="generalSettingsObject.avatar")
              a.thumb-options.remove-photo(data-ng-show="generalSettingsObject.avatar && generalSettingsObject.avatar.length > 0"
              data-ng-click="removePhoto()")
                .icon.icon-close-16

              local-avatar-uploader.local-avatar-uploader(
                on-file-upload="addPhoto"
                data-ng-hide="generalSettingsObject.avatar && generalSettingsObject.avatar.length > 0")

            validation-alert.user-avatar-error(
              data-alert-text="SETTINGS.GENERAL.BASIC_ACCOUNT.FILE_FORMAT_ERROR"
              data-is-visible="vm.isFileFormatValidError"
            )

            validation-alert.user-avatar-error(
              data-alert-text="SETTINGS.GENERAL.BASIC_ACCOUNT.FILE_SIZE_ERROR"
              data-is-visible="vm.isFileSizeError"
            )

            .user-name
              input-primary.full-name(
                data-placeholder="SETTINGS.GENERAL.BASIC_ACCOUNT.NAME_INPUT_PLACEHOLDER"
                data-ng-model="generalSettingsObject.nickname"
                data-input-text="SETTINGS.GENERAL.BASIC_ACCOUNT.NAME_INPUT_LABEL"
                data-is-valid="isNicknameValid()"
                data-validation-text="SETTINGS.GENERAL.BASIC_ACCOUNT.FULL_NAME.INPUT.VALIDATION"
              )

            checkbox(
              id="general-settings"
              data-name='general-settings'
              data-input-text='SETTINGS.GENERAL.BASIC_ACCOUNT.NAME_CHECKBOX_LABEL'
              data-ng-model='generalSettingsObject.isNotAnonymous'
              data-validaion='!$ctrl.rulesAccepted && paymentForm.$submitted'
            )

            button.btn.btn-default(
            data-translate="SETTINGS.GENERAL.BASIC_ACCOUNT_SAVE_CHANGES"
            data-ng-disabled="!isNicknameValid()"
            type="submit")

          .crop-avatar-step(data-ng-show="isUserUploadImage")
            h2(data-translate="SETTINGS.GENERAL.BASIC_ACCOUNT.CROP_AVATAR_HEADER")

            .cropp-image
              image-crop-component(data-image-src="imageSource" data-save-crop-avatar='saveCrop')
