.invoice-form
  .form
    .invoice-form-company-info
      header.entry-title
        span(data-translate="DASHBOARD.CHARGE_ACCOUNT.INVOICE.TITLE")

        dropdown-primary(
        data-label="{{ ::'DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COUNTRY.LABEL' | translate }}"
        data-main-list="$ctrl.countryList"
        data-on-select-main="$ctrl.onSelectCountry"
        data-selected-item="$ctrl.country"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

        .vat-input-handler
          div
            input-primary(
            data-type="text"
            data-id="numberVAT"
            data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.TAX_NUMBER.PLACEHOLDER"
            data-ng-model="$ctrl.numberVAT"
            data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.TAX_NUMBER.LABEL"
            data-is-valid="paymentForm.$submitted && !$ctrl.numberVAT || paymentForm.numberVAT.$dirty && !$ctrl.numberVAT"
            data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.VAT.VALIDATION"
            data-ng-required="true"
            )

            button.btn.btn-primary(data-translate="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COUNTRY.BUTTON")

          .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty && $ctrl.mailValidation()")
            span {{ "DASHBOARD.CHARGE_ACCOUNT.EMAIL_ERROR" | translate }}
          // TODO on GUS API IMPLEMENT
          //p(data-translate="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.NO_VAT.DESCRIPTION")

        input-primary(
        data-type="text"
        data-id="companyName"
        data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.PLACEHOLDER"
        data-ng-model="$ctrl.companyName"
        data-ng-pattern="$ctrl.patternEmail"
        data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.LABEL"
        data-is-valid="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty &&  $ctrl.mailValidation()"
        data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.COMPANY_NAME.VALIDATION"
        data-ng-required="true"
        )

        .input-error-messages(data-ng-show="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty && $ctrl.mailValidation()")
          span {{ "DASHBOARD.CHARGE_ACCOUNT.EMAIL_ERROR" | translate }}

    .invoice-form-address
      header.entry-title
        span(data-translate="DASHBOARD.CHARGE_ACCOUNT.INVOICE.ADDRESS.TITLE")

      input-primary(
      data-type="text"
      data-id="street"
      data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.STREET.PLACEHOLDER"
      data-ng-model="$ctrl.street"
      data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.STREET.LABEL"
      data-is-valid="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty &&  $ctrl.mailValidation()"
      data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.STREET.VALIDATION"
      data-ng-pattern="$ctrl.patternEmail"
      data-ng-required="true"
      )

      .invoice-address-nr
        input-primary(
        data-type="text"
        data-id="apartmentNumber"
        data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.NUMBER.PLACEHOLDER"
        data-ng-model="$ctrl.apartmentNumber"
        data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.NUMBER.LABEL"
        data-is-valid="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty &&  $ctrl.mailValidation()"
        data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.APARTMENT_NUMBER.VALIDATION"
        data-ng-pattern="$ctrl.patternEmail"
        data-ng-required="true"
        )

        input-primary(
        data-type="text"
        data-id="postalCode"
        data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.ZIP_CODE.PLACEHOLDER"
        data-ng-model="$ctrl.postalCode"
        data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.ZIP_CODE.LABEL"
        data-is-valid="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty &&  $ctrl.mailValidation()"
        data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.POSTAL_CODE.VALIDATION"
        data-ng-required="true"
        )

      input-primary(
      data-type="text"
      data-id="city"
      data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.CITY.PLACEHOLDER"
      data-ng-model="$ctrl.city"
      data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.CITY.LABEL"
      data-is-valid="paymentForm.$submitted && !$ctrl.emailModel || paymentForm.email.$dirty &&  $ctrl.mailValidation()"
      data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.CITY.VALIDATION"
      data-ng-required="true"
      )


    // TODO on GUS API IMPLEMENT
    //.invoice-tax
    //  p VAT23
