.sms-code
  form.input-form(name="smsCodeForm"
  data-ng-submit="smsCodeForm.$valid && vm.getSmsCodeStatus() && vm.areRulesAccepted"
  novalidate)

    .phone-number-container
      span(data-translate="REGISTER.USER_PHONE")
      span.number {{ vm.phoneNumber }}

    input-primary(
    data-type="tel"
    data-id="smsCode"
    data-placeholder="REGISTER.SERVICE_CODE_PLACEHOLDER"
    data-ng-model="vm.registrationSteps.smsCode"
    data-input-text="REGISTER.SERVICE_CODE"
    data-ng-required="true"
    data-max-length="4"
    data-is-valid="vm.checkIsCodeCorrect() || !vm.serverError"
    data-validation-text="REGISTER.CODE_REQUIRED"
    data-is-submitted="smsCodeForm.$submitted"
    )

    checkbox(
    id="acceptRules"
    data-input-text="LOGIN.ACCEPT_RULES"
    data-input-text-translation-param="vm.rulesTranslationUrl"
    data-ng-model="vm.areRulesAccepted"
    data-name="acceptRules"
    data-ng-required="vm.isRequired"
    data-validation="!vm.areRulesAccepted && smsCodeForm.$submitted"
    data-alert-text="REGISTER.VALID_CHECKBOX"
    )

    checkbox(
    id="marketingRules"
    data-input-text="LOGIN.ACCEPT_MARKETING_RULES"
    data-ng-model="vm.areMarketingRulesAccepted"
    data-name="marketingRules"
    data-ng-required="vm.isRequired"
    data-validation="!vm.areMarketingRulesAccepted && smsCodeForm.$submitted"
    data-alert-text="REGISTER.VALID_CHECKBOX"
    )

    .btn-handle.btn-handler.flex-row.login-handler
      button.btn.btn-default(type="submit" data-translate="LOGIN.NEXT")
      button.btn.btn-primary(data-ui-sref="app.login.account" data-translate="LOGIN.BACK")
