.edit-payment-method
  top-modal-navbar(data-on-close="vm.onModalClose")
  .modal-form.container-medium
    preloader()
      .modal-container
        .invoice-form
          form(name="editInvoiceForm" data-ng-submit="editInvoiceForm.$valid && vm.editInvoice()" novalidate)
            .invoice-form-company-info
              header.entry-title
                span(data-translate="DASHBOARD.CHARGE_ACCOUNT.INVOICE.TITLE")

              dropdown-primary(
              data-label="{{ ::'DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COUNTRY.LABEL' | translate }}"
              data-main-list="vm.countryList"
              data-on-select-main="vm.onSelectCountry"
              data-selected-item="vm.selectedCountry"
              data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
              )

              .vat-input-handler
                div
                  input-primary(
                  data-type="text"
                  data-id="vatNumber"
                  data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.TAX_NUMBER.PLACEHOLDER"
                  data-ng-model="vm.vatNumber"
                  data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.TAX_NUMBER.LABEL"
                  data-is-valid="paymentForm.$submitted && !vm.vatNumber || vm.vatNumber"
                  data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.VAT.VALIDATION"
                  data-ng-required="true"
                  )

                  a.btn.btn-primary(data-translate="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COUNTRY.BUTTON")

                // TODO on GUS API IMPLEMENT
                //p(data-translate="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.NO_VAT.DESCRIPTION")

              input-primary(
              data-type="text"
              data-id="companyName"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.PLACEHOLDER"
              data-ng-model="vm.companyName"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_NAME.LABEL"
              data-is-valid="paymentForm.$submitted && !vm.companyName || vm.companyName"
              data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.COMPANY_NAME.VALIDATION"
              data-ng-required="true"
              )

              input-primary(
              data-type="text"
              data-id="email"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_EMAIL.PLACEHOLDER"
              data-ng-model="vm.email"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.COMPANY_EMAIL.LABEL"
              data-is-valid="paymentForm.$submitted && !vm.email || vm.email"
              data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.COMPANY_EMAIL.VALIDATION"
              data-ng-required="true"
              )

            .invoice-form-address
              header.entry-title
                span(data-translate="SETTINGS.PAYMENTS.INVOICE.ADDRESS.TITLE")

              input-primary(
              data-type="text"
              data-id="street"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.STREET.PLACEHOLDER"
              data-ng-model="vm.street"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.STREET.LABEL"
              data-is-valid="paymentForm.$submitted && !vm.street || vm.street"
              data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.STREET.VALIDATION"
              data-ng-required="true"
              )

              .invoice-address-nr
                input-primary(
                data-type="text"
                data-id="apartmentNumber"
                data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.NUMBER.PLACEHOLDER"
                data-ng-model="vm.apartmentNumber"
                data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.NUMBER.LABEL"
                data-is-valid="paymentForm.$submitted && !vm.apartmentNumber || vm.apartmentNumber"
                data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.APARTMENT_NUMBER.VALIDATION"
                data-ng-required="true"
                )

                input-primary(
                data-type="text"
                data-id="postalCode"
                data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.ZIP_CODE.PLACEHOLDER"
                data-ng-model="vm.postalCode"
                data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.ZIP_CODE.LABEL"
                data-is-valid="paymentForm.$submitted && !vm.postalCode || vm.postalCode"
                data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.POSTAL_CODE.VALIDATION"
                data-ng-required="true"
                )

              input-primary(
              data-type="text"
              data-id="city"
              data-placeholder="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.CITY.PLACEHOLDER"
              data-ng-model="vm.city"
              data-input-text="DASHBOARD.CHARGE_ACCOUNT.COMPANY_INVOICE.FORM.CITY.LABEL"
              data-is-valid="paymentForm.$submitted && !vm.city || vm.city"
              data-validation-text="DASHBOARD.SETTINGS.PAYMENTS.INVOICE.CITY.VALIDATION"
              data-ng-required="true"
              )
              
            // TODO on GUS API IMPLEMENT
            //.invoice-tax
            //  p VAT23

            .summary-charge-account
              .summary-charge-container.no-ammount
                button.btn.btn-default.icon-right(type="submit")
                  | {{:: "SETTINGS.PAYMENTS.INVOICE.EDIT_BUTTON.TITLE" | translate }}
                  span.icon.icon-arrow-right-16
