.input-consultation-tag

  .input-handler
    .input(
    data-ng-class="{'is-invalid': !$ctrl.isValid && $ctrl.isDirty && !$ctrl.isFocus || $ctrl.isInputValueInvalid," +
    " 'is-focused': $ctrl.isFocus}"
    )
      input(
        autocomplete="off"
        data-ng-model="$ctrl.tagModel"
        data-ng-enter="$ctrl.onEnter()"
        data-ng-blur="$ctrl.onBlur()"
        data-ng-focus="$ctrl.onFocus()"
        data-ng-change="$ctrl.onChange()"
        data-ng-paste="$ctrl.onPaste($event)"
      )
    a.btn.add-link(data-ng-click="$ctrl.onEnter()")
      span.icon.icon-plus-24
    a.btn.btn-default.btn-small(
      data-ng-click="$ctrl.onEnter()"
      data-translate="INTERFACE.INPUT_CONSULTATION_TAG.ADD_BUTTON"
    )

  validation-alert(
  data-alert-text="{{ $ctrl.validationAlertTranslation }}"
  data-is-visible="$ctrl.isInputValidationAlert"
  )

  validation-alert(
  data-alert-text="{{ $ctrl.validationText }}"
  data-is-visible="$ctrl.isValidationAlertVisible()"
  )

  .checked-list
    ul.tag-list
      li(data-ng-repeat="tag in $ctrl.selectedTags")
        a(data-ng-click="$ctrl.deleteSelectedItem($index)") {{tag}}
          span.icon.icon-failure-24

  preloader-container(data-is-loading="$ctrl.areSuggestedTagsLoading")
    .recommended-lst(data-ng-if="$ctrl.suggestedTags && $ctrl.suggestedTags.length > 0 && !$ctrl.isError")
      p.label(data-translate="WIZARD.CONSULTATION.TAG.RECOMMENDED.TITLE")

      ul.tag-list.recomended-tags
        li(data-ng-repeat="item in $ctrl.suggestedTags track by $index")
          a(data-ng-click="$ctrl.addSelectedItem(item, $index)")
            span {{ item }}
