.pin-code-view
  plat-login-background
    .forgot-password-pin
      plat-login-content(
        contentHeightAnimation,
        titleText="FORGOT_PASSWORD.TITLE"
      )
        form(
          [id]="pinCodeFormId",
          [formGroup]="pinCodeForm",
          novalidate,
          (ngSubmit)="onFormSubmit(pinCodeForm)")
          .input-icon-container
            span.icon.icon-cellphone
            am-core-input-pin-code(
              label="LOGIN.PIN_CODE.ENTER_CODE.LABEL",
              placeholder="LOGIN.PIN_CODE.ENTER_CODE.PLACEHOLDER",
              [form]="pinCodeForm",
              [controlName]="pinCodeControlName",
              errorTextKey="LOGIN.PIN_CODE.ENTER_CODE.VALIDATION_MESSAGE",
              [isDisabled]="isRequestPending",
              [initialFocus]="true"
            )

          am-core-submit-button(
            titleText="FORGOT_PASSWORD.SUBMIT_BUTTON",
            [formName]="pinCodeFormId",
            [isLoading]="isRequestPending"
          )

        .send-again
          p([translate]="'LOGIN.PIN_CODE.SMS_CODE'")
          p(
            *ngIf="isCountingDown",
            [translate]="'LOGIN.PIN_CODE.SEND_AGAIN.COUNTER'",
            [translateParams]="{seconds: timeLeft}"
          )
          a.send-again__link(
            *ngIf="!isCountingDown",
            (click)="resendPinCode()",
            [translate]="'LOGIN.PIN_CODE.SEND_AGAIN'"
          )
