.expert-filters
  .dashboard-filters-collapse.is-collapsed(data-ng-class="{'is-collapsed': $ctrl.showMobileFilters}")
    .dashboard-filters
      .pro-dropdown
        dropdown-primary(data-label="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.ACTIVITIES' | translate }}"
        data-main-list="$ctrl.activityTypesList"
        data-on-select-main="$ctrl.updateActivityTypeParam"
        data-selected-item="$ctrl.selectedType"
        data-placeholder="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.PLACEHOLDER.ALL_ACTIVITIES' | translate }}")

      .pro-dropdown(data-ng-if="$ctrl.isClientDashboard || !$ctrl.isClientDashboard && $ctrl.isCompany")
        dropdown-input(data-label="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.EXPERT' | translate }}"
        data-main-list="$ctrl.expertsDropdownList"
        data-on-select-main="$ctrl.updateProfileParam"
        data-selected-item="$ctrl.selectedExpert"
        data-main-list-label="DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.MAIN_LIST_LABEL"
        data-placeholder="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.PLACEHOLDER.ALL_EXPERTS' | translate }}")

      .pro-dropdown
        dropdown-input(data-label="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.CONSULTATION' | translate }}"
        data-main-list="$ctrl.servicesDropdownList"
        data-on-select-main="$ctrl.mainUpdateServiceParam"
        data-on-select-second="$ctrl.secondUpdateServiceParam"
        data-selected-item="$ctrl.selectedService"
        data-main-list-label-on-secondary-exist="COMMON.COMPONENTS.INTERFACE.DROPDOWN.EXPERTS_CONSULTATIONS.LABEL"
        data-main-list-label="COMMON.COMPONENTS.INTERFACE.DROPDOWN.EXPERTS_CONSULTATIONS.LABEL_ALL"
        data-secondary-list="$ctrl.secondaryServicesDropdownList"
        data-placeholder="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.PLACEHOLDER.ALL_CONSULTATIONS' | translate }}")

      div.filter-download
        .calendar
          pro-calendar(data-ng-model="$ctrl.activitiesFilters.dateFrom"  data-defaultValue="true"
          data-label="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.FROM' | translate }}")
          pro-calendar(data-ng-model="$ctrl.activitiesFilters.dateTo" data-defaultValue="true"
          data-label="{{ ::'DASHBOARD.EXPERT_ACCOUNT.ACTIVITIES.FILTER.TO' | translate }}")

        a.btn.btn-circle
          span.icon.icon-download-24

  .collapse-btn-filter(data-ng-click="$ctrl.toggleFilters()")
    .btn.btn-noborder
      span.icon.icon-filter-24
      span(data-ng-show="$ctrl.showMobileFilters") {{:: 'SEARCH.MOBILE_FILTER_BUTTON.OPEN' | translate }}
      span(data-ng-show="!$ctrl.showMobileFilters") {{:: 'SEARCH.MOBILE_FILTER_BUTTON.CLOSE' | translate }}
