
.email-veryfication(data-ng-show="vm.account.recoveryMethod==='EMAIL'")
  .email-sent

    p(data-translate="LOGIN.FORGOT_PASSWORD.EMAIL_HAD_BEEN_SENT")
    a.btn.btn-default(data-ui-sref="app.login.account" data-translate="LOGIN.NEXT")
    a.send-sms(data-ng-click="vm.forceSmsRecovery()" data-translate="LOGIN.FORGOT_PASSWORD.LOST_EMAIL_SEND_SMS")

.smsVeryfication(data-ng-show="vm.account.recoveryMethod==='SMS'")
  .smsVeryfication
    form.input-form(name="smsCodeForm" data-ng-submit="smsCodeForm.$valid && vm.submitSmsVerificationCode()" novalidate)
      input-primary(
      data-type="tel"
      data-id="smsCode"
      data-placeholder="REGISTER.SERVICE_CODE_PLACEHOLDER"
      data-ng-model="vm.smsCode"
      data-input-text="REGISTER.SERVICE_CODE"
      data-max-length="4"
      data-is-valid="vm.checkIsPasswordCorrected() || !vm.serverError"
      data-is-submitted="smsCodeForm.$submitted"
      data-validation-text="REGISTER.CODE_REQUIRED"
      )

      .btn-handler.flex-row.login-handler
        button.btn.btn-default(type="submit" data-translate="LOGIN.NEXT" data-ng-disabled="vm.checkIsButtonDisabled()")
        button.btn.btn-primary(data-ui-sref="app.login.account" data-translate="LOGIN.BACK")


