.employees
  preloader-container(data-is-loading="vm.areEmployeesLoading || vm.arePendingInvitationsLoading"
  data-is-error="vm.isError"
  data-error-message="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.GET_DATA_ERROR_MESSAGE"
  data-error-fn="vm.getServices")

    .error-btn-container
      a.btn.btn-primary(data-ng-if="vm.isGetEmployeesError"
      data-ng-click="vm.postServicesEmployees()"
      data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.TRY_AGAIN_BUTTON")

    .employees-section
      header.entry-title(data-ng-show="vm.areEmployees")
        span(data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.YOUR_EMPLOYEES")
        a.btn.btn-circle(data-ng-click="vm.openInviteEmployeesModal()")
          span.icon.icon-add-expert-24

      expert-employee(
      data-ng-repeat="employees in vm.employees"
      data-profile-with-employments="employee"
      data-on-delete-callback="vm.onDeleteEmploymentsCallback"
      )

    .error-btn-container
      a.btn.btn-primary(data-ng-if="vm.isPendingInvitationsError"
      data-ng-click="vm.postServiceWithInvitations()"
      data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.TRY_AGAIN_BUTTON")

    header.entry-title(data-ng-show="vm.arePendingInvitations")
      span(data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.PENDING_INVITATIONS")
      a.btn.btn-circle(data-ng-click="vm.openInviteEmployeesModal()")
        span.icon.icon-add-expert-24

    pending-invitation(
    data-ng-repeat="invitations in vm.pendingInvitations"
    data-invitations="invitations"
    data-on-delete-callback="vm.onDeleteInvitationsCallback"
    )

    no-results-information(
    data-ng-hide="vm.isNoResultsInformation()"
    data-icon-src="/assets/images/profitelo_icons/icon_expert_no_employees.png"
    data-information-title="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.NO_RESULTS.TITLE"
    data-button-title="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.NO_RESULTS.BUTTON"
    data-button-class="btn-default"
    data-button-on-click="vm.openInviteEmployeesModal"
    )
