plat-modal-component(
  modalTrTitleHeader="'INVITE_ACCEPT_REJECT.HEADER'",
  modalContainerClass="NO_PADDING")
  .accept-reject-invitation-content(contentHeightAnimation)
    plat-consultation-details(
      [avatarSize]="avatarSize",
      [avatarToken]="avatarToken",
      [expertName]="expertName",
      [serviceName]="serviceName",
      [serviceDescription]="serviceDescription",
      [tagList]="tagList",
    )
  .modal-footer
    plat-consultation-footer
      .consultation-footer__left-price(*ngIf="isFreelance")
        .accept-reject-invitation__billing-detail-price
          span.accept-reject-invitation__billing-detail-price-money {{grossPrice}}
          span.accept-reject-invitation__billing-detail-price-currency  zł/min
      .consultation-footer__left-text
        .accept-reject-invitation__billing-detail-text
          span(plat-icon="", iconClass="information", color="secondary")
          p(*ngIf="isFreelance;else organizationDescription")
            span
              strong {{price}} zł/min
              | {{"INVITE_ACCEPT_REJECT.FREELANCE" | translate}}
              strong {{grossPrice}} zł/min.
      .consultation-footer__right--mobile
        a.accept-reject-invitation__buttons-button((click)="onRejectClicked()", plat-icon-button, color="secondary")
          span(plat-icon="", iconClass="clear")
        a.accept-reject-invitation__buttons-button((click)="onAcceptClicked()", plat-flat-fab, color="primary")
          span(plat-icon="", iconClass="check")
      .consultation-footer__right
        a.accept-reject-invitation__buttons-button((click)="onRejectClicked()", plat-stroked-button, color="secondary") {{"ACCEPT_REJECT_INVITATION.REJECT" | translate}}
        a.accept-reject-invitation__buttons-button((click)="onAcceptClicked()", plat-button, color="primary") {{"ACCEPT_REJECT_INVITATION.ACCEPT" | translate}}
ng-template(#organizationDescription="")
  p {{"INVITE_ACCEPT_REJECT.ORGANIZATION" | translate}}
    a {{"INVITE_ACCEPT_REJECT.ORGANIZATION.FIND_MORE" | translate }}
