scrollable.security-pin-number(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-settings
    form.container-small(novalidate name="pinForm" data-ng-submit="pinForm.$valid && vm.sendPin()"
    data-ng-hide="vm.isNewPinTyped")
      header.entry-title
        span(data-translate="{{:: 'SETTINGS.SECURITY.PIN_NUMBER.TITLE' | translate}}")

      .security-pin-number
        .input-handler.pin-inputs
          input.input-number(type="text" maxlength="1" focus-next data-ng-repeat="input in vm.pinInput track by $index"
          required data-ng-model="vm.pinInput[$index]")

        .checkbox-handler
          checkbox(
            id="protected-views-status-callview"
            data-input-text="SETTINGS.SECURITY.PIN_NUMBER.CHECKBOX_CALL_VIEW"
            data-ng-model="vm.protectedViewsStatus.CALL_VIEW"
            data-name="protected-views-status-callview"
          )

          checkbox(
            id="protected-views-status-payout"
            data-input-text="SETTINGS.SECURITY.PIN_NUMBER.PAY_OUT_VIEW"
            data-ng-model="vm.protectedViewsStatus.PAY_OUT_VIEW"
            data-name="protected-views-status-payout"
          )

          checkbox(
            id="protected-views-status-make-deposit-view"
            data-input-text="SETTINGS.SECURITY.PIN_NUMBER.MAKE_DEPOSIT_VIEW"
            data-ng-model="vm.protectedViewsStatus.MAKE_DEPOSIT_VIEW"
            data-name="protected-views-status-make-deposit-view"
          )

        button.btn.btn-default(data-translate="{{:: 'SETTINGS.SECURITY.PIN_NUMBER.BUTTON' | translate}}"
        type="submit")

    form.default-container-small(novalidate name="confirmPasswordForm"
    data-ng-submit="confirmPasswordForm.$valid && vm.changeViewsAndPin()" data-ng-show="vm.isNewPinTyped")
      h2(data-translate="{{:: 'SETTINGS.SECURITY.PIN_NUMBER.CONFIRM_TITLE' | translate}}")
      .security-confirm-pin
        input-password(
        data-id="password"
        data-ng-model="vm.confirmPassword"
        data-input-text="SETTINGS.SECURITY.PIN_NUMBER.PASSWORD_LABEL"
        data-placeholder="SETTINGS.SECURITY.PIN_NUMBER.PASSWORD_PLACEHOLDER"
        data-is-valid="vm.checkIsNewEnteredPasswordCorrected() || !vm.isPasswordIncorrect && !vm.isError"
        data-validation-text="SETTINGS.SECURITY.PIN_NUMBER.VALID_PASSWORD"
        data-is-submitted="confirmPasswordForm.$submitted"
        auto-focus
        )

        button.btn.btn-default(
        data-translate="{{:: 'SETTINGS.SECURITY.PIN_NUMBER.BUTTON_CONFIRM' | translate}}"
        data-ng-disabled="!vm.checkIsButtonDisabled()"
        type="submit")
