.braintree-form
  .panel-heading
    form.panel-body
      .title
        h3(data-translate="BRAINTREE.TITLE")

      .braintree-content-form
        .hosted-field
          label.control-label {{ 'BRAINTREE.LABEL.CARD_NUMBER' | translate }}
          .form-group
            // Hosted Fields div container
            #card-number.form-control
          span.helper-text
          span#card-type

        .hosted-field
          label.control-label {{ 'BRAINTREE.LABEL.EXPIRATION_DATE' | translate }}
          .form-group
            // Hosted Fields div container
            #expiration-date.form-control

        .hosted-field
          label.control-label {{ 'BRAINTREE.LABEL.SECURITY_CODE' | translate }}
          .form-group
            // Hosted Fields div container
            #cvv.form-control

        .checkbox
          pro-checkbox(
          data-ng-model="$ctrl.showCardLimitForm"
          data-label="{{ ::'BRAINTREE.CARD_LIMIT.DESCRIPTION.CHECKBOX' | translate }}"
          data-ng-class=""
          )

          p(data-translate="BRAINTREE.CARD_LIMIT.DESCRIPTION.LABEL")

        .card-limit(data-ng-show="$ctrl.showCardLimitForm")
          pro-input(data-label="{{:: 'BRAINTREE.CARD_LIMIT.LABEL' | translate }}"
          data-ng-model="$ctrl.defaultCardLimit"
          placeholder="{{:: 'BRAINTREE.CARD_LIMIT.PLACEHOLDER' | translate }}"
          data-maxlength="4"
          data-type="tel"
          only-digits)

        .input-error-messages
          .error.left(data-translate="BRAINTREE.INVALID" data-ng-show="$ctrl.isInvalid")

      .summary-charge-account
        .summary-charge-container.no-ammount
          .charge-account-btn
            button.btn.btn-default.icon-right(type="submit")
              | {{:: 'DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT' | translate }}
              span.icon.icon-arrow-right-16



