.braintree-form
  .panel-heading
    form.panel-body
      .braintree-content-form.modal-container
        .hosted-field
          label.control-label {{ 'BRAINTREE.LABEL.CARD_NUMBER' | translate }}
          .form-group
            // Hosted Fields div container
            #card-number.form-control
          span.helper-text
          span#card-type

        .hosted-field
          label.control-label {{ 'BRAINTREE.LABEL.EXPIRATION_DATE' | translate }}
          .form-group
            // Hosted Fields div container
            #expiration-date.form-control

        .hosted-field
          label.control-label {{ 'BRAINTREE.LABEL.SECURITY_CODE' | translate }}
          .form-group
            // Hosted Fields div container
            #cvv.form-control

        .checkbox(data-ng-if="!$ctrl.transaction")
          checkbox(
            id="transaction"
            data-input-text='BRAINTREE.CARD_LIMIT.DESCRIPTION.CHECKBOX'
            data-ng-model='$ctrl.showCardLimitForm'
            data-name='transaction'
            data-additional-text='BRAINTREE.CARD_LIMIT.DESCRIPTION.LABEL'
          )

        .card-limit.collapse-animation.animation-speed-fast(data-ng-if="$ctrl.showCardLimitForm")
          input-primary(
          data-type="number"
          data-id="braintree"
          data-placeholder="BRAINTREE.CARD_LIMIT.PLACEHOLDER"
          data-input-text="BRAINTREE.CARD_LIMIT.LABEL"
          data-ng-model="$ctrl.defaultCardLimit"
          data-is-valid="$ctrl.checkIsValueCorrect()"
          data-is-submitted="$ctrl.isSubmitted"
          data-validation-text="BRAINTREE.INVALID"
          )

      summary-charge-account.summary-charge-account( data-amount="$ctrl.transaction.amount || $ctrl.transaction.paymentOption"
        data-btn-title="{{ $ctrl.submitButtonTranslate }}")




