.search-filter
  div.search-filter-slider(data-ng-if="model.tags.length > 3")
    h4 {{::'SEARCH.SEARCH_RECENT' | translate}}
    .default-container
      pro-tags-slider(data-tags="model.tags")

  .default-container(data-ng-class="{'hide-filters' : handleMobileFiltersDisplay()}")
    .advanced-search-bar-wrap
      .pro-dropdown
        drop-down-primary(
          data-label="{{ ::'SEARCH.SORT_BY' | translate }}"
          data-main-list="sortList"
          data-on-select-main="updateSortTypeParam"
          data-placeholder="{{ ::'SEARCH.SATISFIED_PERCENT' | translate }}"
          data-selected-item="model.sortBy.value"
          data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )
      .pro-dropdown
        drop-down-primary(
        data-label="{{ ::'DASHBOARD.CREATE_PROFILE.PROFILE_LANGUAGE_HEADER' | translate }}"
        data-main-list="languagesList"
        data-on-select-main="updateLanguageTypeParam"
        data-placeholder="{{ ::'SEARCH.ALL_LANGUAGES' | translate }}"
        data-selected-item="model.language.value"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"

        )
      .pro-dropdown
        drop-down-primary(
        data-label="{{ ::'SEARCH.CONSULTANT_TYPE' | translate }}"
        data-main-list="profileTypeList"
        data-on-select-main="updateTypeListTypeParam"
        data-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        data-selected-item="model.profileType.value"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      .pro-dropdown
        drop-down-primary(
        data-label="{{ ::'SEARCH.DOMAINS' | translate }}"
        data-main-list="categoryList"
        data-on-select-main="updateCategoryTypeParam"
        data-placeholder="{{ ::'SEARCH.SATISFIED_PERCENT' | translate }}"
        data-selected-item="model.profileType.value"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      pro-range-slider(data-min-value='model.minPrice' data-max-value='model.maxPrice' data-label="{{::'SEARCH.PRICE_RANGE' | translate}}")

      pro-switcher(id="switcher" data-ng-model="model.onlyAvailable" data-label="SEARCH.EXPERTS_CURRENTLY_AVAILABLE")

  .mobile-filter-button(data-ng-if="showMobileFilterButton()" data-ng-click="showFilters()")
    span.icon.icon-filter-24.icon-24
    span(data-ng-hide="showMobileFilters") {{ 'SEARCH.MOBILE_FILTER_BUTTON.OPEN' | translate }}
    span(data-ng-show="showMobileFilters") {{ 'SEARCH.MOBILE_FILTER_BUTTON.CLOSE' | translate }}
