.pro-uploader
  .file-preview
    .upload-field.thumb.x64(
      class="drop-box"
      ngf-drop="uploadFiles($files)"
      ng-model="uploadedFiles"
      ngf-select="uploadFiles($files)"
      ngf-multiple="{{multiple}}" ngf-allow-dir="false"
      ngf-select-disabled="{{ isPending }}"
      ngf-pattern="'{{ngfPattern}}'"
      ngf-drop-disabled="{{ isPending }}"
      accept="{{ngfPattern}}"
      items="{{filesUploaded}}"
      ngf-resize="{{imageSize}}"
      data-ng-required="required"
      ngf-validate="{{ngfValidate}}"
      ngf-drag-over-class="{pattern: '{{ ngfPattern }}', accept:'acceptClass', reject:'rejectClass', delay:100}"
    )
      span.icon.icon-plus-12

  .file-info
    .upload-files
      .upload-description(ng-class="{'fade-effect': fadeText}" data-ng-hide="uploadImg")
        span.add-file {{ header | translate }}
          span(data-ng-hide="!upload")  {{progress}}%

      .upload-field-fill(style="height: {{ progress }}%")

    .input-error-messages.uploader-error-massages(data-ng-show="!!errorValidateMessage")
      .error(data-translate="{{errorMessage}}")
