.pro-uploader
  .upload-field(ngf-drop="uploadFiles($files)" ngf-select="uploadFiles($files)" ng-model="uploadedFiles" class="drop-box"
  ngf-multiple="{{multiple}}" ngf-allow-dir="false"
  ngf-select-disabled="isPending"
  ngf-pattern="'{{ngfPattern}}'"
  accept="{{ngfPattern}}"
  items="{{filesUploaded}}"
  ngf-resize="{{imageSize}}"
  data-ng-required="required"
  ngf-validate="{{ngfValidate}}"
  ngf-drag-over-class="{pattern: '{{pattern}}', accept:'acceptClass', reject:'rejectClass', delay:100}")
    .upload-icons(data-ng-hide="uploadImg")
      span.icon.icon-upload-cloud-64
      span.icon.icon-upload-arrow-24.icon-overlay(data-ng-hide="upload" ng-class="{'arrow-hide': hideArrow, 'arrow-show': showArrow}")
      span.icon.icon-upload-progress-24.icon-overlay-load.fa-spin.icon-24(data-ng-show="upload" ng-class="{'hide-loader' : hideLoader}")
    .upload-description(ng-class="{'fade-effect': fadeText}" data-ng-hide="uploadImg")
      h3 {{header | translate}}
        span(data-ng-hide="!upload")  {{progress}}%
      h5(data-translate="{{info | translate: translationInfo}}")
    .upload-field-fill(style="height: {{ progress }}%")

  .input-error-messages.uploader-error-massages
    .error(data-translate="{{errorMessage}}" data-ng-show="!!errorValidateMessage")
