.phone-number(data-ng-if="vm.current == 1")
  form.input-form(name="phoneNumberForm" data-ng-submit="vm.isValidPhoneNumber(vm.account.phoneNumber.prefix, vm.account.phoneNumber.number) " +
  "&& vm.getPhoneNumberStatus()" novalidate autocomplete="off")
    .inputs-handler
      .pro-dropdown
        dropdown-primary(
        data-label="{{ ::'LOGIN.PREFIX_LABEL' | translate }}"
        data-main-list="vm.prefixes"
        data-on-select-main="vm.updateSortTypeParam"
        data-placeholder="+48"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      input-primary.phone.label(
      data-type="tel"
      data-id="phoneNumber"
      data-placeholder="LOGIN.ENTER_NUMBER_PLACEHOLDER"
      data-ng-model="vm.account.phoneNumber.number"
      data-input-text="LOGIN.ENTER_NUMBER"
      data-is-valid="vm.isValidPhoneNumber(vm.account.phoneNumber.prefix, vm.account.phoneNumber.number)"
      data-validation-text="LOGIN.PHONE_NUMBER_REQUIRED"
      data-is-submitted="phoneNumberForm.$submitted"
      auto-focus
      )

    button.btn.btn-default(data-translate="LOGIN.NEXT" type="submit")

.password(data-ng-if="vm.current == 2")
  form.input-form(
  name="passwordForm"
  data-ng-submit="passwordForm.$valid && vm.login()"
  novalidate)
    input.hidden-input(data-ng-model="vm.account.phoneNumber.number" type="text" name="phone-number" tabindex="-1")
    input-password(
    data-id="password"
    data-ng-model="vm.account.password"
    data-input-text="LOGIN.SERVICE_PASSWORD"
    data-is-valid="vm.checkIsPasswordIncorrected() || !vm.serverError"
    data-validation-text="LOGIN.BAD_LOGIN_CREDENTIALS"
    data-is-submitted="passwordForm.$submitted"
    data-ng-required="true"
    auto-focus
    )

    .btn-handler.flex-row.login-handler
      button.btn.btn-default(type="submit" data-translate="LOGIN.NEXT")
      button.btn.btn-primary(data-ng-click="vm.backToPhoneNumber()" data-translate="LOGIN.BACK")
      
  .forgot-password
    a(data-ui-sref="app.login.forgot-password" data-translate="LOGIN.FORGOT_PASSWORD")
