.radio-text
  .radio(data-ng-click="$ctrl.onClick()")
    div
      input(
        type="radio"
        id="{{ $ctrl.id }}"
        name="{{ $ctrl.name }}"
        value="{{ $ctrl.value }}"
        data-ng-model="$ctrl.ngModel"
      )
      label.label
    span.text(for="{{ $ctrl.id }}") {{ $ctrl.label | translate }}

  .radio-description(data-ng-show="$ctrl.isCollapsed")
    p.label-description(data-ng-if="$ctrl.labelDescription") {{ $ctrl.labelDescription | translate }}

    textarea-primary(
      data-ng-if="$ctrl.isDescriptive"
      data-ng-model="$ctrl.name"
      data-id="{{$ctrl.id}}"
      data-max-length="600"
    )
