.complain-reason
  h5(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.TITLE")
  form(data-ng-submit="" novalidate)
    radio-btn-text(data-ng-repeat="reason in $ctrl.complaintReasons" data-ng-model="::$ctrl.model.value"
    value="{{ reason.id }} " data-id="{{ reason.id }}" data-label="{{ reason.name }}"
    data-label-description=" {{ reason.description }}"
    data-ng-click="$ctrl.isRadioSelected(reason)"
    data-ng-class="{'is-active': $ctrl.isSelected(reason)}"
    )

    .btn-group
      button.btn.btn-default(data-ng-click="::$ctrl.showComplainReasonModal()"
      data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.BUTTON")
