.step.step-done(data-ng-hide="vm.inEditMode")
  .container-medium
    .focus-layer(data-ng-click="hideDiv=!vm.hasProfile; onClick()" data-ng-hide="hideDiv")
    .title-step
      .step-description
        span.step-counter(data-translate="DASHBOARD.CREATE_PROFILE.STEP" data-translate-values="{step: 1, steps: vm.queue.amountOfSteps }")
        span.icon.icon-success-24

      .title-order
        h3.choose-path-title(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_TITLE")
        p.choose-path-description(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_DESCRIPTION")

    .step-content
      a.service-option.selected(data-ui-sref="app.dashboard.service-provider.individual-path")
        span.icon.icon-person-128
        p(data-translate="DASHBOARD.MENU.STEP1_ONE_PERSON")
        span.icon.icon-success-12

      a.service-option(data-ui-sref="app.dashboard.service-provider.company-path")
        span.icon.icon-multiperson-128
        p(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_MORE_PERSON")
        span.icon.icon-success-12

pro-service-provider-name(
data-queue="vm.queue"
data-order="2"
data-pro-model="vm.individualPathModel"
data-placeholder="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.NAME.PLACEHOLDER"
data-error-message="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.NAME.ERROR"
tr-title="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.NAME.TITLE"
tr-desc="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.NAME.DESC"
required
autofocus
)

pro-service-provider-avatar(
data-queue="vm.queue"
data-order="3"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.AVATAR.TITLE"
tr-desc="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.AVATAR.DESC"
)

pro-service-provider-description(
data-queue="vm.queue"
data-order="4"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.DESCRIPTION.TITLE"
tr-desc="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.DESCRIPTION.DESC"
)

pro-service-provider-languages(
data-queue="vm.queue"
data-order="5"
data-pro-model="vm.individualPathModel"
data-placeholder="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.LANGUAGES.PLACEHOLDER"
tr-title="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.LANGUAGES.TITLE"
tr-desc="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.LANGUAGES.DESC"
)

pro-service-provider-file-uploader(
data-queue="vm.queue"
data-order="6"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.DOCUMENTS.TITLE"
tr-desc="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.DOCUMENTS.DESC"
)

pro-service-external-links(
data-queue="vm.queue"
data-order="7"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.LINKS.TITLE"
tr-desc="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.LINKS.DESC"
)

pro-bottom-summary-row(
data-width="vm.progressBarWidth"
data-queue="vm.queue"
data-button-action="vm.saveAccountObject"
data-order="8"
data-header="DASHBOARD.SERVICE_PROVIDER.INDIVIDUAL_PATH.SUMMARY.HEADER"
)
