include partials/step-1.partial.jade

pro-service-provider-name(
data-queue="vm.queue"
data-order="2"
data-pro-model="vm.individualPathModel"
data-placeholder="'DASHBOARD.CONSULTATION_RANGE.CONSULTANTS_LIST_PLACEHOLDER' | translate"
tr-title="DASHBOARD.EXPERT_ACCOUNT.NAME_EXPERT"
tr-desc="DASHBOARD.EXPERT_ACCOUNT.NAME_EXPERT_DESCRIPTION"
data-placeholder="DASHBOARD.EXPERT_ACCOUNT.EXPERT_PLACEHOLDER"
required
)

pro-service-provider-description(
data-queue="vm.queue"
data-order="3"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.EXPERT_ACCOUNT.EXPERT_DESCRIPTION"
tr-desc="DASHBOARD.EXPERT_ACCOUNT.EXPERT_TITLE_DESCRIPTION"
)

pro-service-external-links(
data-queue="vm.queue"
data-order="4"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.CREATE_PROFILE.STEP6_TITLE"
tr-desc="DASHBOARD.CREATE_PROFILE.STEP6_DESCRIPTION"
)

pro-service-provider-languages(
data-queue="vm.queue"
data-order="5"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.CREATE_PROFILE.STEP5_TITLE"
)

pro-bottom-summary-row(
data-width="vm.progressBarWidth"
data-queue="vm.queue"
data-button-action="vm.saveAccountObject"
)
