.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP" data-translate-values="{step: 1, steps: vm.queue.amountOfSteps }")
        i.icon.icon-success-24
  .step-content
    .option.selected(data-ui-sref="app.dashboard.service-provider.individual-path")
      i.icon.icon-person-128
      h5(data-translate="DASHBOARD.MENU.STEP1_ONE_PERSON")
    .option(data-ui-sref="app.dashboard.service-provider.company-path")
      i.icon.icon-multiperson-128
      h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_MORE_PERSON")


pro-service-provider-name(
data-queue="vm.queue"
data-order="2"
data-pro-model="vm.individualPathModel"
data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTANTS_LIST_PLACEHOLDER"
data-error-message="DASHBOARD.SERVICE_PROVIDER.NAME.BAD_NAME"
tr-title="DASHBOARD.EXPERT_ACCOUNT.NAME_EXPERT"
tr-desc="DASHBOARD.EXPERT_ACCOUNT.NAME_EXPERT_DESCRIPTION"
required
)

pro-service-provider-description(
data-queue="vm.queue"
data-order="3"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.EXPERT_ACCOUNT.EXPERT_DESCRIPTION"
tr-desc="DASHBOARD.EXPERT_ACCOUNT.EXPERT_TITLE_DESCRIPTION"
)

pro-service-external-links(
data-queue="vm.queue"
data-order="4"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.CREATE_PROFILE.STEP6_TITLE"
tr-desc="DASHBOARD.CREATE_PROFILE.STEP6_DESCRIPTION"
)

pro-service-provider-languages(
data-queue="vm.queue"
data-order="5"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.CREATE_PROFILE.STEP5_TITLE"
)

pro-service-provider-file-uploader(
data-queue="vm.queue"
data-order="6"
data-pro-model="vm.individualPathModel"
tr-title="DASHBOARD.CREATE_PROFILE.FILE_UPLOADER_TITLE"
tr-desc="DASHBOARD.CREATE_PROFILE.FILE_UPLOADER_DESCRIPTION"
)

pro-bottom-summary-row(
data-width="vm.progressBarWidth"
data-queue="vm.queue"
data-button-action="vm.saveAccountObject"
)

pro-bottom-summary-row(
data-width="vm.progressBarWidth"
data-queue="vm.queue"
data-button-action="vm.saveAccountObject"
)
