.modal-primary.invite-employees
  .container-big
    top-modal-navbar(data-on-close="vm.onModalClose")
    preloader-container(
    data-is-loading="vm.isLoading"
    data-is-error="vm.isError"
    data-error-message="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.LOADING_DATA_ERROR"
    data-error-fn="vm.getServices"
    )
      .modal-section
        header.entry-title
          span(data-translate="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.ADD_EMAILS_OR_PHONES")

        h3.add-employee-label(data-translate="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.ADD_EXPERT_LABEL")
        input-consultation-employee(
        data-added-items-list = "vm.invitationsInputValue"
        data-validation-text="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.NO_INVITATIONS_ERROR"
        data-is-submitted="vm.isSubmitted"
        data-is-valid="vm.isInvitationValid()"
        data-is-checkbox-visible="vm.isCheckboxVisible"
        )

      header.entry-title
        span(data-translate="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.SELECT_CONSULTATIONS")

      invite-employee-consultation-list-item(
      data-ng-repeat="service in vm.services"
      data-service="service"
      data-on-change="vm.onSelectedServices"
      )

      validation-alert(
      data-alert-text="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.NO_SERVICES_ERROR"
      data-is-visible="!vm.isServiceSelected() && vm.isSubmitted"
      )

      .invite-employees-action
        preloader-container(data-is-loading="vm.isSendingRequest")
          a.btn.btn-default(
          data-translate="DASHBOARD.EXPERT.EMPLOYEES.MODALS.INVITE_EMPLOYEES.SEND_BUTTON"
          data-ng-click="vm.sendInvitations()")

