.phone-number(data-ng-if="vm.current == 1")
  form.pro-input-form(name="phoneNumberForm" data-ng-submit="vm.isValidPhoneNumber(vm.account.phoneNumber.prefix, vm.account.phoneNumber.number) && vm.getPhoneNumberStatus()" novalidate)
    .inputs-handler
      .pro-dropdown
        drop-down-primary(
        data-label="prefix"
        data-main-list="vm.prefixes"
        data-on-select-main="vm.updateSortTypeParam"
        data-placeholder="+48"
        data-input-placeholder="{{ ::'SEARCH.ALL' | translate }}"
        )

      //pro-dropdown.prefix-phone(data-pro-model='vm.account.phoneNumber.prefix' data-label='prefix' data-placeholder='+48'
      //data-pro-items="vm.prefixes" data-no-search)

      pro-input.phone.label(data-label="{{'LOGIN.ENTER_NUMBER' | translate}}"
      data-type="tel"
      data-id="phoneNumber"
      data-placeholder="{{'LOGIN.ENTER_NUMBER_PLACEHOLDER' | translate}}"
      data-ng-model="vm.account.phoneNumber.number"
      data-ng-class="{'invalid': !vm.isValidPhoneNumber(vm.account.phoneNumber.prefix, vm.account.phoneNumber.number) && (phoneNumberForm.phoneNumber.$dirty || phoneNumberForm.$submitted)}"
      auto-focus only-digits)

    .input-error-messages
      .error.left(data-ng-show="phoneNumberForm.$submitted && !vm.isValidPhoneNumber(vm.account.phoneNumber.prefix, vm.account.phoneNumber.number) || phoneNumberForm.$submitted &&  vm.account.phoneNumber.prefix === null "
      data-translate="LOGIN.PHONE_NUMBER_REQUIRED")

    button.btn.btn-default(data-translate="LOGIN.NEXT" type="submit")

.password(data-ng-if="vm.current == 2")
  form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.login()" novalidate)
    pro-input-password(data-label="{{ 'LOGIN.SERVICE_PASSWORD' | translate }}"
    data-ng-model="vm.account.password"
    data-id="password"
    data-ng-pattern="vm.patternPassword"
    data-ng-class="{'invalid': passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted ||vm.serverError)}"
    required auto-focus)

    .input-error-messages
      .error.left(data-ng-show="passwordForm.$submitted && passwordForm.$invalid ||vm.serverError " data-translate="LOGIN.BAD_LOGIN_CREDENTIALS")
      
    .btn-handler.flex-row.login-handler
      button.btn.btn-default(type="submit" data-translate="LOGIN.NEXT")
      button.btn.btn-primary(data-ng-click="vm.backToPhoneNumber()" data-translate="LOGIN.BACK")
      
  .forgot-password
    a(data-ui-sref="app.login.forgot-password" data-translate="LOGIN.FORGOT_PASSWORD")
