.phone-number(data-ng-if="vm.current == 1")
  form.pro-input-form(name="phoneNumberForm" data-ng-submit="phoneNumberForm.$valid && vm.getPhoneNumberStatus()" novalidate)
    .inputs-handler
      pro-dropdown.prefix-phone(data-pro-model='vm.account.phoneNumber.prefix' data-label='prefix' data-placeholder='+48'
      data-pro-items="vm.prefix" data-no-search)


      pro-input.phone(data-label="{{'LOGIN.ENTER_NUMBER' | translate}}"
      data-name="phoneNumber"
      data-type="tel"
      data-placeholder="{{'LOGIN.ENTER_NUMBER_PLACEHOLDER' | translate}}"
      data-pro-model="vm.account.phoneNumber.number" data-ng-class="{'invalid': phoneNumberForm.phoneNumber.$invalid && (phoneNumberForm.phoneNumber.$dirty || phoneNumberForm.$submitted)}"
      data-ng-pattern="vm.pattern" required auto-focus only-digits)

    .input-error-messages
      .error.left(data-ng-show="phoneNumberForm.$submitted && phoneNumberForm.$invalid || phoneNumberForm.$submitted &&  vm.account.phoneNumber.prefix === null " data-translate="LOGIN.PHONE_NUMBER_REQUIRED")

    button.pro-btn.btn-main.btn-medium(data-translate="LOGIN.NEXT" type="submit")

.password(data-ng-if="vm.current == 2")

  form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.login()" novalidate)

    pro-input-password(data-label="{{ 'LOGIN.SERVICE_PASSWORD' | translate }}"
    data-pro-model="vm.account.password"
    data-name="password"
    data-ng-pattern="vm.patternPassword"
    data-ng-class="{'invalid': passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted ||vm.serverError)}"
    required auto-focus)

    .input-error-messages
      .error.left(data-ng-show="passwordForm.$submitted && passwordForm.$invalid ||vm.serverError " data-translate="LOGIN.BAD_LOGIN_CREDENTIALS")

    .btn-handler
      button.pro-btn.btn-main.btn-medium(type="submit" data-translate="LOGIN.NEXT")
      a.pro-btn.btn-light.btn-medium(data-ng-click="vm.backToPhoneNumber()" data-translate="LOGIN.BACK")
  .forgot-password
    a(data-ui-sref="app.login.forgot-password" data-translate="LOGIN.FORGOT_PASSWORD")



