.client-summary-modal.modal-summary
  .modal-main.container-small
    top-modal-navbar(data-on-close="vm.closeModal")
    preloader(data-is-loading="!callSummary")
      .modal-header
        .profile-preview.vertical-preview
          user-avatar.thumb.x96(data-image-token="expertAvatar")

          .profile-name
            a
              span {{ callSummary.companyExpertProfile.expertDetails.name }}

          .consultation-title.profile-consultation-title
            h3
              span {{ callSummary.service.name }}

      .modal-container
        .details-tab
          .details-row.details-header-row
            .details-tab-label

          .details-tab-row
            .details-tab-label
              span(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.COST")
            .details-tab-content
              .price-section(data-ng-bind-html="callSummary.cost | money")

          .details-tab-row
            .details-tab-label
              span(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.TIME_CONVERSATION")
            .details-tab-content
              span {{ callSummary.callDuration | secondsToDateTime | date:'HH:mm:ss' }}

        .tabs-container(data-ng-if="isRecommended" data-ng-switch="vm.currentTab" data-ng-style="vm.tabsContainerStyles")
          .ask-tab(data-ng-switch-when="ask" id="ask" data-get-height="vm.setTabsContainerSize")
            h3.tab-header(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.ASK_TAB.IS_HELPFUL")
            .buttons-container
              a.btn.btn-primary(data-ng-click="vm.showCommentTab()")
                span.icon.icon-sad-24
                span(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.ASK_TAB.NO_BUTTON")
              a.btn.btn-primary(data-ng-click="vm.showTagsTab()")
                span.icon.icon-smile-24
                span(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.ASK_TAB.YES_BUTTON")

          .tags-tab.animation(data-ng-switch-when="tag" id="tag" data-get-height="vm.setTabsContainerSize")
            h3.tab-header(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.TAGS_TAB.TITLE")
            multiselect(data-items="callSummary.tags.tags" data-field="name" data-on-select-change="vm.onTagsSelectChange")
            .button-container
              a.btn.btn-default(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.TAGS_TAB.SEND_BUTTON"
              data-ng-click="vm.showCommentTab()")

          .comment-tab.animation(data-ng-switch-when="comment" id="comment" data-get-height="vm.setTabsContainerSize")
            h3.tab-header(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.COMMENT_TAB.TITLE")
            p.comment-hint(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.COMMENT_TAB.HINT")
            textarea-primary(
            data-ng-model="vm.clientCommentInputValue"
            data-id="client_report"
            data-input-text="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.COMMENT_TAB.TEXTAREA_LABEL"
            data-max-length="600")
            .button-container
              button.btn.btn-default(data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.COMMENT_TAB.SEND_BUTTON"
              data-ng-click="vm.sendComment()"
              data-ng-disabled="!vm.isCommentValid()")

      .technical-problems-tab(data-ng-if="vm.isTechnicalProblemsTab")
        collapse-btn(
        data-is-collapsed="vm.isTechnicalProblemsCollapsed"
        data-title="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.TECHNICAL_PROBLEMS_TAB.BUTTON")

          form(novalidate)
            radio-btn-text(
            data-ng-repeat="problem in vm.technicalProblems"
            data-ng-model="vm.model.value"
            value="{{ problem.id }} "
            data-id="{{ problem.id }}"
            data-label="{{ problem.name }}"
            data-is-descriptive="problem.isDescriptive"
            data-ng-class="{'is-active': vm.isSelected(problem)}"
            )

            .btn-group
              button.btn.btn-primary(
              data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.TECHNICAL_PROBLEMS_TAB.CANCEL_BUTTON")
              button.btn.btn-default(
              data-translate="COMMUNICATOR.MODALS.CONSULTATION_SUMMARY_CLIENT.TECHNICAL_PROBLEMS_TAB.SEND_BUTTON")
