scrollable(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-form.container-medium.client-consultation-details-modal
    preloader(data-is-loading="vm.isLoading")
      .modal-header
        .profile-preview
          .thumb.x64
            user-avatar(data-image-token="vm.expertAvatar")

            .status-list
              span.status.availability
                span.icon.icon-success-12

          div
            .profile-name
              a
                span {{ vm.expertName }}

            .profile-consultation-title
              p {{ vm.serviceName }}

      .modal-container
        header.entry-title
          span.icon.icon-consultation-details-24
          span Details consultaiton

        .details-tab
          .details-tab-row.details-header-row
            .details-tab-label
              span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COST")
            .details-tab-content.details-tab-price.price-section(data-ng-bind-html="vm.callCost | money")

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TIME_CONVERSATION")
            .details-tab-content
              span {{ vm.callDuration | millisecondsToDatetime | date: 'HH:mm:ss' }}
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.DATE_AND_TIME")
            .details-tab-content
              span {{ vm.startedAt | date: 'dd-MM-yyyy HH:mm ' }}
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CONSULTATION_ID")
            .details-tab-content
              span {{ vm.sueId }}
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CONVERSATION_PRICE_MIN")
            .details-tab-content
              .price-section(data-ng-bind-html="vm.callCostPerMinute | money")

        client-recommended-tags(data-ng-if="vm.isRecommendable"
        data-selected-tags="recommendedTags" data-is-recommended="vm.isRecommended"
        data-service-usage-event-id="vm.sueId"
        data-tags="vm.serviceTags")

        collapse-btn.chat-history(data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CHAT.BUTTON"
        data-collapse-icon="icon-consultation-chat-24")
          client-consultation-details-chat()

        collapse-btn(data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.BUTTON"
        data-collapse-icon="icon-complaint-24")
          client-complain(data-on-complain-open="vm.onModalClose")

        .btn.btn-collapse(data-ng-click="vm.onModalClose()")
          .collapse-btn-wrapper
            .btn.collapse-btn-header
              div
                span.icon.icon-history-24
                span(
                data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.HISTORY_OF_CONVERSATION.BUTTON")
