div
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-primary.container-big.edit-expert-profile
    preloader(data-is-loading="vm.isLoading")
      form(name="editProfileForm" novalidate)
        .profile-avatar
          user-avatar.thumb.x128
            a.thumb-options.add-photo(data-ng-click="removePhoto()")
              .icon.icon-plus-12

            a.thumb-options.remove-photo(data-ng-if="vm.isAvatarUploaded" data-ng-click="removePhoto()")
              .icon.icon-close-16

        div
          input-primary(
          data-type="text"
          data-id="inputText"
          data-placeholder="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_NAME.TITLE"
          data-ng-model="vm.inputText"
          data-input-text="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_NAME.TITLE"
          data-ng-required="true"
          data-max-length="{{vm.inputMaxLength}}"
          )

        div
          textarea-primary(
          data-input-text="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_DESCRIPTION.TITLE"
          data-placeholder="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_DESCRIPTION.TITLE"
          data-ng-model="vm.textareaDescription"
          data-id="edit_expert_area"
          data-max-length="{{vm.inputMaxLength}}"
          )

        div
          input-dropdown-tag(
            data-label="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LANGUAGE.LABEL"
            data-dictionary="vm.tagsMocks"
            data-hint-label="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LANGUAGE.HINT"
            data-placeholder="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LANGUAGE.PLACEHOLDER"
          )

        div
          wizard-links(
            data-label="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LINKS.LABEL"
            data-hint="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LINKS.HINT"
            data-placeholder="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.LINKS.PLACEHOLDER"
            data-order="6"
            data-pro-model="vm.companyPathModel"
          )

        div
          .files-uploaded-list
            .file-item(data-ng-repeat="file in model.files track by $index" disable)
              .file-preview
                .thumb.x64
                  img(src="{{file.file.name}}")

              .file-info
                span.file-name {{ file.file.name }}
                span.file-size {{:: 'DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.UPLOAD.FILE_SIZE' | translate }} 765mb

              .file-action
                span.icon.icon-trash-24(data-ng-click="removeFile(file)")

            .file-item
              pro-uploader(type="application/pdf,image/jpeg,image/png" files-uploaded="model.files" data-multiple data-ngf-pattern=".pdf,.jpg,.jpeg,.png" data-is-pending="isPending")


  .modal-action
    a.btn.btn-default(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.MODAL.EXPERT_NAME.BUTTON.SAVE")

