.dashboard-summary-company
  pro-service-provider-profile(
  data-name="vm.profile.name"
  data-description="vm.profile.description"
  data-languages="vm.profile.languages"
  data-button-action="vm.backToFirstStep"
  data-avatar="vm.companyLogo"
  )

  pro-service-provider-summary-step(
  data-consultations="vm.consultations"
  data-edit-action="vm.editConsultation"
  data-delete-action="vm.deleteConsultation"
  )
      pro-service-provider-name(
      data-queue="vm.editQueue"
      data-order="1"
      data-pro-model="vm.editModel"
      data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_PLACEHOLDER"
      data-error-message="DASHBOARD.SERVICE_PROVIDER.NAME.BAD_COMPANY_NAME"
      tr-title="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME"
      tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_DESCRIPTION"
      required
      )

      pro-service-provider-tags(
      data-queue="vm.editQueue"
      data-order="2"
      data-pro-model="vm.editModel"
      data-error-message="DASHBOARD.SERVICE_PROVIDER.NAME.EMPTY_TAGS"
      data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_PLACEHOLDER"
      tr-title="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_RANGE_TITLE"
      tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_DESCRIPTION"
      required
      )

      pro-service-provider-cost(
      data-queue="vm.editQueue"
      data-order="3"
      data-pro-model="vm.editModel"
      data-list="vm.currency"
      data-placeholder="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_COST_PLACEHOLDER"
      data-error-message="DASHBOARD.SERVICE_PROVIDER.NAME.BAD_COMPANY_NAME"
      data-summary-text="DASHBOARD.CONSULTATION_RANGE.COST_SUMMARY"
      tr-title="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_RANGE_COST_PER_MINUTE"
      tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_COST_DESCRIPTION"
      required
      )

      pro-service-provider-who-provides(
      data-queue="vm.editQueue"
      data-order="4"
      data-owner-employee="vm.ownerEmployee"
      data-pro-model="vm.editModel"
      data-placeholder="DASHBOARD.CONSULTATION_RANGE.EMAIL_EXAMPLE"
      data-error-message="DASHBOARD.SERVICE_PROVIDER.CONSULTATION.EMPTY_FIELD"
      data-label="DASHBOARD.CONSULTATION_RANGE.I_PROVIDES_CONSULTATION"
      tr-title="DASHBOARD.CONSULTATION_RANGE.WHO_PROVIDES_DESCRIPTION"
      tr-desc="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_DESCRIPTION"
      required
      )

      pro-bottom-consultation-button(
      data-button-action="vm.updateConsultation"
      data-queue="vm.editQueue"
      data-order="5"
      data-button-label="DASHBOARD.CREATE_PROFILE.EDIT_CONSULTATION"
      )

  div(data-ng-show="!!vm.expertProfile")
      pro-service-provider-profile(
      data-name="vm.expertProfile.name"
      data-description="vm.expertProfile.description"
      data-languages="vm.expertProfile.languages"
      data-button-action="vm.goToExpertEdit"
      data-avatar="vm.profileAvatar"
      )

  .step
      .summary-button.summary-next-step-button
          a.pro-button.rectangle.default(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.VERIFY_YOU_PROFILE" data-ng-click="vm.verifyProfile()")
