.navbar-company-menu(*ngIf="isMenuVisible", [@slideInOut])
  ul.smm-only
    li.menu-list__section.menu-list__section--mobile-close
      span.title([translate]="'NAVBAR_USER_MENU.ACCOUNT'")
      span.icon.icon-clear

  ul.menu-list
    li.menu-list__header
      .menu-list__user-information
        plat-user-avatar(
        [avatarSize]="avatarSize48",
        [avatarUrl]="companyAvatarUrl"
        )
        .user-name-container
          span.user-name-container__title([translate]="'NAVBAR_USER_MENU.LOGGED_AS'")
          span.user-name-container__user-name {{ companyName }}
      a.button.button--link((click)="openEditOrganizationModal()", [translate]="'NAVBAR_USER_MENU.SHOW'")

    li.menu-list__section.lgm-only
      ul
        li.menu-list__row
          span.icon.icon-list
          span.option-title([translate]="'NAVBAR_USER_MENU.ACTIVITIES'")

        li.menu-list__row
          span.icon.icon-organization
          span.option-title([translate]="'NAVBAR_USER_MENU.EMPLOYEES'")

    li.menu-list__section
      ul
        li.menu-list__row
          span.icon.icon-settings
          span.option-title([translate]="'NAVBAR_USER_MENU.SETTINGS'")

        li.menu-list__row
          span.icon.icon-payment-card
          span.option-title([translate]="'NAVBAR_USER_MENU.PAYMENT_METHODS'")

    li.menu-list__section(*ngIf="!isExpert")
      ul
        li.menu-list__row((click)="openEditProfileModal()")
          span.icon.icon-expert
          span.option-title([translate]="'NAVBAR_USER_MENU.BECOME_CONSULTATNT'")

    li.menu-list__section
      ul
        li.menu-list__row
          span.icon.icon-anymind
          span.option-title([translate]="'NAVBAR_USER_MENU.ANYMIND_WIDGET'")

        li.menu-list__row((click)="logout()")
          span.icon.icon-logout
          span.option-title([translate]="'NAVBAR_USER_MENU.LOGOUT'")

    li.menu-list__section.menu-list__section--switch-account(*ngIf="isExpert")
      ul
        li.menu-list__row((click)="onExpertProfileSwitch($event)", [routerLink]="['/dashboard/user/discover']")
          plat-user-avatar(
          [avatarSize]="avatarSize32",
          [avatarUrl]="expertAvatarUrl"
          )
          span.option-title([translate]="'NAVBAR_USER_MENU.SWITCH_TO_EXPERT'")

    li.menu-list__section.menu-list__section--switch-account(*ngIf="!isExpert")
      ul
        li.menu-list__row((click)="onExpertProfileSwitch($event)", [routerLink]="['/dashboard/user/discover']")
          plat-user-avatar(
          [avatarSize]="avatarSize32",
          [avatarUrl]="expertAvatarUrl"
          )
          span.option-title([translate]="'NAVBAR_USER_MENU.SWITCH_TO_CLIENT'")