.input-dropdown-tag
  .pro-input.input-group(data-ng-class="{'is-label': $ctrl.label, 'is-open': $ctrl.isOpen, 'on-click': $ctrl.isOpen}")
    input(
      type="text"
      placeholder="{{ $ctrl.placeholder | translate }}"
      data-ng-model="$ctrl.filterInputText"
      data-ng-click="$ctrl.inputClick()"
      data-ng-enter="$ctrl.onClickEnter()"
      data-ng-focus="$ctrl.onFocus()"
      data-ng-blur="$ctrl.onBlur()"
    )
    label {{ $ctrl.label | translate}}

  .dropdown-input(data-ng-class="{'is-open': $ctrl.isOpen}")
    .dropdown-content
      .scroll-list
        ul.dropdown-list
          li(data-ng-repeat="item in $ctrl.dropdownList | filter: $ctrl.filterInputText"
            data-ng-click="$ctrl.onMainItemSelect(item, $index, $event)")
            a {{ item.name}}

          li.no-results(data-ng-if="$ctrl.filteredItems.length === 0 || $ctrl.mainList.length < 1")
            a(data-translate="INTERFACE.DROPDOWN_PRIMARY.NO_RESULTS")

  p.hint {{ $ctrl.hintLabel | translate }}
  .alert-cloud(data-ng-show="!$ctrl.isValid && $ctrl.validationText " +
  "&& $ctrl.validationText.length > 0 && !$ctrl.isFocus && $ctrl.isDirty || $ctrl.isSubmitted && !$ctrl.isValid && " +
  "$ctrl.validationText && $ctrl.validationText.length > 0")
    span.alert-text {{:: $ctrl.validationText | translate }}

  ul.tag-list
    li(data-ng-repeat="item in $ctrl.selectedItems")
      a(data-ng-click="$ctrl.deleteSelectedItem(item, $index)")
        span {{ item.name }}
        span.icon.icon-failure-24
