.textarea(data-ng-click="$ctrl.onClick()" data-ng-class="{'is-invalid': $ctrl.validation, 'is-focused': $ctrl.isFocus}")
  label.label-text(data-ng-if="$ctrl.inputText") {{:: $ctrl.inputText | translate }}
  span.is-required(data-ng-if="$ctrl.ngRequired") *

  textarea(
    id="{{$ctrl.id}}"
    name="{{$ctrl.id}}"
    placeholder="{{ $ctrl.placeholder | translate }}"
    maxlength="{{$ctrl.maxLength}}"
    data-ng-model="$ctrl.ngModel"
    data-ng-focus="$ctrl.onFocus()"
    data-ng-blur="$ctrl.onBlur()"
  )

.input-sign-counter(data-ng-show="$ctrl.maxLength")
  span.label {{ $ctrl.ngModel.length || 0 }}
  span.label  / {{ $ctrl.maxLength }} {{:: 'INPUT.CHARACTERS.TITLE'	 | translate }}

validation-alert(
  data-alert-text="{{$ctrl.validationText}}"
  data-is-visible="!$ctrl.isValid && $ctrl.validationText && $ctrl.validationText.length > 0 && !$ctrl.isFocus && $ctrl.isDirty || $ctrl.isSubmitted && !$ctrl.isValid && $ctrl.validationText && $ctrl.validationText.length > 0"
  )
