.navbar-visibility
  header.status-title(data-translate="DASHBOARD.EXPERT_ACCOUNT.NAVBAR.AVAILBILITY.STATUS_TITLE")
  .btn-dropdown
    span.btn.btn-preloader(data-ng-if="$ctrl.isLoading")
    .btn-dropdown-header(data-ng-if="!$ctrl.isLoading" data-ng-click="$ctrl.toggleButton()")
      a.btn.btn-availbility(data-ng-show="$ctrl.isVisible")
        span.icon.icon-check-10
      a.btn.btn-not-availbility(data-ng-show="!$ctrl.isVisible")

    ul.btn-dropdown-list.collapse-height.animation.mobile-hidden(
      data-ng-if="$ctrl.isOpen"
      data-ng-class="{'is-pending': $ctrl.isVisibilityPending}"
    )
      li(data-ng-class="{'is-pending': $ctrl.isVisible}")
        radio-btn(
          data-ng-click="$ctrl.selectVisibleOption()"
          data-input-id="visible"
          data-label="DASHBOARD.EXPERT_ACCOUNT.NAVBAR.AVAILBILITY.VISIBLE"
          input-name="availbility_name"
          data-value="visible"
          data-ng-model="$ctrl.radioModel"
        )

      li(data-ng-class="{'is-pending': !$ctrl.isVisible}")
        radio-btn(
          data-ng-click="$ctrl.selectInvisibleOption()"
          data-input-id="invisible"
          data-label="DASHBOARD.EXPERT_ACCOUNT.NAVBAR.AVAILBILITY.INVISIBLE"
          input-name="availbility_name"
          data-value="invisible"
          data-ng-model="$ctrl.radioModel"
        )

    ul.btn-dropdown-list.desktop-hidden(data-ng-class="{'is-pending': $ctrl.isVisibilityPending}")
      li
        radio-btn(
          data-ng-click="$ctrl.selectVisibleOption()"
          data-input-id="visible_mobile"
          data-label="DASHBOARD.EXPERT_ACCOUNT.NAVBAR.AVAILBILITY.VISIBLE"
          input-name="availbility_name_mobile"
          data-value="visible"
          data-ng-model="$ctrl.radioModel"
        )

      li
        radio-btn(
          data-ng-click="$ctrl.selectInvisibleOption()"
          data-input-id="invisible_mobile"
          data-label="DASHBOARD.EXPERT_ACCOUNT.NAVBAR.AVAILBILITY.INVISIBLE"
          input-name="availbility_name_mobile"
          data-value="invisible"
          data-ng-model="$ctrl.radioModel"
        )
