pro-top-navbar(logout-action="appController.logout")

pro-expert-header(data-profile="vm.profile" data-avatar="vm.profileImage")
collapse-tab()

.default-container(ng-repeat="service in vm.services")

  pro-expert-single-consultation(
  data-service="service"
  data-satisfaction="74"
  data-talks="69"
  data-time-average="9"
  data-type="vm.profile.type"
  )

.default-container.file-slider
  pro-expert-slider(data-ng-show="vm.profile.files.length" data-sliders="vm.profile.files")

.default-container.social-section
  pro-expert-social-icons(data-ng-show="vm.profile.length" data-links="vm.profile.links")

.default-container
  social-links()

.default-container.experts-slider
  expert-slider()


pro-footer()
