pro-top-navbar()

pro-expert-header(data-profile="vm.profile" data-avatar="vm.profileImage")
  
div(ng-repeat="service in vm.services")
  pro-expert-single-consultation(
  data-name="service.details.name"
  data-satisfaction="74"
  data-talks="69"
  data-time-average="9"
  data-minute-cost="service.details.price"
  data-tags="service.details.tags"
  data-positive-mark="201"
  data-negative-mark="5"
  data-type="vm.profile.type"
  )

pro-expert-slider(data-sliders="vm.profile.files")

pro-expert-social-icons(data-links="vm.profile.links")

pro-footer()
