.input-price(data-ng-click="$ctrl.onClick()" data-ng-class="{'is-invalid': !$ctrl.isValidate " +
"&& !$ctrl.isFocus && $ctrl.validationText && $ctrl.isDirty," +
" 'is-focused': $ctrl.isFocus, 'is-disabled': $ctrl.isDisabled}")
  label.label-text(data-ng-if="$ctrl.inputText") {{:: $ctrl.inputText | translate }}

  .price-mock
    p.price-placeholder {{ vm.priceAmountInputValue }}
      span.currency {{ vm.currency }}

  input(
    type="text"
    id="{{$ctrl.id}}"
    name="{{$ctrl.id}}"
    placeholder="{{ $ctrl.placeholder | translate }}"
    data-ng-model="$ctrl.ngModel"
    data-ng-change="$ctrl.onChange()"
    data-ng-focus="$ctrl.onFocus()"
    data-ng-blur="$ctrl.onBlur()"
    data-ng-disabled="$ctrl.isDisabled"
  )

validation-alert(
  data-ng-show="$ctrl.validationText"
  data-alert-text="{{$ctrl.validationText}}"
  data-is-visible="!$ctrl.isPatternValid || !$ctrl.isValidate && $ctrl.validationText && $ctrl.validationText.length > 0 && !$ctrl.isFocus && $ctrl.isDirty || " +
  "$ctrl.isSubmitted && !$ctrl.isValidate && $ctrl.validationText && $ctrl.validationText.length > 0"
)
